<table width="90%" border="0" align="center"  style="background-color: white;border-collapse: separate;">
    <tr>
        <td colspan="2">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>DECLARATION</b>
            </font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">I/We declare that the particular given herein above are true and correct.</font>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">I/We enclose herewith the copies of the following documents.</font>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">(To be submitted with the export goods in the warehouse)</font>
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td width="8%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">1</font>
        </td>
        <td width="92%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">GR Declaration </font>
        </td>
    </tr>
    <tr>
        <td width="8%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">2</font>
        </td>
        <td width="92%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">DEEC Declaration </font>
        </td>
    </tr>
    <tr>
        <td width="8%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">3</font>
        </td>
        <td width="92%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Invoice</font>
        </td>
    </tr>
    <tr>
        <td width="8%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">4</font>
        </td>
        <td width="92%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Quota/Inspection etc. certificates.</font>
        </td>
    </tr>
    <tr>
        <td width="8%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">5</font>
        </td>
        <td width="92%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Other(Specify)</font>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="99%" border="1" align="center" cellspacing="1" cellpadding="1" style="background-color: white;border-collapse: separate;">
                <tr>
                    <td width="16%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Name of the Exporter</font>
                    </td>
                    <td width="33%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{dataTable3[0]?.EXP_NAME}}
                            </b>
                        </font>
                    </td>
                    <td width="18%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Name of CHA</font>
                    </td>
                    <td width="33%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                <b>
                                    {{dataTable2[0]?.CMP_NAME}}
                                </b>
                            </font>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="16%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Designation</font>
                    </td>
                    <td width="33%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{dataTable[0]?.SDES}}
                            </b>
                        </font>
                    </td>
                    <td width="18%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Designation</font>
                    </td>
                    <td width="33%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{dataTable[0]?.CDES}}
                            </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="16%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                &nbsp;
                            </b>
                        </font>
                    </td>
                    <td width="33%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                &nbsp;
                            </b>
                        </font>
                    </td>
                    <td width="18%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">ID Card Number</font>
                    </td>
                    <td width="33%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{dataTable[0]?.IDNO}}
                            </b>
                        </font>
                    </td>
                </tr>
            </table>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="90%" border="0" style="background-color: white;border-collapse: separate;">
                <tr>
                    <td width="9%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Dated : </font>
                    </td>
                    <td width="38%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{dataTable[0]?.DDATE}}
                            </b>
                        </font>
                    </td>
                    <td width="16%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Signature</font>
                    </td>
                    <td width="37%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">_____________________</font>
                    </td>
                </tr>
                <tr>
                    <td width="9%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                    </td>
                    <td width="38%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                    </td>
                    <td width="16%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                    </td>
                    <td width="37%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                    </td>
                </tr>
            </table>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>INSTRUCTIONS</b>
            </font>
        </td>
    </tr>
    <tr>
        <td>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">1. </font>
        </td>
        <td>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">All entries should be made in CAPITAL LETTERS</font>
        </td>
    </tr>
    <tr>
        <td>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">2.</font>
        </td>
        <td>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Photocopies of the invoice has to be attached separately with declaration form for data entry</font>
        </td>
    </tr>
</table>