<table width="90%" border="1" align="center" cellpadding="4" cellspacing="1" style="background-color: white;border-collapse: separate;">

    <tr>
        <td colspan="5">
            <h5>
                <font size="2">INVOICE DETAILS</font>
            </h5>
        </td>
    </tr>
    <tr>
        <td width="5%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">18</font>
        </td>
        <td width="25%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Invoice number </font>
        </td>
        <td width="33%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    {{dataTable1[0]?.EXPT_INVNO}}
                </b>
            </font>
        </td>
        <td width="18%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Date</font>
        </td>
        <td width="19%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    {{dataTable1[0]?.EXPT_INVDATE}}
                </b>
            </font>
        </td>
    </tr>
    <tr>
        <td width="5%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">19</font>
        </td>
        <td width="25%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Nature of Payment
            </font>
        </td>
        <td colspan="3">
            <table width="90%" border="0" cellpadding="4" cellspacing="1" style="background-color: white;border-collapse: separate;">
                <tr>
                    <td width="52%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">[LC] Letter of Credit
                            <b>
                                [ {{(dataTable1[0]?.NATUREOFPAYMENT.substring(0, 4)=='(LC)')? 'X' : ''}} ]
                            </b>
                        </font>
                    </td>
                    <td colspan="2">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">[DP] Direct Payment
                            <b>
                                [ {{(dataTable1[0]?.NATUREOFPAYMENT.substring(0, 4)=='(DP)')? 'X'  : ''}} ]
                            </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="52%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">[DA] Delivery against
                            <b>
                                [ {{(dataTable1[0]?.NATUREOFPAYMENT.substring(0, 4)=='(DA)')? 'X'  : ''}} ]
                            </b>Acceptance </font>
                    </td>
                    <td colspan="2">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">[AP] Advance Payment
                            <b>
                                [ {{(dataTable1[0]?.NATUREOFPAYMENT.substring(0, 4)=='(AP)')? 'X'  : ''}} ]
                            </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="52%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">[NA] Not Applicable
                            <b>
                                [ {{(dataTable1[0]?.NATUREOFPAYMENT.substring(0, 4)=='(NA)')? 'X'  : ''}} ]
                            </b>
                        </font>
                    </td>
                    <td width="28%">&nbsp;</td>
                    <td width="20%">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="5%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">20</font>
        </td>
        <td width="25%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Period of Payment as per contract(in days)</font>
        </td>
        <td colspan="3">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    {{dataTable[0]?.PERIOD}}
                </b>
            </font>
        </td>
    </tr>
    <tr>
        <td width="5%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">21</font>
        </td>
        <td width="25%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Contract Number </font>
        </td>
        <td colspan="3">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    {{dataTable1[0]?.EXPTCONTRACTNO}}
                </b>
            </font>
        </td>
    </tr>
    <tr>
        <td width="5%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">22</font>
        </td>
        <td width="25%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Whether Consignee and Buyer Same</font>
        </td>
        <td colspan="3">
            <table width="50%" border="0" align="center" style="background-color: white;border-collapse: separate;">
                <tr>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Yes
                            <b>
                                [ {{(dataTable1[0]?.NOTIFYBUYER=='yes')? 'X'  : ''}} ]
                            </b>
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">No
                            <b>
                                [ {{(dataTable1[0]?.NOTIFYBUYER=='no')? 'X'  : ''}} ]
                            </b>
                        </font>
                    </td>
                </tr>
            </table>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
    </tr>
    <tr>
        <td width="5%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">23</font>
        </td>
        <td width="25%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">If NO. Name &amp; Address of Buyer</font>
        </td>
        <td colspan="3">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                28, AVENUE DE FLANDRE, 75019, PARIS, LE HAVRE FRANCE
            </font>
        </td>
    </tr>
    <tr>
        <td width="5%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">24</font>
        </td>
        <td width="25%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Invoice Currency </font>
        </td>
        <td colspan="3">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    {{dataTable1[0]?.EXPT_CURNAME}}
                </b>
            </font>
        </td>
    </tr>
    <tr>
        <td width="5%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">25</font>
        </td>
        <td width="25%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Nature of Contract
            </font>
        </td>
        <td colspan="3">
            <table width="90%" border="0" style="background-color: white;border-collapse: separate;">
                <tr>
                    <td height="22" width="24%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">[1]-FOB
                            <b>
                                [ {{(dataTable1[0]?.EXPT_INVTYPE=='FOB')? 'X'  : ''}} ]
                            </b>
                        </font>
                    </td>
                    <td height="22" width="26%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">[2]-CIF
                            <b>
                                [ {{(dataTable1[0]?.EXPT_INVTYPE=='CIF')? 'X'  : ''}} ]
                            </b>
                        </font>
                    </td>
                    <td height="22" width="24%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">[3]-CF
                            <b>
                                [ {{(dataTable1[0]?.EXPT_INVTYPE=='C&F')? 'X'  : ''}} ]
                            </b>
                        </font>
                    </td>
                    <td height="22" width="26%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">[4]-CI
                            <b>
                                [ {{(dataTable1[0]?.EXPT_INVTYPE=='C&I')? 'X'  : ''}} ]
                            </b>
                        </font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">26. </font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>Charges</b>
            </font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <table width="90%" border="1">
                <tr>
                    <td>
                        <b>
                            &nbsp;
                        </b>
                    </td>
                    <td>
                        <b>
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Rate</font>
                        </b>
                    </td>
                    <td>
                        <b>
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Currency</font>
                        </b>
                    </td>
                    <td>
                        <b>
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Amount</font>
                        </b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Commission</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{dataTable1[0]?.EXPT_CURNAME}}
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{dataTable[0]?.COMMISSION}}
                        </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Discount on FOB Rate</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{dataTable1[0]?.EXPT_CURNAME}}
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{dataTable[0]?.DISCOUNT}}
                        </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Packing &amp; Misc. Charges
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{dataTable1[0]?.EXPT_CURNAME}}
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{dataTable[0]?.MISC}}
                        </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Other Deductions </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{dataTable1[0]?.EXPT_CURNAME}}
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{dataTable[0]?.DEDUCTION}}
                        </font>
                    </td>
                </tr>
                <tr>
                    <td height="24">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Freight</font>
                    </td>
                    <td height="24">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;
                        </font>
                    </td>
                    <td height="24">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{dataTable1[0]?.EXPT_CURNAME}}
                        </font>
                    </td>
                    <td height="24">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{dataTable[0]?.FREIGHT}}
                        </font>
                    </td>
                </tr>
                <tr>
                    <td height="24">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Insurance</font>
                    </td>
                    <td height="24">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;
                        </font>
                    </td>
                    <td height="24">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{dataTable1[0]?.EXPT_CURNAME}}
                        </font>
                    </td>
                    <td height="24">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{dataTable[0]?.INSURANCE}}
                        </font>
                    </td>
                </tr>
            </table>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
    </tr>
    <tr>
        <td width="5%" height="56">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">25</font>
        </td>
        <td width="25%" height="56">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Whether the Unit Price Includes</font>
        </td>
        <td colspan="3" height="56">
            <table width="90%" border="0" align="center" style="background-color: white;border-collapse: separate;">
                <tr>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{(dataTable1[0]?.NOTIFYBUYER=='yes')? 'X'  : ''}}
                            </b>
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b> </b>[F] - Freight</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{(dataTable1[0]?.NOTIFYBUYER=='yes')? 'X'  : ''}}
                            </b>
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b> </b>[I] - Insurance</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{(dataTable1[0]?.NOTIFYBUYER=='yes')? 'X'  : ''}}
                            </b>
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b> </b>[B] - Freight &amp; Insurance</font>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{(dataTable1[0]?.NOTIFYBUYER=='yes')? 'X'  : ''}}
                            </b>
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b> </b>[N] - None</font>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
    </tr>
</table>
<p></p>
<table width="90%" border="1" align="center">
    <tr>
        <td height="22">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">27. </font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>Exchane Rate Details for non-standard Currency</b>
            </font>
        </td>
    </tr>
    <tr>
        <td>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <table width="90%" border="1" align="center" style="background-color: white;border-collapse: separate;">
                <tr>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Currency Code/Name </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Unit in Rupees</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Exchange Rate </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Effective Date </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Bank Name </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Certificate Number </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Certificate Date </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">1</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">2</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">3</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">4</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">5</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">6</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">7</font>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let obj of dataTable3">
                    <td>
                        <b>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{obj.CODE}}
                            </font>
                        </b>
                    </td>
                    <td>
                        <b>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{obj.UNIT}}
                            </font>
                        </b>
                    </td>
                    <td>
                        <b>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{obj.EXCHANGE_RATE}}
                            </font>
                        </b>
                    </td>
                    <td>
                        <b>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{obj.EFFECTIVE_DATE}}
                            </font>
                        </b>
                    </td>
                    <td>
                        <b>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{obj.BANK_NAME}}
                            </font>
                        </b>
                    </td>
                    <td>
                        <b>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{obj.CERTIFICATE_NO}}
                            </font>
                        </b>
                    </td>
                    <td>
                        <b>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{obj.CERTIFICATE_DATE}}
                            </font>
                        </b>
                    </td>
                </tr>
            </table>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
    </tr>
</table>