<table width="90%" border="0" align="center">
    <tr>
        <td colspan="2">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">30. &nbsp;
            </font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>DEEC/EPCG Licenses Particulars</b>
            </font>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="90%" border="1"  style="background-color: white;border-collapse: separate;">
                <tr>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Invoice Serial Number</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Item Serial Number</font>
                    </td>
                    <td colspan="6">
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">DEEC/EPCG Licences Particulars</font>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Registration Number </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Serial Number in Part (E)</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Serial Number in Part (C)</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Quantity</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Accounting Unit </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Whether Indigenous/Imported </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">1</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">2</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">3</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">4</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">5</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">6</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">7</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">8</font>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let obj of dtDeecEpcg; let i= index">
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">{{obj.SRNO}}</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">{{obj.ITEMNO}}</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">{{obj.REGNO}}</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">{{obj.SRNOE}}</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">{{obj.SRNOC}}</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">{{obj.QTY}}</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">{{obj.UNIT}}</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">{{obj.INDI}}</font>
                    </td>
                </tr>
            </table>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
    </tr>
</table>