<br />
<table width="100%" border="0" align="center">
    <tr>
        <td colspan="2">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">31. &nbsp;
                <b>DFRC Licenses Particulars </b>
            </font>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="85%" border="1" align="left" style="background-color: white;border-collapse: separate;">
                <tr>
                    <td width="7%">
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Invoice Serial Number</font>
                        </div>
                    </td>
                    <td width="6%">
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Item Serial Number</font>
                        </div>
                    </td>
                    <td colspan="7">
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">DEEC/EPCG Licenses Particulars</font>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="7%" height="57">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;
                        </font>
                    </td>
                    <td width="6%" height="57">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;
                        </font>
                    </td>
                    <td width="11%" height="57">
                        <div align="center">
                            <table width="85%" border="0" cellpadding="1" cellspacing="1">
                                <tr>
                                    <td>
                                        <div align="center">
                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Registration
                                            </font>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div align="center">
                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Number
                                            </font>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="11%" height="57">
                        <div align="center">
                            <table width="85%" border="0" cellpadding="1" cellspacing="1">
                                <tr>
                                    <td nowrap>
                                        <div align="center">
                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Standard IO </font>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap>
                                        <div align="center">
                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Group Code </font>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="12%" height="57">
                        <div align="center">
                            <table width="85%" border="0" cellpadding="1" cellspacing="1">
                                <tr>
                                    <td nowrap>
                                        <div align="center">
                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Standard IO </font>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap>
                                        <div align="center">
                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Serial Number </font>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="15%" height="57">
                        <div align="center">
                            <table width="85%" border="0">
                                <tr>
                                    <td nowrap>
                                        <div align="center">
                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Standard IO Norm</font>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap>
                                        <div align="center">
                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Serial Number </font>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="8%" height="57">
                        <div align="center">
                            <table width="85%" border="0" cellpadding="1" cellspacing="1">
                                <tr>
                                    <td nowrap height="19">
                                        <div align="center">
                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Quantity</font>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="9%" height="57">
                        <div align="center">
                            <table width="85%" border="0" cellpadding="1" cellspacing="1">
                                <tr>
                                    <td nowrap>
                                        <div align="center">
                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Accounting</font>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap>
                                        <div align="center">
                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Unit</font>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="21%" height="57">
                        <div align="center">
                            <table width="85%" border="0" cellpadding="1" cellspacing="1">
                                <tr>
                                    <td nowrap>
                                        <div align="center">
                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Whether</font>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap height="17">
                                        <div align="center">
                                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Indigenous / Imported</font>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="7%">
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">1</font>
                        </div>
                    </td>
                    <td width="6%">
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">2</font>
                        </div>
                    </td>
                    <td width="11%">
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">3</font>
                        </div>
                    </td>
                    <td width="11%">
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">4</font>
                        </div>
                    </td>
                    <td width="12%">
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">5</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">6</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">7</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">8</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">9</font>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let obj of dtDfrc; let i= index">
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.SRNO}}
                        </font>
                    </td>
                    <td width="7%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.ITEMNO}}
                            <b> </b>
                        </font>
                    </td>
                    <td width="6%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.REGNO}}
                        </font>
                    </td>
                    <td width="11%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.SRNOE}}
                        </font>
                    </td>
                    <td width="11%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.SRNOC}}
                        </font>
                    </td>
                    <td width="12%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.QTY}}
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.UNIT}}
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.INDI}}
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.SRNON}}
                        </font>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
</table>