<table width="20%" border="0" align="center" style="background-color: white;border-collapse: separate;">
    <tr>
        <td nowrap>
            <h3>ANNEXURE - A</h3>
        </td>
    </tr>
</table>
<table width="80%" border="0" align="center" style="background-color: white;border-collapse: separate;">
    <tr>
        <td>
            <h4 align="center">DECLARATION FORM FOR EXPORT OF GOODS</h4>
        </td>
    </tr>
</table>
<table width="80%" border="0" align="center" style="background-color: white;border-collapse: separate;">
    <tr>
        <td>
            <h5 align="center">TO BE FILLED IN BY THE SERVICE CENTRE</h5>
        </td>
    </tr>
</table>
<table width="100%" border="0" align="center" style="background-color: white;border-collapse: separate;">
    <tr>
        <td>
            <table width="90%" border="1" align="center" cellpadding="4" cellspacing="1" style="background-color: white;border-collapse: separate;">

                <tr>
                    <td nowrap>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Date of Presentation</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Job Number/Date </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                            </b>
                            &nbsp;
                        </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Shipping Bill No.</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                            </b>
                            &nbsp;
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Date</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                            </b>
                            &nbsp;
                        </font>
                    </td>
                </tr>
                <tr>
                    <td height="28">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;
                        </font>
                    </td>
                    <td height="28">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;
                        </font>
                    </td>
                    <td height="28">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Signature</font>
                    </td>
                    <td height="28">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="30">
            <table width="90%" border="1" align="center" cellpadding="4" cellspacing="1" style="background-color: white;border-collapse: separate;">

                <tr>
                    <td colspan="5" height="8">
                        <h5 align="center">TO BE FILLED IN BY THE EXPORTER/CHA</h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>MASTER DETAILS
                            </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">1</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">CHA License Number</font>
                    </td>
                    <td width="29%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                <b>
                                    {{dataTable2[0]?.CMP_CUSTLICNO}}
                                </b>
                            </font>
                        </font>
                    </td>
                    <td width="7%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Name</font>
                    </td>
                    <td width="38%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                <b>
                                    {{dataTable2[0]?.CMP_NAME}}
                                </b>
                            </font>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">2</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">IEC Code Number</font>
                    </td>
                    <td width="29%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{dataTable3[0]?.EXP_IECCODE}}
                            </b>
                        </font>
                    </td>
                    <td width="7%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Name</font>
                    </td>
                    <td width="38%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{dataTable3[0]?.EXP_NAME}}
                            </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">3</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Exporter Address </font>
                    </td>
                    <td colspan="3">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{dataTable3[0]?.EXP_ADD1 + ' ' +dataTable3[0]?.EXP_ADD2 + ' ' +dataTable3[0]?.CITY_NAME + ' ' +dataTable3[0]?.EXP_PINCODE
                                + ' ' +dataTable3[0]?.CITY_COUNTRY}}
                            </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">4</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Exporter Type </font>
                    </td>
                    <td nowrap colspan="2">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            [P]-Private [
                            <b>{{(dataTable[0]?.EXPTYPEB=='(P)')? 'X' : ''}}</b>]
                        </font>
                    </td>
                    <td nowrap>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            [G]-Government [
                            <b>
                                {{(dataTable[0]?.EXPTYPEB=='(G)')? 'X' : ''}}
                            </b> ] </font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">5</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Merchant/Manufacturer</font>
                    </td>
                    <td nowrap colspan="2">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">[R]-Merchant [
                            <b>
                                {{(dataTable[0]?.EXPTYPEA=='(R)')? 'X' : ''}}
                            </b> ]</font>
                    </td>
                    <td nowrap>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            [F]-Manufacturer [
                            <b>
                                {{(dataTable[0]?.EXPTYPEA=='(F)')? 'X' : ''}}
                            </b> ] </font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">6</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Consignee Name </font>
                    </td>
                    <td colspan="3">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{dataTable4[0]?.CON_NAME}}
                            </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">7</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Consignee Address </font>
                    </td>
                    <td colspan="3">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{dataTable4[0]?.CON_ADD1 + ' ' +dataTable4[0]?.CON_ADD2 + ' ' +dataTable4[0]?.CITY_NAME + ' ' +dataTable4[0]?.CON_PINCODE
                                + ' ' +dataTable4[0]?.CITY_COUNTRY}}
                            </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">8</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Consignee Country
                        </font>
                    </td>
                    <td colspan="3">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{dataTable4[0]?.CITY_COUNTRY}}
                            </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">9</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Port of Destination</font>
                    </td>
                    <td colspan="3">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                {{dataTable[0]?.POD}}
                            </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">10</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Country of Final Destination</font>
                    </td>
                    <td colspan="3">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                    {{dataTable[0]?.COD}}
                            </b>
                        </font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">11</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">State of Origin of Exported Goods</font>
                    </td>
                    <td colspan="3">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                    {{dataTable3[0]?.EXP_STATE}}
                            </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">12</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">EPZ/ICD Code
                        </font>
                    </td>
                    <td colspan="3">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                &nbsp;
                            </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">13</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Authorized Dealer(AD) Code</font>
                    </td>
                    <td colspan="3">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                    {{dataTable3[0]?.EXP_DELARCODE}}
                            </b>
                        </font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">14</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">RBI Waiver Number</font>
                    </td>
                    <td colspan="3">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                    {{dataTable3[0]?.EXP_RBIWAIVERNO}}
                            </b>
                        </font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">15</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">RBI Waiver Date</font>
                    </td>
                    <td colspan="3">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            <b>
                                &nbsp;
                            </b>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="4%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">16</font>
                    </td>
                    <td width="22%">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Annexure C Parameters</font>
                    </td>
                    <td nowrap colspan="2">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">YES [
                            <b>
                                    {{(dataTable[0]?.PARAMETER=='yes')? 'X' : ''}}
                            </b> ]</font>
                    </td>
                    <td nowrap>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            No [
                            <b>
                                    {{(dataTable[0]?.PARAMETER=='no')? 'X' : ''}}
                            </b>] </font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>