<table width="90%" border="0" align="center">
    <tr>
        <td width="6%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">28.</font>
        </td>
        <td width="94%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>Item Wise Details (To be provided for each invoice separately</b>
            </font>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="90%" border="1"  style="background-color: white;border-collapse: separate;">
                <tr>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Item Sr.No. </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">RITC Code </font>
                    </td>
                    <td nowrap>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Description of Goods</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Accessories if any</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Quantity</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Accounting Unit
                        </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Item Rate </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">No. of Units</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Accounting Unit For Rate</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Present Market Value</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Scheme Code </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Category if NFEI Exports</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Whether Third Party Export (Y/N)</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">1</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">2</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">3</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">4</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">5</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">6</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">7</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">8</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">9</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">10</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">11</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">12</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">13</font>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let obj of dtItemDetail">
                    <td height="25">
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                {{obj.SRNO}}
                            </font>
                        </div>
                    </td>
                    <td height="25">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.RITCNO}}
                        </font>
                    </td>
                    <td height="25">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.IDESC}}
                        </font>
                    </td>
                    <td height="25">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.ACCRY}}
                        </font>
                    </td>
                    <td height="25">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.QTY}}
                        </font>
                    </td>
                    <td height="25">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.ACUNIT}}
                        </font>
                    </td>
                    <td height="25">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.ITEM}}
                        </font>
                    </td>
                    <td height="25">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.NOOFUNIT}}
                        </font>
                    </td>
                    <td height="25">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.UNITRATE}}
                        </font>
                    </td>
                    <td height="25">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.MKTVALUE}}
                        </font>
                    </td>
                    <td height="25">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.SCHEME}}
                        </font>
                    </td>
                    <td height="25">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.NFEI}}
                        </font>
                    </td>
                    <td height="25">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                            {{obj.THIRDPARTY}}
                        </font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Note:</font>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Whether third part export : Need to be provided for Scheme Codes involving DBK and DEPB only. For the scheme</font>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">code involving DEEC, EPCG etc system would determine the third party export automatically.</font>
        </td>
    </tr>
</table>