<table width="90%" border="0" align="center" cellpadding="6" cellspacing="8" style="background-color: white;border-collapse: separate;">
    <tr>
        <td height="23" width="6%">
            <h6 align="left">17. </h6>
        </td>
        <td height="23" colspan="5">
            <h6 align="left">ANNEXURE C PARTICULARS (ONLY TO BE FILLED FOR ICD/CFS &amp; SEA SITES) </h6>
        </td>
    </tr>
    <tr>
        <td width="6%">
            <div align="right">
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">a.</font>
            </div>
        </td>
        <td width="28%" nowrap>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">FACTORY STUFFED(Y/N) </font>
        </td>
        <td width="14%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    [ {{(dataTable[0]?.STUFFING=='Yes')? 'Y' : 'N'}} ]
                </b>
            </font>
        </td>
        <td width="5%">
            <div align="right">
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">b.</font>
            </div>
        </td>
        <td width="29%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Sample Accompanied (Y/N)</font>
        </td>
        <td width="18%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    {{dataTable[0]?.SAMPLE}}
                </b>
            </font>
        </td>
    </tr>
    <tr>
        <td width="6%">
            <div align="right">
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">c.</font>
            </div>
        </td>
        <td width="28%" nowrap>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Nature of Cargo</font>
        </td>
        <td width="14%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    [ {{dataTable[0]?.CARGOSTAT}} ]
                </b>
            </font>
        </td>
        <td width="5%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
        <td colspan="2">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
    </tr>
    <tr>
        <td width="6%">
            <div align="right">
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">d.</font>
            </div>
        </td>
        <td width="28%" nowrap>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Marks &amp; Numbers</font>
        </td>
        <td colspan="4">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    {{dataTable[0]?.MARK}}
                </b>
            </font>
        </td>
    </tr>
    <tr>
        <td width="6%">
            <div align="right">
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">e.</font>
            </div>
        </td>

        <td width="28%" nowrap>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Total No. of Packages</font>
        </td>
        <td width="14%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    {{dataTable1[0]?.EXPT_NOOFPKGS+ ' ' +dataTable1[0]?.EXPT_TYPEOFPKGS}}
                </b>
            </font>
        </td>
        <td width="5%">
            <div align="right">
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">f.</font>
            </div>
        </td>
        <td width="29%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">No. of Loose Packets</font>
        </td>
        <td width="18%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    {{dataTable1[0]?.EXPT_NOOFPCS+ ' ' +dataTable1[0]?.EXPT_TYPEOFPCS}}
                </b>
            </font>
        </td>
    </tr>
    <tr>
        <td width="6%">
            <div align="right">
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">g.</font>
            </div>
        </td>
        <td width="28%" nowrap>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">No. of Containers</font>
        </td>
        <td colspan="4">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                        {{dataTable[0]?.NOOFCONTAINER}}
                </b>
            </font>
        </td>
    </tr>
    <tr>
        <td width="6%">
            <div align="right">
                <font face="Verdana, Arial, Helvetica, sans-serif">
                    <font face="Verdana, Arial, Helvetica, sans-serif">
                        <font size="2">h.</font>
                    </font>
                </font>
            </div>
        </td>
        <td width="28%" nowrap>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Gross Weight </font>
        </td>
        <td width="14%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    {{dataTable1[0]?.EXPT_GRWT}}
                </b>
            </font>
        </td>
        <td width="5%">
            <div align="right">
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">i.</font>
            </div>
        </td>
        <td width="29%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Net Weight </font>
        </td>
        <td width="18%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    {{dataTable1[0]?.EXPT_NETWT}}
                </b>
            </font>
        </td>
    </tr>
    <tr>
        <td width="6%">
            <div align="right">
                <font face="Verdana, Arial, Helvetica, sans-serif">
                    <font face="Verdana, Arial, Helvetica, sans-serif">
                        <font size="2">j.</font>
                    </font>
                </font>
            </div>
        </td>
        <td width="28%" nowrap>
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Unit of Measurement</font>
        </td>
        <td width="14%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                <b>
                    {{dataTable[0]?.UNIT}}
                </b>
            </font>
        </td>
        <td width="5%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
        <td colspan="2">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
        </td>
    </tr>
    <tr>
        <td width="6%">
            <div align="right">
                <h5>
                    <font face="Verdana, Arial, Helvetica, sans-serif">
                        <font face="Verdana, Arial, Helvetica, sans-serif">
                            <font size="2">k.</font>
                        </font>
                    </font>
                </h5>
            </div>
        </td>
        <td colspan="5">
            <h5 align="left">
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">CONTAINER DETAILS (VALID, IF FACTORY STUFFED)</font>
            </h5>
        </td>
    </tr>
    <tr>
        <td width="6%">&nbsp;</td>
        <td rowspan="4" colspan="5" valign="top">
            <table width="80%" border="1" align="center" style="background-color: white;border-collapse: separate;">
                <tr>
                    <td nowrap>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Container Number </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Size</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Excise Seal Number</font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Seal Date </font>
                    </td>
                    <td>
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Number of Packets Stuffed</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">1</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">2</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">3</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">4</font>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">5</font>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let obj of dataTable2">
                    <td nowrap>
                        <b>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{obj.CONTAINERNO}}
                            </font>
                        </b>
                    </td>
                    <td nowrap>
                        <b>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{obj.SIZE}}
                            </font>
                        </b>
                    </td>
                    <td nowrap>
                        <b>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{obj.SEALNO}}
                            </font>
                        </b>
                    </td>
                    <td nowrap>
                        <b>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{obj.SEALDATE}}
                            </font>
                        </b>
                    </td>
                    <td nowrap>
                        <b>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{obj.PSTUFFED}}
                            </font>
                        </b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="6%">&nbsp;</td>
    </tr>
    <tr>
        <td width="6%">&nbsp;</td>
    </tr>
    <tr>
        <td width="6%">&nbsp;</td>
    </tr>
    <tr>
        <td width="6%" height="20">
            <div align="right">
                <h5>
                    <font face="Verdana, Arial, Helvetica, sans-serif">
                        <font face="Verdana, Arial, Helvetica, sans-serif">
                            <font size="2">l.</font>
                        </font>
                    </font>
                </h5>
            </div>
        </td>
        <td colspan="5" height="20">
            <h5 align="left">
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">PACKING DETAILS </font>
            </h5>
        </td>
    </tr>
    <tr>
        <td width="6%">&nbsp;</td>
        <td colspan="5" valign="top">
            <table width="80%" border="1" align="center" cellpadding="4" cellspacing="1" style="background-color: white;border-collapse: separate;">
                <tr>
                    <td height="22" rowspan="2">
                        <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Sr.No.</font>
                    </td>
                    <td colspan="2" height="10" nowrap>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font>
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Packet Number </font>
                        </div>
                    </td>
                    <td height="22" nowrap rowspan="2">
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Type of Packets</font>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="10" nowrap>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">FROM</font>
                        </div>
                    </td>
                    <td height="10" nowrap>
                        <div align="center">
                            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">TO</font>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let obj of dataTable3; let i=index;">
                    <td>
                        <div align="center">
                            <b>
                                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                    {{i+1}}
                                </font>
                            </b>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <b>
                                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                    {{obj.PKGNOFROM}}
                                </font>
                            </b>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <b>
                                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                    {{obj.PKGNOTO}}
                                </font>
                            </b>
                        </div>
                    </td>
                    <td>
                        <div align="center">
                            <b>
                                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                                    {{obj.PKGNOALPHA}}
                                </font>
                            </b>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="6%">
            <div align="right">
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">m.</font>
            </div>
        </td>
        <td valign="top" width="28%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Rotation Number </font>
        </td>
        <td colspan="4" valign="top">
            <b>
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                    {{dataTable1[0]?.EXPT_VESSEL.substring(7)}}
                </font>
            </b>
        </td>
    </tr>
    <tr>
        <td width="6%">
            <div align="right">
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">n.</font>
            </div>
        </td>
        <td valign="top" width="28%">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Rotation Date </font>
        </td>
        <td colspan="4" valign="top">
            <b>
                <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
                    {{dataTable[0]?.RTDT}}
                </font>
            </b>
        </td>
    </tr>
    <tr>
        <td colspan="6">
            <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Note : Columns 'm' &amp; 'n' are valid only for Sea Customs Locations.</font>
        </td>
    </tr>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
</table>