<div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                   <strong>Docket Search</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <table class="table table-sm-new bgwhite">
                <tr class="title-head formheading">
                    <td colspan="2">
                        <span class="col-form-span-label"><strong>Search Details </strong></span>
                    </td>
                </tr>
            </table>
            <table class="table table-sm-new bgwhite">
                <tr class="title-head trbg">
                    <td class="right-text">
                        <span class="col-form-span-label">Export No</span><span class="col-form-span-error">*</span>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="ExptNo" class="form-control width120" [OnlyNumber]="true" [maxlength]="15" />
                    </td>
                </tr>
                <tr class="title-head trbg">
                    <td colspan="2" class="centerlabel">
                        <button type="button" name="searchButton" class="btn btn-sm btn-info" (click)="searchData();" #searchButton>
                            <span class="col-form-span-label"><i class="fa fa-search"></i>&nbsp;Search</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
        </div>
    </div>