<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>TRANSFER JOB BRANCH</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <table class="table table-sm-new bgwhite">
                <tr class="trbg">
                    <td colspan="2">
                        <span class="col-form-span-label">
                            <b>Genaral Details</b>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="width120">
                        <span class="col-form-span-label">
                            <b>Old Job No.<span class="col-form-span-error">*</span>
                            </b>
                        </span>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="OldJobNo" [maxlength]="15" class="form-control width120" />
                    </td>
                </tr>
                <tr>
                    <td class="width120">
                        <span class="col-form-span-label">
                            <b>BRANCH
                                <span class="col-form-span-error">*</span>
                            </b>
                        </span>
                    </td>
                    <td>
                        <ng-select [items]="BranchList" bindLabel="TEXTFIELD" bindValue="VALUEFIELD" placeholder="--Select Branch--" [(ngModel)]="Branch"
                            class="form-control">
                        </ng-select>
                    </td>
                </tr>
                <tr>
                    <td class="width120">
                        <span class="col-form-span-label">
                            <b>User Remarks<span class="col-form-span-error">*</span>
                            </b>
                        </span>
                    </td>
                    <td>
                        <textarea [(ngModel)]="UserRemarks" class="form-control" rows="3"></textarea>
                    </td>
                </tr>
                <tr class="trbg centerlabel">
                    <td colspan="2">
                        <button type="button" name="searchButton" class="btn btn-sm btn-primary" (click)="submit();" #submitButton>
                            <span class="col-form-span-label">
                                <i class="fa fa-send-o"></i>&nbsp;Submit</span>
                        </button>
                        <button type="button" name="searchButton" class="btn btn-sm btn-danger" (click)="reset();">
                            <span class="col-form-span-label">
                                <i class="fa fa-undo"></i>&nbsp;Reset</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>