<table class="table table-bordered table-striped table-sm-new bgwhite">
    <tbody>
       <tr>
          <td class="col-form-span-heading centerlabel" colspan="6">EXPORTER'S INVOICE DETAIL</td>
       </tr>
       <tr>
          <td class="width150"><span class="col-form-span-label">EXPORT NO </span> </td>
          <td colspan="5"><span class="col-form-span-label">{{exptno}}</span></td>
       </tr>
       <tr>
          <td class="width150"><span class="col-form-span-label">Gri No </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_GRINO}}</span></td>
          <td class="width150"><span class="col-form-span-label">Gri Date </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_GRINO}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Exporter Inv no.<span class="col-form-span-error">*</span></span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_INVNO}}</span></td>
          <td class="width150"><span class="col-form-span-label">Inv Date<span class="col-form-span-error">*</span></span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_INVDATE}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Currency Name </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_CURNAME}}</span></td>
          <td class="width150"><span class="col-form-span-label"></span></td>
          <td colspan="2"></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Currency Rate  </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_CURRATE}}</span></td>
          <td class="width150"><span class="col-form-span-label">INR Rate </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_CURINRRATE}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Incoterm </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_INVTYPE}}</span></td>
          <td class="width150"><span class="col-form-span-label">Invoice Amount</span></td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_INVAMT}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Frieght Charges </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_FREIGHT}}</span></td>
          <td class="width150"><span class="col-form-span-label">Insurance Amount </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_INSAMT}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Discount </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.INVDISCOUNT}}</span></td>
          <td class="width150"><span class="col-form-span-label">Packing & Others </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_PACKING}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Commission </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.INVCOMMISSION}}</span></td>
          <td class="width150"><span class="col-form-span-label">Commission Paid to </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.COMMNAME}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Address1 </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.COMMADDR1}}</span></td>
          <td class="width150"><span class="col-form-span-label">Address2 </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.COMMADDR2}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Nature of Payment </span> </td>
          <td colspan="5"><span class="col-form-span-label">{{invData?.NATUREOFPAYMENT}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Other Deduction </span> </td>
          <td colspan="5"><span class="col-form-span-label">{{invData?.INVDEDUCTAMT}}</span></td>
       </tr>
     </tbody>
 </table>
 <div class="row xscroll" *ngIf="itcData.length > 0">
     <table class="table table-bordered table-striped table-sm-new">
         <thead>
             <tr class="col-form-span-heading">
                 <th class="width100 centerlabel"><span class="col-form-span-label">ITC Code</span></th>
                 <th class="width100 centerlabel"><span class="col-form-span-label">FOB INR</span></th>
                 <th class="width100 centerlabel"><span class="col-form-span-label">Drawback Sub Sr.No</span></th>
                 <th class="width100 centerlabel"><span class="col-form-span-label">Unit1</span></th>
                 <th class="width100 centerlabel"><span class="col-form-span-label">Type1</span></th>
                 <th class="width100 centerlabel"><span class="col-form-span-label">Group Code</span></th>
                 <th class="width100 centerlabel"><span class="col-form-span-label">Appendix of public notice</span></th>
                 <th class="width100 centerlabel"><span class="col-form-span-label">Condition No.</span></th>
                 <th class="width100 centerlabel"><span class="col-form-span-label">Unit2</span></th>
                 <th class="width100 centerlabel"><span class="col-form-span-label">Type2</span></th>
                 <th class="width100 centerlabel"><span class="col-form-span-label">% of Drawback</span></th>
                 <th class="width100 centerlabel"><span class="col-form-span-label">Rate per Unit</span></th>
                 <th class="width100 centerlabel"><span class="col-form-span-label">Description</span></th>
                 </tr>
         </thead>
         <tbody>
             <tr *ngFor="let obj of itcData">
                 <td><span class="col-form-span-label">{{obj.ITCCODE}}</span></td>
                 <td><span class="col-form-span-label">{{obj.FOBINR}}</span></td>
                 <td><span class="col-form-span-label">{{obj.DBKSUBSRNO}}</span></td>
                 <td><span class="col-form-span-label">{{obj.UNIT}}</span></td>
                 <td><span class="col-form-span-label">{{obj.TPE}}</span></td>
                 <td><span class="col-form-span-label">{{obj.EXP_ITCGROUPCODE}}</span></td>
                 <td><span class="col-form-span-label">{{obj.APPENDIXNO}}</span></td>
                 <td><span class="col-form-span-label">{{obj.CONDITIONNO}}</span></td>
                 <td><span class="col-form-span-label">{{obj.UNITA}}</span></td>
                 <td><span class="col-form-span-label">{{obj.TPEA}}</span></td>
                 <td><span class="col-form-span-label">{{obj.DBKPERCENT}}</span></td>
                 <td><span class="col-form-span-label">{{obj.RATEPERUNIT}}</span></td>
                 <td><span class="col-form-span-label">{{obj.DESCRIPTION}}</span></td>
                 </tr>
         <tbody>
     </table>
   </div>
 <table class="table table-bordered table-striped table-sm-new">
    <tbody>
        <tr>
          <td class="width150"><span class="col-form-span-label">FOB INR </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_FOB}}</span></td>
          <td class="width150"><span class="col-form-span-label">Market Value </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_MKTVALUE}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Freight </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_FRT}}</span></td>
          <td class="width150"><span class="col-form-span-label">Type of Shipping Bill </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.EXPT_SHIPBILLTYPE}}</span></td>
       </tr>
       <tr>
          <td class="width150"><span class="col-form-span-label">Value Addition % </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBVALUE}}</span></td>
          <td class="width150"><span class="col-form-span-label">Amount </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBAMOUNT}}</span></td>
       </tr>
        <tr>
          <td class="width150" colspan="6">
             <span class="col-form-span-label">
                 <input type="radio" name="InvShipType" [checked]="invData?.SBBOOKTYPE == 'D'" value="Provisional" [disabled]="true"/>Provisional 
             </span> 
         </td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Receipt No. </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBPRORECPTNO}}</span></td>
          <td class="width150"><span class="col-form-span-label">Date </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBPRORECPTDT}}</span></td>
       </tr>
        <tr>
          <td class="width150" colspan="6"><span class="col-form-span-label"><input type="radio" name="InvShipType" [checked]="invData?.SBBOOKTYPE == 'D'" value="DEEC" [disabled]="true"/>DEEC Book  </span> </td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Book No. </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBDEECBOOKNO}}</span></td>
          <td class="width150"><span class="col-form-span-label">Date </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBDEECBOOKDT}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Advance Licence No  </span> </td>
          <td colspan="5"><span class="col-form-span-label">{{invData?.SBDEECLICNO}}</span></td>
       </tr>
        <tr>
          <td class="width150" colspan="6"><span class="col-form-span-label"><input type="radio" name="InvShipType" [checked]="invData?.SBBOOKTYPE == 'E'" value="Book" [disabled]="true"/>Exp/Imp Book  </span> </td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Passbook No. </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBEXPBOOKNO}}</span></td>
          <td class="width150"><span class="col-form-span-label">Date </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBEXPBOOKDT}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Exempted Material Value </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBEXEMPT1}}</span></td>
          <td class="width150"><span class="col-form-span-label">{{invData?.SBEXEMPT2}}</span></td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBEXEMPT3}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Group Code </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBGROUPCODE}}</span></td>
          <td class="width150"><span class="col-form-span-label">SION No. </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBSIONNO}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Duty % </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBDUTY}}</span></td>
          <td class="width150"><span class="col-form-span-label">Duty Amount </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBDUTYAMT}}</span></td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Cess % </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.SBCESS}}</span></td>
          <td class="width150"></td>
          <td colspan="2"><span class="col-form-span-label"></span></td>
       </tr>
        <tr>
          <td class="width150" colspan="6"><span class="col-form-span-label"><input type="checkbox" class="col-form-span-label"  name="checkbox1" [checked]="invData?.IMPLABLE == 'Y'" [disabled]="true" />Import Lable Used </span> </td>
       </tr>
        <tr>
          <td class="width150"><span class="col-form-span-label">Bill of Entry No. </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.BILLENTRYNO}}</span></td>
          <td class="width150"><span class="col-form-span-label">Date </span> </td>
          <td colspan="2"><span class="col-form-span-label">{{invData?.BILLENTRYDT}}</span></td>
       </tr>
       <!-- <tr class="col-form-span-heading">
          <th><span class="col-form-span-label"></span> </th>
          <th><span class="col-form-span-label">AR4 Form No </span></th>
          <th><span class="col-form-span-label">Date</span> </th>
          <th><span class="col-form-span-label">Commission Rate </span></th>
          <th><span class="col-form-span-label">Division </span> </th>
          <th><span class="col-form-span-label">Rate </span></th>
       </tr>
       <tr>
          <td><span class="col-form-span-label">AR4 Form 1 </span> </td>
          <td><span class="col-form-span-label">{{invData?.ARFORMNO}}</span></td>
          <td class="width100"><span class="col-form-span-label">{{invData?.ARFORMDT}}</span></td>
          <td><span class="col-form-span-label">{{invData?.COMMISSIONRATE}}</span></td>
          <td><span class="col-form-span-label">{{invData?.DIVISION}}</span></td>
          <td><span class="col-form-span-label">{{invData?.RANGE}}</span></td>
       </tr>
       <tr>
          <td><span class="col-form-span-label">AR4 Form 2 </span> </td>
          <td><span class="col-form-span-label">{{invData?.ARFORMNO1}}</span></td>
          <td><span class="col-form-span-label">{{invData?.ARFORMDT1}}</span></td>
          <td><span class="col-form-span-label">{{invData?.COMMISSIONRATE1}}</span></td>
          <td><span class="col-form-span-label">{{invData?.DIVISION1}}</span></td>
          <td><span class="col-form-span-label">{{invData?.RANGE1}}</span></td>
       </tr>
       <tr>
          <td><span class="col-form-span-label">AR4 Form 3 </span> </td>
          <td><span class="col-form-span-label">{{invData?.ARFORMNO2}}</span></td>
          <td><span class="col-form-span-label">{{invData?.ARFORMDT2}}</span></td>
          <td><span class="col-form-span-label">{{invData?.COMMISSIONRATE2}}</span></td>
          <td><span class="col-form-span-label">{{invData?.DIVISION2}}</span></td>
          <td><span class="col-form-span-label">{{invData?.RANGE2}}</span></td>
       </tr>
       <tr>
          <td><span class="col-form-span-label">AR4 Form 4 </span> </td>
          <td><span class="col-form-span-label">{{invData?.ARFORMNO3}}</span></td>
          <td><span class="col-form-span-label">{{invData?.ARFORMDT3}}</span></td>
          <td><span class="col-form-span-label">{{invData?.COMMISSIONRATE3}}</span></td>
          <td><span class="col-form-span-label">{{invData?.DIVISION3}}</span></td>
          <td><span class="col-form-span-label">{{invData?.RANGE3}}</span></td>
       </tr> -->
     </tbody>
 </table>