<div class="animated fadeIn">
	<div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>{{Header| uppercase}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-6">
							
            <table class="table table-bordered table-sm-new bgwhite">    
                <tr>
                    
                    
                    </tr>        
                        <tr>
                            <td><span class="col-form-span-label"><b>City</b> </span><span class="col-form-span-error">*</span></td>        
                            <td>
                                <!--select class="form-control width150"  [(ngModel)]="city"-->
                                    <select class="form-control width150"  [(ngModel)]="city"(change)="selectionChange($event.target.value)">
                                    <option value="">Please select</option>
                                    <option *ngFor="let d of Citylist" value={{d.CITYCODE}}>{{d.CITYNAME}}</option>
                                </select>
                            </td> 
                            
                        </tr>
                        <tr>

                        </tr>
                        <tr>
                            <td><span class="col-form-span-label"><b>Company</b> </span><span class="col-form-span-error">*</span></td>        
                            <td colspan="3">
                                <select class="form-control width350"  [(ngModel)]="company">
                                    <option value="">Please select</option>
                                    <option *ngFor="let d of CompanyList" value={{d.CMP_CODE}}>{{d.CMP_NAME}}</option>
                                </select>
                            </td> 
                            
                        </tr>
                     
                           <tr>
                            <td > 
                                <span class="col-form-span-label"><b>Start Date</b> </span>
                                <span class="col-form-span-error">*</span>
                            </td>         
                            <td >   
                                <my-date-picker name="StartDate" [options]="myDatePickerOptions" [(ngModel)]="StartDate"></my-date-picker>
                            </td>  
                            <td > 
                                <span class="col-form-span-label"><b>End Date</b> </span>
                                <span class="col-form-span-error">*</span>
                            </td>         
                            <td>   
                                <my-date-picker name="EndDate" [options]="myDatePickerOptions" [(ngModel)]="EndDate"></my-date-picker>
                            </td>  
                        </tr>

                        

                        <tr>
                            <td colspan="4"  class="centerlabel">                                
                                <button class="btn btn-sm btn-success" type="submit" (click)="AddMain()"> <span class="col-form-span-label"><i class="fa fa-dot-circle-o" ></i> {{text}}</span></button>
                                <button class="btn btn-sm btn-danger" type="reset"> <span class="col-form-span-label" (click)="RestMain();"><i class="fa fa-ban"></i> Reset</span></button>
                            </td>
                        </tr>
					</table>
				
			</div>
		</div>
		<div class="col-sm-3">
		</div>
    
</div>