<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand" href="javascript:void(0);" style="border-bottom: 0px;">
      <!--<img src="" style="width: 155px;height: 55px;">-->
    </a>
    <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
    <ul class="nav navbar-nav d-md-down-none">
      <li class="nav-item px-3" [ngStyle]="{'text-align': 'justify'}" dropdown>
        <span style='font-size: 24px; font-weight: bold; font-family: "Euclid Fraktur", "Old English Text MT", fantasy, serif; color: #ffffff; text-shadow: 1px 1px 2px #0300bd, 0 0 25px #0300bd, 0 0 5px #0300bd;'>{{cmpname
          | titlecase}},&nbsp;</span>
        <a [ngStyle]="{'font-weight': 'bold','font-size': '10pt','cursor': 'pointer','color': '#070736','font-family': 'Verdana, Arial','font-variant': 'small-caps','text-decoration': 'underline'}"
          [routerLink]="['/branch']">{{cityName}}</a>
        <br />
        <app-financial-year></app-financial-year>
        <!--<a [ngStyle]="{'font-weight': 'bold','font-size': '10pt','cursor': 'pointer','color': 'navy','font-family': 'Verdana, Arial','font-variant': 'small-caps','text-decoration': 'underline'}" [routerLink]="['/branch']">{{cityName}}</a>-->
      </li>
    </ul>
  
    <ul class="nav navbar-nav ml-auto">
   
      <li class="nav-item dropdown" placement="bottom right"><a aria-haspopup="true" class="nav-link" href="javascript:void(0)"
          role="button" style="white-space: nowrap;display:inline-block;">
          <img class="img-avatar" src="assets/img/pics/{{userimgepath}}" height="40px" width="40px"></a>&nbsp;
        <button type="button" class="btn btn-success" (click)="goto('HOME')">
          <span class="col-form-span-label">
            <i class="fa fa-home fa-lg"></i>&nbsp;
            <b>Home</b>
          </span>
        </button>&nbsp;
        <button type="button" class="btn btn-danger" (click)="logout()">
          <span class="col-form-span-label">
            <i class="fa fa-sign-out fa-lg"></i>&nbsp;
            <b>Logout</b>
          </span>
        </button>&nbsp;&nbsp;<br/>
        <span [ngStyle]="{'font-family': 'Verdana','font-size': 'X-Small','font-weight': 'bold','color': 'white'}"
          [innerHtml]="displayName"></span>
      </li>
    </ul>
  </header>
  
  <div class="app-body">
    <app-menu-sidebar></app-menu-sidebar>
  
    <!-- Main content -->
    <main class="main">
  
      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <app-breadcrumbs></app-breadcrumbs>
      </ol>
  
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- /.conainer-fluid -->
    </main>
  </div>
  
  <footer class="app-footer">
    Version 9.0.30729.1 &copy;2014 Manilal Patel Group. All Rights Reserved.
  </footer>