<br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="clearfix">
                <h1 class="float-left display-3 mr-4 red">@</h1>
                <h4 class="pt-3 red"><strong>Access Denied</strong></h4>
                <p class="text-muted red">{{errData.ErrorMessage}}</p>
            </div>
            <div class="input-prepend centerlabel">
                <!-- <button class="btn btn-default" type="button" (click)="back()"><i class="fa fa-arrow-left"></i> Go Back</button> -->
            </div>
        </div>
    </div>
</div>

