<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>{{Header| uppercase}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">  </div>
        <div class="col-sm-8">
            <table class="table table-bordered table-sm-new bgwhite">               
                <tr >
                    <td class="col-form-span-heading   " colspan="4">
                        Consignee Details
                    </td>
                </tr>
                <tr>   
                    <td><span class="col-form-span-label"><b>Short Name</b> </span><span class="col-form-span-error">*</span></td>         
                    <td>  <input [(ngModel)]="ShrtName" type="text"    class="form-control width180"   >   </td> 
                    <td><span class="col-form-span-label"><b>EORI #</b> </span></td>         
                    <td> <input [(ngModel)]="EORIno" type="text"    class="form-control width180"   > </td>      
                </tr>
                <tr>
                <td ><span class="col-form-span-label"><b>Name</b> </span><span class="col-form-span-error">*</span></td> 
                <td colspan="3" > 
                <table class="table   table-sm-new bgwhite">
                    <tr>                                   
                        <td class="display-inline"   >                        
                            <select class="form-control width70"  [(ngModel)]="title"  >
                            <option value="Messrs">Messrs.</option>	
                            <option value="Mr.">Mr.</option>	
                            <option value="Ms.">Ms.</option>	
                            <option value="Mrs.">Mrs.</option>
                            <option value="Miss.">Miss.</option>
                            <option value="Dr.">Dr.</option>	
                            </select> 
                            <input [(ngModel)]="Name" type="text"    class="form-control width450"  >             
                        </td> 
                    </tr>
                </table>
                </td>
                </tr>
                <tr>   
                    <td><span class="col-form-span-label"><b>Address 1</b> </span></td>         
                    <td><input [(ngModel)]="addrs1" type="text"    class="form-control width300" maxlength="40"   >   </td> 
                      <td><span class="col-form-span-label"><b>Address 2</b> </span></td>         
                    <td>  <input [(ngModel)]="addrs2" type="text"    class="form-control  width250 "  maxlength="40"    >   </td>   
                </tr>
                <tr>                      
                    <td><span class="col-form-span-label"><b>Address 3</b> </span></td>         
                    <td> <input [(ngModel)]="addrs3" type="text"    class="form-control width180"  maxlength="40"   > </td>     
                    <td><span class="col-form-span-label"><b>E-Mail</b> </span></td>         
                    <td>  <input   type="email"    class="form-control width180"   placeholder="Email"  [(ngModel)]="email" (change)="onChange(email)" > 
                    </td>       
                </tr>
                <tr>
                   <td><span class="col-form-span-label"><b>PincodePosition</b> </span></td>        
                    <td>
                        <span class="col-form-span-label"><input type="radio"   [checked]="position=='After'" (change)="position='After'" /><b>After</b> </span> 
                        <span class="col-form-span-label"><input type="radio"   [checked]="position=='Before'" (change)="position='Before'" /><b>Before</b> </span>
                    </td>
                    <td><span class="col-form-span-label"><b>Pincode</b> </span></td>         
                    <td>  <input [(ngModel)]="Pincode" type="text"    class="form-control width180"   > </td>         
                </tr>
                <tr>
                    <td><span class="col-form-span-label"><b>City</b> </span><span class="col-form-span-error">*</span></td>        
                    <td>
                        <select class="form-control width150"  [(ngModel)]="city" (change)="Countryfilter($event.target.value)">
                            <option value="">Please select</option>
                            <option *ngFor="let d of Citylist" value={{d.DATAVALUEFIELD}}>{{d.DATATEXTFIELD}}</option>
                        </select>
                    </td>
                    <td><span class="col-form-span-label"><b>Country</b> </span></td>         
                    <td>  <input disabled [(ngModel)]="country" type="text"    class="form-control width180"   > </td>         
                </tr>
                <tr>
                    <td><span class="col-form-span-label"><b>Telephone No.</b> </span></td>         
                    <td>  <input [(ngModel)]="telephone" type="text"    class="form-control width180"   > </td>         
                    <td><span class="col-form-span-label"><b>Fax No.(General) </b> </span></td>         
                    <td>  <input [(ngModel)]="faxno1" type="text"    class="form-control width180"   > </td>  
                </tr>
                <!-- <tr>
                    <td colspan="2"><span class="col-form-span-label"><b>Isunder SYTIA Group</b> </span></td>  
                    <td colspan="2"><span class="col-form-span-label"><input type="radio" [checked]="isSYTIA=='Y'" (change)="isSYTIA='Y'" >Yes </span>
                        <span class="col-form-span-label"><input type="radio"  [checked]="isSYTIA=='N'" (change)="isSYTIA='N'" >No </span>
                    </td>  
                </tr> -->
                <tr>                    
                     <td colspan="4"  (click)="getcollapse(CHECKC1,'contact1')" style="background-color: #1b8eb7;cursor: pointer;" ><span class="col-form-span-label"><b style=" color: white; ">CONTACT 1 DETAILS</b></span></td>
                </tr>
                <tr *ngIf ="CHECKC1==true">                        
                    <td   colspan="4">                                
                        <table class="table table-bordered table-sm-new bgwhite" >
                        <tr>  
                            <td><span class="col-form-span-label"><b>Name</b> </span></td>         
                            <td  style=" display: flex; " > <select class="form-control width50"  [(ngModel)]="Ctitle1"  >
                                    <option value="Mr.">Mr.</option>	
                                    <option value="Ms.">Ms.</option>	
                                    <option value="Mrs.">Mrs.</option>
                                    <option value="Miss.">Miss.</option>
                                    <option value="Dr.">Dr.</option>
                                </select>  
                                <input [(ngModel)]="Cname1" type="text" class="form-control width180"   > </td> 
                            <td><span class="col-form-span-label"><b>Designation</b> </span></td>         
                            <td>  <input [(ngModel)]="CDesignation1" type="text"    class="form-control width180"   > </td>    
                        </tr>  
                        <tr>  
                            <td><span class="col-form-span-label"><b>Telephone No. (Direct)</b> </span></td>         
                            <td>  <input [(ngModel)]="Ctelphone1" type="text"    class="form-control width180"   > </td> 
                            <td><span class="col-form-span-label"><b>FAX (Direct)</b> </span></td>         
                            <td>  <input [(ngModel)]="Cfaxno1" type="text"    class="form-control width180"   > </td>    
                        </tr> 
                        <tr>  
                            <td><span class="col-form-span-label"><b>Mobile No.</b> </span></td>         
                            <td>  <input [(ngModel)]="Cmobileno1" type="text"    class="form-control width180"   > </td> 
                            <td><span class="col-form-span-label"><b>E-Mail</b> </span></td>         
                            <td>  <input [(ngModel)]="Cemail1" type="text"    class="form-control width180"  (change)="onChange(Cemail1)"  > </td>    
                        </tr> 
                        </table>
                    </td>
                </tr>
                       
                <tr>                    
                    <td colspan="4"  (click)="getcollapse(CHECKC2,'contact2')" style="background-color: #1b8eb7;cursor: pointer;" ><span class="col-form-span-label"><b style=" color: white; ">CONTACT 2 DETAILS</b></span></td>
                </tr>
                <tr *ngIf ="CHECKC2==true">                        
                    <td   colspan="4">                                
                        <table class="table table-bordered table-sm-new bgwhite" >
                            <tr>  
                                <td><span class="col-form-span-label"><b>Name</b> </span></td>         
                                <td  style=" display: flex; " > <select class="form-control width50"  [(ngModel)]="Ctitle2"  >
                                        <option value="Mr.">Mr.</option>	
                                        <option value="Ms.">Ms.</option>	
                                        <option value="Mrs.">Mrs.</option>
                                        <option value="Miss.">Miss.</option>
                                        <option value="Dr.">Dr.</option>
                                    </select>  
                                    <input [(ngModel)]="Cname2" type="text"    class="form-control width180"   > </td> 
                                <td><span class="col-form-span-label"><b>Designation</b> </span></td>         
                                <td>  <input [(ngModel)]="CDesignation2" type="text"    class="form-control width180"   > </td>    
                            </tr>  
                            <tr>  
                                <td><span class="col-form-span-label"><b>Telephone No. (Direct)</b> </span></td>         
                                <td>  <input [(ngModel)]="Ctelphone2" type="text"    class="form-control width180"   > </td> 
                                <td><span class="col-form-span-label"><b>FAX (Direct)</b> </span></td>         
                                <td>  <input [(ngModel)]="Cfaxno2" type="text"    class="form-control width180"   > </td>    
                            </tr> 
                            <tr>  
                                <td><span class="col-form-span-label"><b>Mobile No.</b> </span></td>         
                                <td>  <input [(ngModel)]="Cmobileno2" type="text"    class="form-control width180"   > </td> 
                                <td><span class="col-form-span-label"><b>E-Mail</b> </span></td>         
                                <td>  <input [(ngModel)]="Cemail2" type="text"    class="form-control width180"   (change)="onChange(Cemail2)"  > </td>    
                            </tr>     
                        </table>
                    </td>
                </tr> 
            <tr>                    
                <td colspan="4"  (click)="getcollapse(CHECKC3,'contact3')" style="background-color: #1b8eb7;cursor: pointer;" ><span class="col-form-span-label"><b style=" color: white; ">CONTACT 3 DETAILS</b></span></td>
            </tr>
            <tr *ngIf ="CHECKC3==true">                        
            <td   colspan="4">                                
            <table class="table table-bordered table-sm-new bgwhite" >
                <tr>  
                    <td><span class="col-form-span-label"><b>Name</b> </span></td>         
                    <td  style=" display: flex; " > <select class="form-control width50"  [(ngModel)]="Ctitle3"  >
                            <option value="Mr.">Mr.</option>	
                            <option value="Ms.">Ms.</option>	
                            <option value="Mrs.">Mrs.</option>
                            <option value="Miss.">Miss.</option>
                            <option value="Dr.">Dr.</option>
                        </select>  
                        <input [(ngModel)]="Cname3" type="text"    class="form-control width180"   > </td> 
                    <td><span class="col-form-span-label"><b>Designation</b> </span></td>         
                    <td>  <input [(ngModel)]="CDesignation3" type="text"    class="form-control width180"   > </td>    
                </tr>  
                <tr>  
                    <td><span class="col-form-span-label"><b>Telephone No. (Direct)</b> </span></td>         
                    <td>  <input [(ngModel)]="Ctelphone3" type="text"    class="form-control width180"   > </td> 
                    <td><span class="col-form-span-label"><b>FAX (Direct)</b> </span></td>         
                    <td>  <input [(ngModel)]="Cfaxno3" type="text"    class="form-control width180"   > </td>    
                </tr> 
                <tr>  
                    <td><span class="col-form-span-label"><b>Mobile No.</b> </span></td>         
                    <td>  <input [(ngModel)]="Cmobileno3" type="text"    class="form-control width180"   > </td> 
                    <td><span class="col-form-span-label"><b>E-Mail</b> </span></td>         
                    <td>  <input [(ngModel)]="Cemail3" type="text"    class="form-control width180"  (change)="onChange(Cemail3)"  > </td>    
                </tr> 
            </table>
            </td>
            </tr>
            
                      
            <tr>                    
                <td colspan="4"  (click)="getcollapse(CHECKC4,'contact4')" style="background-color: #1b8eb7;cursor: pointer;" ><span class="col-form-span-label"><b style=" color: white; ">CONTACT 4 DETAILS</b></span></td>
            </tr>
            <tr *ngIf ="CHECKC4==true">                        
                <td   colspan="4">                                
                    <table class="table table-bordered table-sm-new bgwhite" >
                        <tr>  
                            <td><span class="col-form-span-label"><b>Name</b> </span></td>         
                            <td  style=" display: flex; " > <select class="form-control width50"  [(ngModel)]="Ctitle4"  >
                                    <option value="Mr.">Mr.</option>	
                                    <option value="Ms.">Ms.</option>	
                                    <option value="Mrs.">Mrs.</option>
                                    <option value="Miss.">Miss.</option>
                                    <option value="Dr.">Dr.</option>
                                </select>  
                                <input [(ngModel)]="Cname4" type="text"    class="form-control width180"   > </td> 
                            <td><span class="col-form-span-label"><b>Designation</b> </span></td>         
                            <td>  <input [(ngModel)]="CDesignation4" type="text"    class="form-control width180"   > </td>    
                        </tr>  
                        <tr>  
                            <td><span class="col-form-span-label"><b>Telephone No. (Direct)</b> </span></td>         
                            <td>  <input [(ngModel)]="Ctelphone4" type="text"    class="form-control width180"   > </td> 
                            <td><span class="col-form-span-label"><b>FAX (Direct)</b> </span></td>         
                            <td>  <input [(ngModel)]="Cfaxno4" type="text"    class="form-control width180"   > </td>    
                        </tr> 
                        <tr>  
                            <td><span class="col-form-span-label"><b>Mobile No.</b> </span></td>         
                            <td><input [(ngModel)]="Cmobileno4" type="text"    class="form-control width180"   > </td> 
                            <td><span class="col-form-span-label"><b>E-Mail</b> </span></td>         
                            <td><input [(ngModel)]="Cemail4" type="text"    class="form-control width180"  (change)="onChange(Cemail4)"   > </td>    
                        </tr> 
                    </table>
                </td>
            </tr>
            <tr class="trheader">
                <td colspan="4"><span class="col-form-span-label"><b>OTHER LIST</b></span></td>
            </tr> 
            <tr>
                <td colspan="2"><span class="col-form-span-label"><b>Approval Required </b> </span></td>  
                <td colspan="2"><span class="col-form-span-label"><input type="radio"    [checked]="isappr=='Y'" (change)="isappr='Y'"   >Yes </span>
                    <span class="col-form-span-label"><input type="radio"    [checked]="isappr=='N'" (change)="isappr='N'" >No </span>
                </td>  
            </tr>
            <tr  class="trheader">
                <td colspan="4" class="centerlabel"><span class="col-form-span-label "><b>List Of Documents  </b> </span></td>
            </tr>

            <tr *ngFor="let obj of documentlist; let i = index">                                                        
               
                <td><span class="col-form-span-label"> <input type="checkbox" value="{{obj.doccode}}" [(ngModel)]="obj.CHECK"   (change)="chkonchange(obj.doccode,obj.CHECK)"/> </span></td>                   
                <td colspan="3"><span class="col-form-span-label">{{obj.document}}</span></td>
            </tr>
            <!--tr *ngIf="queryParamsConcode !=' '" class="trheader"-->
                <tr  class="trheader">  
                <td colspan="4"></td>
            </tr>
            <!--tr *ngIf="queryParamsConcode !=' '"-->
            <tr >
                <td colspan="4">
                <!--span class="col-form-span-label"><input type="checkbox" [(ngModel)]="CNFrance" (change)="CNFonchange(CNFrance,'1')" ><b>Consignee for MP-Cargo</b><br-->
                <span class="col-form-span-label"> <input type="checkbox"  [(ngModel)]="CNFothers"  [checked]="CNFothers=='Y'"
                     (change)="CNFonchange(CNFothers,'2')" ><b>Consignee for OTHERS</b><br>
                    <input type="checkbox"  [(ngModel)]="CNFsourceagt"(change)="CNFonchange(CNFsourceagt,'3')" ><b>Sourcing Agent</b><br>
                    </span>

                </td>
            </tr>  
            
            <tr>
                <td colspan="4"  class="centerlabel">                                
                    <button class="btn btn-sm btn-success" type="submit" (click)="Add_Main()"> <span class="col-form-span-label"><i class="fa fa-dot-circle-o" ></i> {{text}}</span></button>
                    <button class="btn btn-sm btn-danger" type="reset"> <span class="col-form-span-label" (click)="RestMain()"   ><i class="fa fa-ban"></i> Reset</span></button>
                </td>
            </tr>
            </table>
        </div>
        <div class="col-sm-2">  </div>
    </div>
</div>
