<div class="animated fadeIn">
    <div class="row no-gutters">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>{{Header| uppercase}}</strong>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
    <div class="container border" >
        <div class="row"> 
            <div class="col-md-4 col-lg-4 space"  >
                <div style="display: inline-flex;">
                    <span>
                     <img src="../../../../assets/img/stand_chartyed.jpeg" alt="">
                    </span>
                    <span class="col-form-span-label" style="color: blue;">
                     90 M.G Road <br>
                     Mumbai 400 001<br>
                     IFC"SCBL0036001"
                    </span>
                 </div>
            </div>
            <div class="col-md-4 col-lg-4 centerlabel space" >
                <br>
                <span class="col-form-span-label" style="border-top:1px solid black;border-bottom:1px solid black;color: blue;">
                   ACCOUNT PAYEE
                </span>
              
            </div>
            <div class="col-md-4 col-lg-4 centerlabel space" >
                <br>
                <span class="col-form-span-label ">
                    <b  style="color: blue;">231-0-500233-4</b>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 space">
                <span class="col-form-span-label"  style="color: blue;">
                    Standard Charted Bank
                </span>
            </div>
        </div>
        <div class="row" > 
            <div class="col-md-6 col-lg-6 centerlabel space" >              
            </div>
            <div class="col-md-6 col-lg-6 centerlabel" >
                <span class="col-form-span-label"  style="color: blue;">
                  {{table5.CHEQUEDT}}
                </span>
            </div>
        </div>
        <div class="row" > 
            <div class="col-md-6 col-lg-6 space" >          
                <span class="col-form-span-label"  style="color: blue;">
                   PAY &nbsp;<b >{{table5.PAYEENAME}}</b>
                </span>    
            </div>
            <div class="col-md-6 col-lg-6 space" >
        
            </div>
        </div>
        <div class="row" > 
            <div class="col-md-6 col-lg-6 space" >          
     
            </div>
            <div class="col-md-6 col-lg-6 centerlabel space" >
                <span class="col-form-span-label" style="color: blue;">
                    XXXXXXXXX
                </span> 
            </div>
        </div>
        <div class="row" > 
            <div class="col-md-6 col-lg-6 space" >   
                <span class="col-form-span-label"   style="color: blue;">       
                RUPEES &nbsp;<b> {{AMOUNT_words}}.</b>  </span> 
            </div>
            <div class="col-md-6 col-lg-6 centerlabel space" >
                <span class="col-form-span-label" style="border:1px solid black">
                    <b style="color: blue;">Rs. {{table5.CHEQUEAMOUNT |number:'2.2-4'}}******</b>
                </span> 
            </div>
        </div>
        <div class="row" > 
            <div class="col-md-6 col-lg-6 space" >   
                <span class="col-form-span-label">       
                    <b style="color: blue;">Not Over Rs.{{table5.NOTOVERFLAG |number:'2.2-4'}}.</b>  </span> 
            </div>
            <div class="col-md-6 col-lg-6" >
              
            </div>
        </div>
        <div class="row" > 
            <div class="col-md-6 col-lg-6 " >            
            </div>
            <div class="col-md-6 col-lg-6 centerlabel space" >   
                <span class="col-form-span-label" style="color: blue;">       
                   For MANILAL PATEL CLEARING FORWARDING PVT.LTD 
                </span> 
            </div>
         
        </div>
        <div class="row" > 
            <div class="col-md-6 col-lg-6 space" >
                <span class="col-form-span-label"  style="color: blue;">
                   PAYABLE AT PER AT ALL BRANCHES OF STANDARD CHARTED BANK IN INDIA
                </span> 
            </div>
            <div class="col-md-6 col-lg-6 " >   
            </div>
        </div>
        <div class="row" > 
            <div class="col-md-6 col-lg-6 " >   
            </div>
            <div class="col-md-6 col-lg-6 centerlabel space" >
                <span class="col-form-span-label" style="color: blue;">
                  Authorized Signatory
                </span> 
            </div>
     
        </div>
        <div class="row" > 
            <div class="col-md-4 col-lg-4" >

            </div>
            <div class="col-md-4 col-lg-4 centerlabel space" >
                <span class="col-form-span-label" style="color: blue;">
                    {{table5.CHEQUENO}}
                     </span>
              
            </div>
            <div class="col-md-4 col-lg-4 centerlabel" >
             
            </div>
        </div>
<div class="row"><div class="col-12 space"><hr></div></div>
    
<div class="row" > 

    <div class="col-12 centerlabel space" >
        <span class="col-form-span-label" style="color: blue;">
          <b>MANILAL PATEL CLEARING FORWARDING PVT.LTD </b> <br>
          KAMER BUILDING ,3RD FLOOR,38 CAWASJI PATEL STREET FORT ,MUMBAI-400 001.        <br>
          Tel:+91(0) 22 2204 1907/2204 5507. Fax:+91(0)22 22204 6299
          Email:Manilal.bom@180.179.207.163
             </span>
      
    </div>
 
</div>
<br>
<div class="row">
    <div class="col-md-3 col-lg-3  space" >
        <span class="col-form-span-label" style="color: blue;">
<b>Cheque No: </b>         
             </span>
      
    </div>
    <div class="col-md-3 col-lg-3  space" >
        <span class="col-form-span-label" style="color: blue;">
            {{table5.CHQNO}}        
             </span>
      
    </div>
    <div class="col-md-3 col-lg-3  space" >
        <span class="col-form-span-label" style="color: blue;">
            <b>Cheque Date: </b>         
             </span>
      
    </div>
    <div class="col-md-3 col-lg-3  space" >
        <span class="col-form-span-label" style="color: blue;">
           {{table5.CHEQUEDT1}}         
             </span>
      
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-lg-3  space" >
        <span class="col-form-span-label" style="color: blue;">
<b>Our Bank Payment Ref No: </b>         
             </span>
      
    </div>
    <div class="col-md-3 col-lg-3  space" >
        <span class="col-form-span-label" style="color: blue;">
            {{table5.ACC_BANK_ENTRYNO}}       
             </span>
      
    </div>
</div>
<div class="row"><div class="col-12 space"><hr></div></div>

<div class="row">
<div class="col-12">
        <table class="table table-responsive-sm table-sm-new table-bordered bgwhite" >
            <thead >
                <tr>
                    <td class="col-form-span-label"  style="color: blue;"><b>Your Ref No</b></td >
                    <td class="col-form-span-label "  style="color: blue;"><b>Your Inv dt.</b></td                              >
                    <td  class="col-form-span-label"  style="color: blue;"><b>Our Ref No</b></td >
                    <td  class="col-form-span-label "  style="color: blue;"><b>Amount</b></td >
                </tr>
            </thead>
            <tbody>                               
                <tr *ngFor="let data of table6">              
                    <td><span class="col-form-span-label"  style="color: blue;">{{data.YOUR_REF_NO}}</span></td>
                    <td><span class="col-form-span-label"  style="color: blue;">{{data.YOUR_INV_DT}}</span></td>
                    <td><span class="col-form-span-label"  style="color: blue;">{{data.OUR_REF_NO}}</span></td>
                    <td><span class="col-form-span-label"  style="color: blue;">{{data.AMOUNT|number:'2.2-4'}}</span></td>
                </tr>
       
            </tbody>
        </table>

</div>
</div>

    <div class="row" > 
        <div class="col-md-3 col-lg-3 " >   
        </div>
        <div class="col-md-3 col-lg-3 " >   
        </div>
        <div class="col-md-3 col-lg-3 centerlabel space" >
            <span class="col-form-span-label" style="color: blue;">
                <b>Net Total</b>
            </span> 
        </div>
        <div class="col-md-3 col-lg-3 centerlabel space" >
            <span class="col-form-span-label" style="color: blue;">
                <b>{{AMOUNT|number:'2.2-4'}}</b>
            </span> 
        </div>
    </div>

<div class="row">
    <div class="col-12">
        <span class="col-form-span-label" style="color: blue;">
            {{table5.NARRATION}}
               </span>
    </div>
</div>
    </div>
<br>
    <div class="row no-gutters footerbtn">
        <div class="col-12">
                <button class="btn btn-sm btn-primary" type="submit" (click)="printchq()">
                    <span class="col-form-span-label"><i class="fa fa-dot-circle-o"></i>Print Cheque No. {{table5.CHQNO}}</span></button>
                &nbsp;
                <button class="btn btn-sm btn-primary" type="submit" disabled>
                    <span class="col-form-span-label"><i class="fa fa-dot-circle-o"></i>Update Cheque
                        No. {{table5.CHQNO}}</span></button> &nbsp;
                <button class="btn btn-sm btn-primary" type="submit" (click)="BPprint()">
                    <span class="col-form-span-label"><i class="fa fa-dot-circle-o"></i>Print BP No. {{table5.ACC_BANK_ENTRYNO}}</span></button>
                &nbsp;
        </div>
    </div>

</div>