<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>EXPORT - PSS</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <table class="table table-sm-new bgwhite">
                <tr class="trbg">
                    <td colspan="3">
                        <span class="col-form-span-label">
                            <b>General Details</b>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="width80">
                        <span class="col-form-span-label">
                            <b>Export No.
                                <span class="col-form-span-error">*</span>
                            </b>
                        </span>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="ExptNo" [maxlength]="15" [disabled]="IsDisabled" class="form-control width120" />
                    </td>
                    <td>
                        <span class="col-form-span-error">{{ErrorMessage}}</span>
                    </td>
                </tr>
                <tr [hidden]="!IsDisabled">
                    <td class="width90">
                        <span class="col-form-span-label">
                            <b>PSS
                                <span class="col-form-span-error">*</span>
                            </b>
                        </span>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="Pss" class="form-control width120" />
                    </td>
                    <td>
                    </td>
                </tr>
                <tr class="trbg centerlabel">
                    <td colspan="3">
                        <button type="button" name="searchButton" class="btn btn-sm btn-warning" (click)="search();" [hidden]="IsDisabled" #searchButton>
                            <span class="col-form-span-label">
                                <i class="fa fa-search"></i>&nbsp;Search</span>
                        </button>
                        <button type="button" name="searchButton" class="btn btn-sm btn-primary" (click)="submit();" [hidden]="!IsDisabled" #submitButton>
                            <span class="col-form-span-label">
                                <i class="fa fa-send-o"></i>&nbsp;Submit</span>
                        </button>
                        <button type="button" name="searchButton" class="btn btn-sm btn-danger" (click)="reset();" [hidden]="!IsDisabled">
                            <span class="col-form-span-label">
                                <i class="fa fa-undo"></i>&nbsp;Reset</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>