<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>DELETE EXISTING CONTAINER</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <table class="table table-bordered table-sm-new bgwhite" style="border: 1px solid gray;">
                <tbody>
                     <!-- <tr>
                        <td colspan="5" style="background-color:lightgrey ">
                         <span class="col-form-span-label"><b>Container Search</b></span></td>
                      </tr> -->
                      <tr>
                        <td class="width120">
                        <span class="col-form-span-label">Container No.:</span></td>
                
                            <td ><input type="text"  style="border-radius: 5px;" maxlength="13" class="form-control width150"
                             [(ngModel)]="containerno"  ></td>
                            <td style="text-align: left;">
                                <button class="btn btn-sm btn-success"  type="submit" id="search" name="search" 
                                 (click)="search()" ><span class="col-form-span-label"><i class="fa fa-dot-circle-o" ></i> Search</span></button>
                            </td>
                             <td>
                                <button class="btn btn-sm btn-danger"  type="reset" id="delete" name="delete"  [disabled]='disabledeletebtn'
                                 (click)="DeleteContainer()" ><span class="col-form-span-label"><i class="fa fa-trash" ></i> Delete</span></button>
                            </td>
                            <td style="width:150px;"></td>
                     </tr>
                   <tr>
                    <td colspan="5" style="text-align: center;">
                            <span class="col-form-span-label" style="color: red;"> <b> {{msg}}</b></span>
                    </td>
                   </tr>
                   <tr *ngIf="containerlist.length>0">
                    <td colspan="5">
                         <hr >
                    </td>
                   </tr>
                   
                     <tr>
                        <td colspan="4">
                            
                         <table class="table table-responsive-sm table-bordered"   *ngIf="containerlist.length>0" >
                        <thead>
                            <tr class="bakgrdliteBlue">
                             
                                <th class="col-form-span-label  font-weight-bold headerwhite">Container No</th>
                                <th  class="col-form-span-label  font-weight-bold headerwhite">Expt No</th>
                               
                            </tr>
                        </thead>
                         <tbody  >
                            <tr *ngFor="let obj of containerlist">
                             
                               <td><span class="col-form-span-label" > {{obj.CONTAINERNO}}</span></td>
                               <td><span class="col-form-span-label">{{obj.EXPTNO}}</span></td>
                            
                            </tr>
                        </tbody>  
                      </table>
                    
                        </td>
                     </tr>
               </tbody>
            </table>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <div>

</div>
