<div class="animated fadeIn">
	<div class="row">
		<div class="col-sm-5">
		</div>
		<div class="col-sm-2">
			<img src="assets/img/loading.gif" *ngIf="countries.length==0"/>
			<div class="card" *ngIf="countries.length > 0">
				<div class="card-body">
					<button type="button" class="btn btn-outline-primary btn-block" [ngStyle]="{'margin-top':'0rem'}" *ngFor="let obj of countries" (click)="setCity(obj.CITYCODE);">
						<u>{{ obj.CITYNAME | titlecase }}</u>
					</button>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
		</div>
	</div>
</div>
