<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header formheading">
                <div class="row">
                    <div class="col-sm-12">
                        <strong>{{Header| uppercase}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-sm-12 col-md-2 col-lg-2">
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 ">
        <table class="table table-bordered table-sm-new bgwhite">

            <tr class="trheader">
                <td class="col-form-span-label" style="color: whitesmoke;"  colspan="4">
                    <b> General Details </b>
                </td>
            </tr>
            <tr>

                <td><span  class="col-form-span-label"><b>Entry No</b> </span><span class="col-form-span-error">*</span></td>
                <td >  <input [(ngModel)]="EntryNo" type="text"   disabled="disabled" class="form-control width150" maxlength="40" > </td>
                <td ><span class="col-form-span-label"><b>Entry Date</b> </span><span class="col-form-span-error">*</span>  </td>
                <!-- <td>
                    <my-date-picker name="EntryDate"  [disabled]='toggleentrydate' (dateChanged)="EntryDateChanged($event)" [options]="myDatePickerOptions" class="form-control" [selDate]="EntryDate" ></my-date-picker>
                </td> -->
                <td>
                    <my-date-picker name="EntryDate"  (dateChanged)="EntryDateChanged($event)" [options]="myDatePickerOptions" class="form-control" [selDate]="EntryDate" ></my-date-picker>
                </td>
            </tr>
            <tr>
                <td><span class="col-form-span-label"><b>Narration</b> </span></td>
                <td colspan="3">  
                    <!-- <input [(ngModel)]="Narration" type="text"  class="form-control"  > -->
                    <textarea class="form-control" id="autoresizing" (change)="TextareaValueChange($event)"
                    placeholder="text" cols="50" rows="3" [innerHTML]="Narration"></textarea>
                 </td>
             </tr>
             <tr class="trheader">
                <td class="col-form-span-label" style="color: whitesmoke;"  colspan="4">
                   <b> Cheque Details</b>
                </td>
            </tr>
            <tr>
                <td><span class="col-form-span-label"><b>Cheque Date</b> </span></td>
                <td>
                    <my-date-picker name="ChequeDate"  [options]="myDatePickerOptions" class="form-control" [selDate]="ChequeDate"  ></my-date-picker>
                </td>
                <td><span class="col-form-span-label"><b>Cheque No.</b> </span></td>
                <td >  <input [(ngModel)]="ChequeNo"  [OnlyNumber]="true" type="text"   class="form-control width150" maxlength="40" > </td>

            </tr>
            <tr>
                <td><span class="col-form-span-label"><b>Our Bank</b> </span></td>
                <td colspan="3">
                <select class="form-control width500"  [(ngModel)]="OurBank" (change)="GetOurBankName($event)" >
                    <option value="0">Please select</option>
                    <option *ngFor="let d of OurBankList"  value={{d.ACCTCODENAME}}>{{d.ACCTNAME}}</option>
                </select>
            </td>
            </tr>
            <tr>
                <td><span class="col-form-span-label"><b>Bank Name</b> </span></td>
                <td >  <input [(ngModel)]="BankName"   type="text"   class="form-control width200" maxlength="40" > </td>

                <td><span class="col-form-span-label"><b>Bank Ref. No.</b> </span></td> 
                <td >  <input [(ngModel)]="BankRefNo"   type="text"   class="form-control width150" maxlength="40" > </td>
            </tr>
            <tr class="trheader">
                <td class="col-form-span-label" style="color: whitesmoke;"  colspan="4">
                   <b> Accounts Details</b>
                </td>
            </tr>
            <tr>
                <td><span class="col-form-span-label"><b>Account Name</b> </span><span class="col-form-span-error">*</span></td>
                <td colspan="3">
                    <ng-select [items]="AccountNameList" bindLabel="ACCTNAME" bindValue="ACCTCODENAME"
                    [(ngModel)]="AccountName" (change)="GetActName($event.ACCTCODENAME)" class="custom " placeholder="--Select--">
                    </ng-select>
                </td>
            </tr>
            <tr>
                <td><span class="col-form-span-label"><b>Item</b> </span><span class="col-form-span-error">*</span></td>
                <td colspan="2">

                    <ng-select [items]="ItemList" bindLabel="TEXTFIELD" bindValue="VALUEFIELD" [(ngModel)]="Item"
                    class="custom " placeholder="--Select--">
                </ng-select>
                </td>
            </tr>
            <tr>
                <td><span class="col-form-span-label"><b> Entry Type</b> </span></td>
                <td style=" display: flex; ">
                    <!-- <select class="form-control width150"  [(ngModel)]="EntryType" (change)="listbillpopup()" (change)="EntryTypeChg($event.target.value)" > -->
                        <select class="form-control width150"  [disabled]='disableEntryType'[(ngModel)]="EntryType" (change)="listbillpopup($event.target.value)"  >
                        <option value="0">-- Select Type --</option>
                        <option value="AB1">Bill - Help</option>
                        <option value="AB">Bill - Manual</option>
                        <option value="AO">Opening Balance</option>
                        <option value="AD">Advance</option>
                        <option value="OA">On Account</option>
                        <option value="JB">JobNo</option>
                        <option value="PE">Purchase Entry</option>
                        <option value="GR">General</option>
                        </select>

            </td>
                <td><span class="col-form-span-label"><b> Department</b> </span></td>
                <td>
                 <select class="form-control width150"  [(ngModel)]="Department" (change)="GetDepartmentName($event)" >
                    <option value="0">Please select</option>
                    <option *ngFor="let d of Departmentlist"  value={{d.VALUEFIELD}}>{{d.TEXTFIELD}}</option>

                </select>

            </td>
            </tr>
            <tr>
                <td><span class="col-form-span-label"><b> Bill No</b> </span><span class="col-form-span-error">*</span></td>
                <td >  <input [(ngModel)]="BillNo" type="text"  [OnlyNumber]="true"   class="form-control width150" maxlength="40" > </td>
                <td><span class="col-form-span-label"><b>Job No</b> </span></td>
                <td >  <input [(ngModel)]="JobNo" [OnlyNumber]="true" type="text" (blur)="ValidateJobNo($event.target.value)"   class="form-control width150" maxlength="40" > </td>

            </tr>
            <tr>
                <td><span class="col-form-span-label"><b> Amount</b> </span><span class="col-form-span-error">*</span></td>
                <td >  <input [(ngModel)]="Amount" type="text"  [OnlyNumber]="true" [disabled]='toggledebit' class="form-control width150" maxlength="40" > </td>
                <td><span class="col-form-span-label"><b>Deduction</b> </span></td>
                <td >  <input [(ngModel)]="Deduction" [OnlyNumber]="true" type="text"  [disabled]='togglededuction'   class="form-control width150" maxlength="40" > </td>

            </tr>
            <tr>
                <td><span class="col-form-span-label"><b>Narration</b> </span></td>
                <td colspan="3">
                    <input [(ngModel)]="ShortNarration" type="text"    class="form-control width500" maxlength="40" >
                </td>
            </tr>
            <tr>
                <td colspan="4"  class="centerlabel">
                    <button class="btn btn-sm btn-success" type="submit" (click)="Addchildrcrd()"> <span class="col-form-span-label"><i class="fa fa-dot-circle-o" ></i> {{txtchild}}</span></button>
                    <button class="btn btn-sm btn-danger" type="reset"> <span class="col-form-span-label" (click)="Resetchild();"><i class="fa fa-ban"></i> Reset</span></button>
                    <!-- <button class="btn btn-sm btn-danger" type="List"> <span class="col-form-span-label" (click)="Resetchildrcrd();"><i class="fa fa-ban"></i> List</span></button> -->
                </td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td><span class="col-form-span-label"><b> Net Total</b> </span></td>
                <td colspan="3" >  <input [(ngModel)]="NetTotal" disabled="disabled" type="text"    class="form-control width150" maxlength="40" > </td>
            </tr>
            <tr>
                <td><span class="col-form-span-label"><b> Amount</b> </span></td>
                <td >  <input [(ngModel)]="TotalAmount" disabled="disabled" type="text"    class="form-control width150" maxlength="40" > </td>
                <td><span class="col-form-span-label"><b>Deduction</b> </span></td>
                <td >  <input [(ngModel)]="TotalDeduction" disabled="disabled" type="text"    class="form-control width150" maxlength="40" > </td>
            </tr>

       <tr>
        <td colspan="4">
        <!-- <table class="table table-bordered table-sm-new bgwhite">
            <tr>
                 <td colspan="4" > style="width:615px;" -->
                    <div class="row xyscroll" style="width:715px;"   >
                        <table class="table table-responsive-sm table-bordered" *ngIf="Accountlist.length>0" >
                            <thead>
                                <tr class="bakgrdliteBlue">
                                    <th  class="col-form-span-label font-weight-bold headerwhite" ></th>
                                    <th class="col-form-span-label font-weight-bold headerwhite">Account Name</th>
                                    <th  class="col-form-span-label font-weight-bold headerwhite">Amount</th>
                                    <th  class="col-form-span-label font-weight-bold headerwhite">Deduction</th>
                                    <th  class="col-form-span-label font-weight-bold headerwhite">Item</th>
                                    <th  class="col-form-span-label font-weight-bold headerwhite">Entry Type </th>
                                    <th class="col-form-span-label font-weight-bold headerwhite">Job No</th>
                                    <th class="col-form-span-label font-weight-bold headerwhite">Bill No</th>
                                    <th class="col-form-span-label font-weight-bold headerwhite">Department</th>
                                    <th class="col-form-span-label font-weight-bold headerwhite">Narration</th>
                                </tr>
                            </thead>
                             <tbody   >
                                <tr *ngFor="let obj of Accountlist">
                                    <td class="centerlabel">
                                        <i class="fa fa-pencil" (click)="Editchildrecd(obj.ID)" ></i>
                                        &nbsp;
                                        <i class="fa fa-trash" (click)="deletechildrecd(obj.ID,obj.ACC_BANKDTLS_ID)"></i>
                                    </td>
                                   <td><span class="col-form-span-label"  [innerHtml]="obj.ACCOUNT_NAME"> </span></td>
                                   <td><span class="col-form-span-label">{{obj.AMOUNT}}</span></td>
                                    <td><span class="col-form-span-label">{{obj.DEDUCTION}}</span></td>
                                    <td><span class="col-form-span-label">{{obj.ITEM}}</span></td>
                                    <td><span class="col-form-span-label">{{obj.ET}}</span></td>
                                    <td><span class="col-form-span-label">{{obj.JOBNO}}</span></td>
                                    <td><span class="col-form-span-label">{{obj.BILLNO}}</span></td>
                                    <td><span class="col-form-span-label">{{obj.DEPARTMENT}}</span></td>
                                    <td><span class="col-form-span-label">{{obj.NARRATION}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                   </div>
                 <!-- </td>
            </tr>

        </table>   -->

    </td>
</tr>
<tr>
    <td colspan="4"  class="centerlabel">
        <button class="btn btn-sm btn-success" type="submit" (click)="Add_Main()"> <span class="col-form-span-label"><i class="fa fa-dot-circle-o" ></i> {{text}}</span></button>
        <button class="btn btn-sm btn-danger" type="reset"> <span class="col-form-span-label" (click)="Reset();"><i class="fa fa-ban"></i> Reset</span></button>
    </td>
</tr>
 </table>
    </div>
   

    <div class="col-sm-12 col-md-2 col-lg-2">
    </div>
</div>
<div class="modal" [style.display]="showModal_ListBill ? 'block' : 'none'">
    <div class="modal-dialog modal-mg" role="document"  >
        <div class="modal-content " style="height:400px; width:500px;overflow-x: auto;">
            <div class="modal-header">
                <h5 class="modal-title">BILL DETAILS</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- <div class="col" style="height:400px;overflow-y: auto;" > -->
                        <div class="col" style="height:300px;overflow-y: auto;" >
                        <table class="table table-bordered table-sm-new bgwhite" align="center">
                            <tr>
                                <td><span class="col-form-span-label"><b> Client:  </b> </span>
                                    <span class="col-form-span-label"><b>{{client}}</b></span>
                                </td>
                                 
                            </tr>
                            <tr>
                                <td>
                                    <thead style="text-align: center;">
                                        <tr>
                                            <th class="col-form-span-label"></th>
                                            <th class="col-form-span-label">INVOICE NO.</th>
                                            <th class="col-form-span-label">JOB NO.</th>
                                            <th class="col-form-span-label">AMOUNT</th>
                                            <!-- <th class="col-form-span-label">DEDUCTION</th>
                                            <th class="col-form-span-label">NARRATION</th> -->
                                        </tr>
                                    </thead>
                                    <tbody >
                                       
                                        <tr *ngFor="let obj of ListBill ">
                                            <td class="col-form-span-label">
                                                <input type="checkbox" [(ngModel)]="obj.CHECKED" [id]="i" [value]="i"
                                                    (ngModelChange)="getCheckboxValues($event,obj.INV_NO,obj.INV_JOBNO,obj.TOTALAMT,obj.CLIENT)">
                                                &nbsp; </td>
                                            <td class="col-form-span-label">{{obj.INV_NO}}</td>
                                            <td class="col-form-span-label">{{obj.INV_JOBNO}}</td>
                                            <td class="col-form-span-label">{{obj.TOTALAMT}}</td>
                                            <!-- <td class="col-form-span-label">{{obj.DEDUCTION}}</td>
                                            <td class="col-form-span-label"> <input [(ngModel)]="obj.NARRATION"  type="text" maxlenght="40"  class="form-control width150" ></td> -->

                                        </tr>
                                    </tbody>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div style="float: right;">
                    <button class="btn btn-sm btn-success" type="submit" (click)="popup_listbill()"> <span
                            class="col-form-span-label"><i class="fa fa-dot-circle-o"></i>Add</span></button>
                    <button class="btn btn-sm btn-danger" type="reset"> <span class="col-form-span-label"
                            (click)="close()"><i class="fa fa-ban"></i>
                            Close</span></button>
                </div>
            </div>
        </div>
        </div>
</div>
