<div class="animated fadeIn">
	<app-print-air-hawb-search *ngIf="viewType == 'Search'" (searchoutput)="getSearchInputValue($event)"></app-print-air-hawb-search>
	<app-print-air-hawb-list [searchList]="searchList" [searchLength]="searchLength" *ngIf="viewType == 'List'" (result)="getDataFromList($event)"></app-print-air-hawb-list>
	<app-print-air-hawb-update [searchList]="searchList" *ngIf="viewType == 'Update'" [hawbno]="hawbno"  [hawbdate]="strHawbDate" [exptnos]="exptnos" (result)="getPrintData($event)"></app-print-air-hawb-update>
</div>