<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header formheading">
                <strong>Export - Master HAWB NO</strong>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-2"> </div>
    <div class="col-sm-8"> 
        <table class="table table-bordered table-striped table-sm-new bgwhite">
            <tr>
                <td colspan="4"><span class="col-form-span-label" style="margin-left: 600px;">{{HAWBNO}} - {{HAWBDT}}</span></td>
            </tr>
            <tr>
                <td>
                    <span class="col-form-span-label">Shipper Name and Address</span>
                    <br />
                    <textarea style="FONT-SIZE: 12px;font-family: Courier New; " rows="4" cols="40" OnlyCharacter="true" [(ngModel)]="shipper"></textarea>
                    
                </td>
                <td rowspan="2">
                    <span class="col-form-span-label" > <b>{{COM_NAME}}</b> <br/> <b>&nbsp;&nbsp;{{CMP_CITY}}</b></span>

                </td>
            </tr>
            <tr>
                <td>
                    <span class="col-form-span-label">Consignee Name and Address</span>
                    <br />
                    <!-- <input [(ngModel)]="consignee" type="text" multiple="multiple" class="form-control width250 " style="height:50px"> -->
                    <textarea  style="FONT-SIZE: 12px;font-family: Courier New; " rows="4" cols="40"  OnlyCharacter="true" [(ngModel)]="consignee"></textarea>
                </td>

            </tr>
            <tr>
                <td>
                    <span class="col-form-span-label">Issuing Carriers agent name and City</span>
                    <br /> <textarea  style="FONT-SIZE: 12px;font-family: Courier New; " rows="4" cols="40" OnlyCharacter="true" [(ngModel)]="agentname"></textarea>
                    <!-- <input [(ngModel)]="agentname" type="text" multiple="multiple" class="form-control  width250 " style="height:50px"> -->
                </td>
                <td rowspan="2"> <span class="col-form-span-label">Accounting Information </span>
                  <br />       <!--  <input [(ngModel)]="actinfo" type="text" multiple="multiple" class="form-control  width250 " style="height:50px"> -->
                    <textarea rows="6"   class="form-control" OnlyCharacter="true" [(ngModel)]="actinfo"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="col-form-span-label">Agent's IATA Code </span>
                    <br />
                    <input [(ngModel)]="IATACode" type="text" multiple="multiple" class="form-control width150 ">
                    <div>
                        <span class="col-form-span-label">Account no</span>
                        <br />
                        <input [(ngModel)]="IATAcct" type="text" multiple="multiple" class="form-control width150 ">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="col-form-span-label">Airport of Departure (Addr. of First Carrier) and Requested
                        Routing</span>
                    <br />
                     <input [(ngModel)]="airportdep" type="text" multiple="multiple" class="form-control  width150"> 
                   
                </td>
                <div>
                    <span class="col-form-span-label">  Reference No</span>
                    <span class="col-form-span-label"> Optional Shipping Information</span>
                </div>
            </tr>

        </table>
        <table class="table table-bordered table-striped table-sm-new bgwhite">
            <tr>
                <td> <span class="col-form-span-label">  To</span> </td>
                <td> <span class="col-form-span-label">   By First Carrier</span></td>
                <td> <span class="col-form-span-label">  to</span> </td>
                <td> <span class="col-form-span-label">  by</span> </td>
                <td> <span class="col-form-span-label">   to</span> </td>
                <td> <span class="col-form-span-label">   by</span> </td>
                <td> <span class="col-form-span-label">   Currency </span> </td>
                <td> <span class="col-form-span-label">  CHGS Code</span> </td>
                <td> <span class="col-form-span-label">   PPD</span> </td>
                <td> <span class="col-form-span-label">  COLL</span> </td>
                <td> <span class="col-form-span-label">  PPD</span> </td>
                <td> <span class="col-form-span-label">   COLL</span> </td>
                <td> <span class="col-form-span-label">  Declared Value of Carriage</span> </td>
                <td> <span class="col-form-span-label">  Declared Value of Custom</span> </td>
            </tr>
            <tr>
                <td> <input [(ngModel)]="to1" type="text" class="form-control"> </td>
                <td> <input [(ngModel)]="bycarrier1" type="text" class="form-control"> </td>
                <td> <input [(ngModel)]="to2" type="text" class="form-control"> </td>
                <td> <input [(ngModel)]="by2" type="text" class="form-control"> </td>
                <td> <input [(ngModel)]="to3" type="text" class="form-control"> </td>
                <td> <input [(ngModel)]="by3" type="text" class="form-control"></td>
                <td> <input [(ngModel)]="currency" type="text" class="form-control"></td>
                <td> <input [(ngModel)]="chgs" type="text" class="form-control"></td>
                <td> <input [(ngModel)]="ppd1" type="text" class="form-control"></td>
                <td> <input [(ngModel)]="coll1" type="text" class="form-control"></td>
                <td> <input [(ngModel)]="ppd2" type="text" class="form-control"> </td>
                <td> <input [(ngModel)]="coll2" type="text" class="form-control"> </td>
                <td> <input [(ngModel)]="valcarriage" type="text" class="form-control"></td>
                <td> <input [(ngModel)]="valcustom" type="text" class="form-control"></td>
            </tr>
            <tr>
                <td colspan="4">
                    <span class="col-form-span-label">   Airport Of Destination</span>
                    <br />
                    <input [(ngModel)]="airprtdest" type="text" class="form-control width150">
                </td>
                <td colspan="3">
                    <span class="col-form-span-label">  Requested Flight/date </span>
                    <br />
                   
                    <input [(ngModel)]="reqfltdt1" type="text" class="form-control width70"   >  
                   <input [(ngModel)]="reqfltdt2" type="text"  class="form-control width70"    >
                </td>
                <!-- <td>     </td> -->
                <td colspan="3">
                    <span class="col-form-span-label">  Amount of Insurance</span>
                    <br />
                    <input [(ngModel)]="amtinsur" type="text" class="form-control width150">

                </td>
                <td colspan="4">
                    <span class="col-form-span-label">   </span>
                </td>
            </tr>
            <tr>
                <td colspan="14">
                    <span class="col-form-span-label">   Handling Inforamtion</span>
                    <br />
                    <!-- <input [(ngModel)]="handinfo" multiple="multiple" type="text" class="form-control width220"  style="height:30px"> -->
                    <textarea  style="FONT-SIZE: 12px;font-family: Courier New; " rows="4" cols="60"  OnlyCharacter="true" [(ngModel)]="handinfo"></textarea>

                </td>
            </tr>
        </table>
        <table class="table table-bordered table-striped table-sm-new bgwhite">
            <tr>
                <td style="width: 50px;"> <span class="col-form-span-label">  No.of Pcs RCP</span> </td>
                <td style="width: 50px;"> <span class="col-form-span-label">   Grows Weight</span></td>
                <td style="width: 50px;"> <span class="col-form-span-label">   kg lb </span> </td>
                <td style="width: 50px;"> <span class="col-form-span-label">  Rate Class </span> </td>
                <td style="width: 50px;"> <span class="col-form-span-label">  Commodity Item No.</span> </td>
                <td style="width: 50px;"> <span class="col-form-span-label">  Chargable Weight</span> </td>
                <td style="width: 50px;"> <span class="col-form-span-label">  Rate Charge </span> </td>
                <td style="width: 50px;"> <span class="col-form-span-label">   Total</span> </td>
                <td style="width: 250px;"> <span class="col-form-span-label">   Nature Of Quantity of Goods</span> <br />
                    <span class="col-form-span-label"> (Incl.Dimensions or Volume)</span>
                </td>
            </tr>
            <tr>
            <tr>
               <td><textarea style="FONT-SIZE: 12px;font-family: Courier New;" rows="10" cols="5" OnlyCharacter="true" [(ngModel)]="pcsrcp"></textarea>  </td> <!-- <input [(ngModel)]="pcsrcp" type="text" multiple="multiple" class="form-control"> -->
                <td><textarea style="FONT-SIZE: 12px;font-family: Courier New;" rows="10" cols="5" OnlyCharacter="true" [(ngModel)]="grwt"></textarea>  </td> <!-- <input [(ngModel)]="grwt" type="text" multiple="multiple" class="form-control"> -->
                <td><textarea   style="FONT-SIZE: 12px;font-family: Courier New;" rows="10" cols="5" OnlyCharacter="true" [(ngModel)]="kglb"></textarea> </td> <!-- <input [(ngModel)]="kglb" type="text" multiple="multiple" class="form-control"> -->
                <td><textarea  style="FONT-SIZE: 12px;font-family: Courier New;" rows="10" cols="5" OnlyCharacter="true" [(ngModel)]="ratecls"></textarea> </td> <!-- <input [(ngModel)]="ratecls" type="text" multiple="multiple" class="form-control"> -->
                <td><textarea  style="FONT-SIZE: 12px;font-family: Courier New;" rows="10" cols="5" OnlyCharacter="true" [(ngModel)]="commodity"></textarea> </td> <!-- <input [(ngModel)]="commodity" type="text" multiple="multiple" class="form-control">  -->
                <td><textarea  style="FONT-SIZE: 12px;font-family: Courier New;" rows="10" cols="5" OnlyCharacter="true" [(ngModel)]="chblwt"></textarea> </td> <!--  <input [(ngModel)]="chblwt" type="text" multiple="multiple" class="form-control"> -->
                <td> <textarea  style="FONT-SIZE: 12px;font-family: Courier New;" rows="10" cols="5" OnlyCharacter="true" [(ngModel)]="ratechrg"></textarea></td> <!-- <input [(ngModel)]="ratechrg" type="text" multiple="multiple" class="form-control"> -->
                <td> <textarea  style="FONT-SIZE: 12px;font-family: Courier New;" rows="10" cols="5" OnlyCharacter="true" [(ngModel)]="total"></textarea></td> <!-- <input [(ngModel)]="total" type="text" multiple="multiple" class="form-control"> -->
                <td><textarea   style="FONT-SIZE: 12px;font-family: Courier New;width: 250px;" rows="10" cols="15" OnlyCharacter="true" [(ngModel)]="qtyofgoods"></textarea></td> <!--  <input [(ngModel)]="qtyofgoods" type="text" multiple="multiple" class="form-control"> -->

            </tr>
        </table>
        <table class="table table-bordered table-striped table-sm-new bgwhite">
            <tr>
                <td> <span class="col-form-span-label"><b>Prepaid</b>  </span> </td>
                <td> <span class="col-form-span-label">  <b>Collect</b> </span></td>
                <td> <span class="col-form-span-label">  <b>Other Charges</b> </span> </td>
            </tr>
            <tr>
                <td colspan="2"><span class="col-form-span-label centerlabel">  Weight Charge</span> </td>
                <td rowspan="6"><textarea rows="3"   class="form-control" OnlyCharacter="true" [(ngModel)]="othrchrg"></textarea><!-- <input [(ngModel)]="othrchrg" type="text" multiple="multiple" class="form-control width150"> -->
                </td>
            </tr>
            <tr>
                <td> <input [(ngModel)]="ppwtchrg" type="text" class="form-control width150"> </td>
                <td> <input [(ngModel)]="ccwtchrg" type="text" class="form-control width150"> </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="col-form-span-label centerlabel">  Valuation Charge</span>
                </td>
            </tr>
            <tr>
                <td> <input [(ngModel)]="ppvalchrg" type="text" class="form-control width150"> </td>
                <td> <input [(ngModel)]="ccvalchrg" type="text" class="form-control width150"> </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="col-form-span-label ">  Tax</span>
                </td>
            </tr>
            <tr>
                <td> <input [(ngModel)]="pptax" type="text" class="form-control width150"> </td>
                <td> <input [(ngModel)]="cctax" type="text" class="form-control width150"> </td>
               
            </tr>
            <tr>
                <td colspan="2">
                    <span class="col-form-span-label centerlabel">  Total Other Change Due Agent</span>
                </td>
                <td rowspan="4"><textarea rows="3"   class="form-control" OnlyCharacter="true" [(ngModel)]="AGTNAME1"></textarea> 
                    <!-- <input [(ngModel)]="othrchrg" type="text" multiple="multiple" class="form-control"> -->
                    <br />
                    <span class="col-form-span-label ">  Signature of shipper or his Agent </span>
                </td>
            </tr>
            <tr>
                <td> <input [(ngModel)]="ppothrchrg" type="text" class="form-control width150"> </td>
                <td> <input [(ngModel)]="ccothrchrg" type="text" class="form-control width150"> </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="col-form-span-label centerlabel">  Total Other Change Due Carrier</span>
                </td>
            </tr>
            <tr>
                <td> <input [(ngModel)]="ppothrchrgCar" type="text" class="form-control width150 "> </td>
                <td> <input [(ngModel)]="ccothrchrgCar" type="text" class="form-control width150"> </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="col-form-span-label centerlabel">  Total </span>
                </td>
                <td rowspan="4"> <input [(ngModel)]="bottom" type="text" class="form-control"> 
                    <br />
                    <span class="col-form-span-label ">  (date) at (place) </span>
                </td>
            </tr>
            <tr>
                <td> <input [(ngModel)]="pptotal" type="text" class="form-control width150"> </td>
                <td> <input [(ngModel)]="cctotal" type="text" class="form-control width150"> </td>
            </tr>
            <tr>
                <td> <span class="col-form-span-label ">  Currency Coanverision Rates</span> </td>
                <td> <span class="col-form-span-label ">  CC Charges in Dest. Currency </span> </td>
            </tr>
            <tr>
                <td> <input [(ngModel)]="ppcrate" type="text" class="form-control width150"> </td>
                <td> <input [(ngModel)]="ccdestcrate" type="text" class="form-control width150"> </td>
            </tr>
            <tr>
                    <td> <span class="col-form-span-label ">   </span> </td>
                    <td> <span class="col-form-span-label ">    </span> </td>
                    <td> <span class="col-form-span-label ">   Total Collect Charges </span> 
                    <br/>
                    <input [(ngModel)]="totcollchrg" type="text" class="form-control">
                </td>
            </tr>
        </table>
        <div class="col-sm-4 right-text">
            <br />
            <button type="button" name="submit" class="btn btn-sm btn-primary" (click)="updateprint();">
                <span class="col-form-span-label"><i class="fa fa-save"></i> Submit</span>
            </button>
            <button type="button" name="Print" class="btn btn-sm btn-primary" (click)="printData();">
                <span class="col-form-span-label"><i class="fa fa-print"></i> Print</span>
            </button>
        </div>
    </div>
    <div class="col-sm-2"> </div>
</div>
