<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header formheading">
			   <strong>Export - Master HAWB NO</strong>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
	</div>
	<div class="col-sm-8">
		<table class="table table-sm-new bgwhite">
			<tr class="title-head formheading">
				<td colspan="6">
					<span class="col-form-span-label"><strong>HAWB DETAILS </strong></span>
				</td>
			</tr>
		</table>
		<table class="table table-sm-new bgwhite">
			<tr class="title-head trbg">
				<td class="right-text">
					<span class="col-form-span-label">HAWB No.</span><span class="col-form-span-error">*</span>
				</td>
				<td class="width130">
					<input type="text" [(ngModel)]="hawbno" class="form-control width120" [OnlyNumber]="true" [maxlength]="15" />
				</td>
				<td class="width300">
					<span class="col-form-span-error" *ngIf="error == 1">Invalid Hawb Number*</span>
				</td>
			</tr>
			<tr class="title-head trbg">
				<td class="right-text">
					<span class="col-form-span-label">HAWB Date.</span><span class="col-form-span-error">*</span>
				</td>
				<td class="width130">
					<my-date-picker name="hawbdate" [options]="myDatePickerOptions" [(ngModel)]="hawbdate"></my-date-picker>
				</td>
				<td class="width300">
					<span class="col-form-span-error" *ngIf="error == 2">Hawb date can not blank*</span>
				</td>
			</tr>
			<tr class="title-head trbg">
				<td colspan="3" class="centerlabel">
					<button type="button" name="searchButton" class="btn btn-sm btn-info" (click)="searchData();">
						<span class="col-form-span-label"><i class="fa fa-search"></i>Search</span>
					</button>
					<button type="button" name="printButton" class="btn btn-sm btn-warning" (click)="printData();">
						<span class="col-form-span-label"><i class="fa fa-print"></i> Print</span>
					</button>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-2">
	</div>
</div>