<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-8 mb-12" >				
						<!-- <app-mbl-print></app-mbl-print>	 -->
						<button name="btnPrint"   (click)="finalMawbPrint()">Print</button> <br>
      <div id="divmawbno" #print>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:10px;left:40px;color:black;z-index:1;white-space: pre;"> {{this.shipper}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:120px;left:40px;color:black;z-index:1;white-space: pre;">{{this.consignee}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:210px;left:40px;color:black;z-index:1;white-space: pre;">{{this.agentname}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:220px;left:390px;color:black;z-index:1;white-space: pre;">{{this.actinfo}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:270px;left:110px;color:black;z-index:1;white-space: pre;">{{this.IATACode}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:300px;left:40px;color:black;z-index:1;white-space: pre;">{{this.airportdep}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:40px;color:black;z-index:1;white-space: pre;">{{this.to1 }}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:100px;color:black;z-index:1;white-space: pre;">{{this.bycarrier1}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:255px;color:black;z-index:1;white-space: pre;">{{this.to2}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:285px;color:black;z-index:1;white-space: pre;">{{this.by2}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:315px;color:black;z-index:1;white-space: pre;">{{this.to3 }}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:345px;color:black;z-index:1;white-space: pre;">{{this.by3}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:370px;color:black;z-index:1;white-space: pre;">{{this.currency}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:410px;color:black;z-index:1;white-space: pre;">{{this.chgs}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:430px;color:black;z-index:1;white-space: pre;">{{this.ppd1}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:448px;color:black;z-index:1;white-space: pre;">{{this.coll1}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:465px;color:black;z-index:1;white-space: pre;">{{this.ppd2}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:485px;color:black;z-index:1;white-space: pre;">{{this.coll2}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:520px;color:black;z-index:1;white-space: pre;">{{this.valcarriage}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:332px;left:630px;color:black;z-index:1;white-space: pre;">{{this.valcustom}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:368px;left:40px;color:black;z-index:1;white-space: pre;">{{this.airprtdest}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:368px;left:250px;color:black;z-index:1;white-space: pre;">{{this.reqfltdt1}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:368px;left:350px;color:black;z-index:1;white-space: pre;">{{this.reqfltdt2}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:368px;left:380px;color:black;z-index:1;white-space: pre;">{{this.amtinsur}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:395px;left:40px;color:black;z-index:1;white-space: pre;">{{this.handinfo}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:490px;left:40px;color:black;z-index:1;white-space: pre;">{{this.pcsrcp}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:520px;left:40px;color:black;z-index:1;white-space: pre;">{{this.DESC}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:490px;left:80px;color:black;z-index:1;white-space: pre;">{{this.grwt}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:490px;left:150px;color:black;z-index:1;white-space: pre;">{{this.kglb}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:490px;left:160px;color:black;z-index:1;white-space: pre;">{{this.ratecls}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:490px;left:190px;color:black;z-index:1;white-space: pre;">{{this.commodity}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:490px;left:240px;color:black;z-index:1;white-space: pre;">{{this.chblwt}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:490px;left:320px;color:black;z-index:1;white-space: pre;">{{this.ratechrg}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:490px;left:400px;color:black;z-index:1;white-space: pre;">{{this.total}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:490px;left:520px;color:black;z-index:1;white-space: pre;">{{this.qtyofgoods}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:715px;left:40px;color:black;z-index:1;white-space: pre;">{{this.ppwtchrg}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:715px;left:200px;color:black;z-index:1;white-space: pre;">{{this.ccwtchrg}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:740px;left:40px;color:black;z-index:1;white-space: pre;">{{this.ppvalchrg}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:740px;left:200px;color:black;z-index:1;white-space: pre;">{{this.ccvalchrg}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:775px;left:40px;color:black;z-index:1;white-space: pre;">{{this.pptax}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:775px;left:200px;color:black;z-index:1;white-space: pre;">{{this.cctax}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:810px;left:40px;color:black;z-index:1;white-space: pre;">{{this.ppothrchrg}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:810px;left:200px;color:black;z-index:1;white-space: pre;">{{this.ccothrchrg}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:850px;left:40px;color:black;z-index:1;white-space: pre;">{{this.ppothrchrgCar}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:850px;left:200px;color:black;z-index:1;white-space: pre;">{{this.ccothrchrgCar}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:905px;left:40px;color:black;z-index:1;white-space: pre;">{{this.pptotal}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:905px;left:200px;color:black;z-index:1;white-space: pre;">{{this.cctotal}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:930px;left:40px;color:black;z-index:1;white-space: pre;">{{this.ppcrate}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:930px;left:200px;color:black;z-index:1;white-space: pre;">{{this.ccdestcrate}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:860px;left:350px;color:black;z-index:1;white-space: pre;">{{this.AGTNAME1}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:920px;left:350px;color:black;z-index:1;white-space: pre;">{{this.bottom}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:730px;left:320px;color:black;z-index:1;white-space: pre;">{{this.othrchrg}}</p>
<p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:960px;left:350px;color:black;z-index:1;white-space: pre;">{{this.totcollchrg}}</p>
      </div>		 
				</div>                 
			</div>		
			 
		</div>
	</div>
</div>