<div class="animated fadeIn" *ngIf="viewType != 'Print'">
	<div class="row">
		<div class="col-sm-12">
			<app-mawb-search *ngIf="viewType == 'Search'" (searchoutput)="getSearchInputValue($event)"></app-mawb-search>
		</div>
	</div>
	<div class="row" *ngIf="viewType == 'Generate' || viewType == 'List'">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header formheading">
				   <strong>Export - Master Aerobill Generate</strong>
				</div>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="viewType == 'Generate' || viewType == 'List'">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<table class="table table-sm-new bgwhite">
				<tr class="title-head formheading">
					<td colspan="6">
						<span class="col-form-span-label"><strong>MAWBNO DETAILS </strong></span>
					</td>
				</tr>
			</table>
			<table class="table table-sm-new bgwhite" *ngIf="viewType == 'Generate' || viewType == 'List'">
				<tr class="title-head trbg">
					<td class="right-text">
						<span class="col-form-span-label">AirLine</span><span class="col-form-span-error">*</span>
					</td>
					<td >
						<select class="form-control width250"   [(ngModel)]="AirLine" (change)="getmwawblist(AirLine);" >
							<!-- <option value="-1">Please select</option>
							<option value="S100702">Emirate Airline</option> -->
							<option value="0">Please select</option>
							<option *ngFor="let d of AirLineList" value={{d.DATAVALUEFIELD}}>{{d.DATATEXTFIELD}}</option>

						</select>
					</td>
					<td class="width300">
						<span class="col-form-span-error" *ngIf="error == 1">Please select AirLine*</span>
					</td>
				</tr>
				<tr class="title-head trbg">
					<td class="right-text">
						<span class="col-form-span-label">MAWB No.</span><span class="col-form-span-error">*</span>
					</td>
					<td >
						<select class="form-control width120"   [(ngModel)]="mawbno">
							<option value="0">Please select</option>
							<!-- <option value="17645678932">17645678932</option>
							<option value="17636789525">17636789525</option> -->
							 <option *ngFor="let d of AirLineMawbNoList" value={{d.MAWBNO}}>{{d.MAWBNO}}</option>

						</select>
					</td>
					<td class="width300">
						<span class="col-form-span-error" *ngIf="error == 2">Please select Mawb Number*</span>
						<span class="col-form-span-error" *ngIf="error == 3">Invalid Mawb Number*</span>
					</td>
				</tr>
				<!-- <tr class="title-head trbg">
					<td class="right-text">
						<span class="col-form-span-label">MAWB No.</span><span class="col-form-span-error">*</span>
					</td>
					<td class="width130">
						<input type="text" [(ngModel)]="Airmawbno" class="form-control width120" (change)="fn_generateLastMawbNo(10);" [OnlyNumber]="true" [maxlength]="11" />
					</td>
					<td class="width300">
						<span class="col-form-span-error" *ngIf="error == 1">Invalid Mawb Number*</span>
					</td>
				</tr> -->
				<tr class="title-head trbg">
					<td class="right-text">
						<span class="col-form-span-label">MAWB Date.</span><span class="col-form-span-error">*</span>
					</td>
					<td class="width130">
						<my-date-picker name="mawbdate" [options]="myDatePickerOptions" [(ngModel)]="mawbdate"></my-date-picker>
					</td>
					<td class="width300">
						<span class="col-form-span-error" *ngIf="error ==4">Mawb Date can not blank*</span>
					</td>
				</tr>
				<tr class="title-head trbg">
					<td colspan="3">
						<div class="centerlabel">
							<span class="col-form-span-label">
                                <input type="radio" name="radioDisplay" value="M" [(ngModel)]="MawbType"  />&nbsp;With House</span>
                            <span class="col-form-span-label">
                                <input type="radio" name="radioDisplay" value="H" [(ngModel)]="MawbType" />&nbsp;Without House(Direct Mawb)</span>&nbsp;&nbsp;&nbsp;&nbsp;

                        </div>
					</td>
				</tr>
				<tr class="title-head trbg">
					<td colspan="3" class="centerlabel">
						<button type="button" name="searchButton" class="btn btn-sm btn-info" (click)="searchData();">
							<span class="col-form-span-label"><i class="fa fa-search"></i> Search</span>
						</button>
						<button type="button" name="printButton" class="btn btn-sm btn-warning" (click)="printData();">
							<span class="col-form-span-label"><i class="fa fa-print"></i>  Print</span>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<app-print-air-mawb-list [searchList]="searchList" *ngIf="viewType == 'List'" (result)="getData($event)"></app-print-air-mawb-list>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<app-print-air-mawb-update [searchList]="searchList" *ngIf="viewType == 'Update'" (abort)="cancelled($event)"  [mawbno]="mawbno"  [mawbdate]="strMawbDate" [exptnos]="exptnos" [MawbType]="MawbType" [AirLine]="AirLine" (result)="getPrintData($event)"></app-print-air-mawb-update>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>