.table-outline {
  border: 1px solid $table-border-color;

  td {
    vertical-align: middle;
  }
}

.table-align-middle {

  td {
    vertical-align: middle;
  }
}

.table-clear {
  td {
    border: 0;
  }
}
.table-borderlessjob td,
.table-borderlessjob th {
    border: 0; /* Removes border as intended */
   // background-color: white;
    
}
