<nav>
    <!-- <a style="background-image: url(Untitled-1.png);" class="navbar-brand" href="javascript:void(0);"></a> -->
    <a class="navbar-brand" href="javascript:void(0);">
      <!--<img src="" style="width: 155px;height: 55px;">-->
    </a>
    <span style='font-size: 24px; font-weight: bold; font-family: "Euclid Fraktur", "Old English Text MT", fantasy, serif; color: #ffffff; text-shadow: 1px 1px 2px #0300bd, 0 0 25px #0300bd, 0 0 5px #0300bd;'>
      {{'Manilal Patel Freight Service Pvt Ltd'
      | titlecase}}&nbsp;</span>
      
  </nav>
  <main style="border-radius: 20px;">
    <div class="card p-4" [ngStyle]="{'border-radius': '20px'}">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 centerlabel">
            <h1>Login</h1>
            <p class="text-muted">Sign In to your account</p>
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-addon"><i class="icon-user"></i></span>
          <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
        </div>
        <div class="input-group mb-4">
          <span class="input-group-addon"><i class="icon-lock"></i></span>
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
        </div>
        <div class="input-group mb-4">
          <button type="button" [ngStyle]="{'width': '100%'}" (click)="btnLogin()" [disabled]="disabledbutton" class="btn btn-sm btn-primary">Login&nbsp;<i
              class="fa fa-sign-in"></i></button>
        </div>
      </div>
    </div>
  </main>
  <footer>
    Angular version6.0.3@2018 Manilal Patel Group. All Rights Reserved.
  </footer>