<div class="row">
    <div class="col-sm-12">
        <div class="card">
                <div class="card-header formheading">
                        <strong><u> Ep Copy Received date Update </u></strong>
                     </div>
            <div class="card-body"> 
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
                            <table class="table table-bordered table-sm-new">
                                    <tr class="trbg">
                                        <td colspan="4"><span class="col-form-span-label"><b>General Details</b></span></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                        <td  ><span class="col-form-span-label">Export No.</span></td>
                                        <td><span class="col-form-span-value"><b>{{exptno}}</b></span></td>
                                        <td  ><span class="col-form-span-label">Doc recd date</span></td>
                                        <td><span class="col-form-span-value">{{exptdata?.expt_docrecd}}</span></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                        <td  ><span class="col-form-span-label">Shipper Name</span></td>
                                        <td colspan="3"><span class="col-form-span-value">{{exptdata?.exp_name}}</span></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                        <td  ><span class="col-form-span-label">Consignee</span></td>
                                        <td colspan="3"><span class="col-form-span-value">{{exptdata?.con_name}}</span></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                        <td  ><span class="col-form-span-label">Invoice No.</span></td>
                                        <td><span class="col-form-span-value">{{exptdata?.expt_invno}}</span></td>
                                        <td  ><span class="col-form-span-label">Invoice date</span></td>
                                        <td><span class="col-form-span-value">{{exptdata?.expt_invdate}}</span></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                        <td  ><span class="col-form-span-label">GRI No.</span></td>
                                        <td><span class="col-form-span-value">{{exptdata?.expt_grino}}</span></td>
                                        <td ><span class="col-form-span-label">GRI date</span></td>
                                        <td><span class="col-form-span-value">{{exptdata?.expt_gridate}}</span></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                        <td  ><span class="col-form-span-label">Total No. of Packages</span></td>
                                        <td><span class="col-form-span-value">{{exptdata?.Total_No_of_Packages}}</span></td>
                                        <td ><span class="col-form-span-label">Total No. of Pieces</span></td>
                                        <td><span class="col-form-span-value">{{exptdata?.Total_No_of_Pieces}}</span></td>
                                    </tr>
                                    <tr class="trbg">
                                        <td colspan="4"><span class="col-form-span-label"><b>Vessel Details</b></span></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                        <td ><span class="col-form-span-label">Vessel Name</span></td>
                                        <td colspan="3"><span class="col-form-span-value">{{exptdata?.Vessel_Name}}</span></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                        <td ><span class="col-form-span-label">ETD</span></td>
                                        <td><span class="col-form-span-value">{{exptdata?.etd}}</span></td>
                                        <td ><span class="col-form-span-label">Actual Departure</span></td>
                                        <td><span class="col-form-span-value">{{exptdata?.sailing}}</span></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                        <td  ><span class="col-form-span-label">Order No.</span></td>
                                        <td colspan="3"><span class="col-form-span-value">{{exptdata?.Order_No_Style_Details}}</span></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                        <td ><span class="col-form-span-label">GR. WT.</span></td>
                                        <td><span class="col-form-span-value">{{exptdata?.expt_grwt}}</span></td>
                                        <td><span class="col-form-span-label">NET WT.</span></td>
                                        <td><span class="col-form-span-value">{{exptdata?.expt_netwt}}</span></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                        <td ><span class="col-form-span-label">Volume</span></td>
                                        <td colspan="3"><span class="col-form-span-value">{{exptdata?.expt_volume}}</span></td>
                                    </tr>
                                    <tr class="trbg">
                                            <td colspan="4"><span class="col-form-span-label"><b>UPDATE EP COPY DETAILS </b></span></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                            <td ><span class="col-form-span-label">Recd. Date.</span></td>
                                            <td>
                                                 <my-date-picker   [options]="myDatePickerOptions" [(ngModel)]="Recddt" required > </my-date-picker> 
                                            </td>
                                            <td ><span class="col-form-span-label">Sent to client Date </span></td>
                                            <td><my-date-picker   [options]="myDatePickerOptions" [(ngModel)]="sntclntdt" required></my-date-picker></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                            <td ><span class="col-form-span-label">EP Copy of S/Bill No. </span></td>
                                            <td><input [(ngModel)]="shipblno" type="text"    class="form-control width100"    ></td>
                                          <!--   <td><span class="col-form-span-value">{{exptdata?.EP_CopyOfSBillNo}}</span></td> -->
                                            <td ><span class="col-form-span-label">EP Copy of S/Bill Date </span></td>
                                            <td><my-date-picker   [options]="myDatePickerOptions" [(ngModel)]="shipbldt" required></my-date-picker></td>
                                           <!--  <td><span class="col-form-span-value">{{exptdata?.EP_CopyOfSBillDt}}</span></td> -->
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                            <td ><span class="col-form-span-label">DEPB Copy of S/Bill No. </span></td>
                                            <td><input [(ngModel)]="DEPBno" type="text"    class="form-control width100"    ></td>
                                            <td ><span class="col-form-span-label">DEPB Copy of S/Bill Date </span></td>
                                            <td><my-date-picker   [options]="myDatePickerOptions" [(ngModel)]="Depbdt" required></my-date-picker></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                            <td ><span class="col-form-span-label">Original Mate Receipt No. </span></td>
                                            <td><input [(ngModel)]="mateno" type="text"    class="form-control width100"    ></td>
                                            <td ><span class="col-form-span-label">Original Mate Receipt Date </span></td>
                                            <td><my-date-picker   [options]="myDatePickerOptions" [(ngModel)]="matetecptdt" required></my-date-picker></td>
                                    </tr>
                                    <tr class="trbg">
                                            <td colspan="4"><span class="col-form-span-label"><b>Courier Details</b></span></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                            <td ><span class="col-form-span-label">Courier No </span></td>
                                            <td><input [(ngModel)]="courierno" type="text"    class="form-control width100"    ></td>
                                            <td ><span class="col-form-span-label">Courier Date  </span></td>
                                            <td><my-date-picker   [options]="myDatePickerOptions" [(ngModel)]="courierdt" required></my-date-picker></td>
                                    </tr>
                                    <tr style="background-color: #f1f1f1c7;">
                                            <td  ><span class="col-form-span-label">Courier Remark </span></td>
                                            <td colspan="3"><input [(ngModel)]="courierrmrk" type="text"    class="form-control width100"    ></td>
                                             
                                    </tr>
                                    <tr class="trbg">
                                            <td colspan="4"><span class="col-form-span-label"><b>AIE</b></span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                        <table class="table table-bordered table-sm-new">
                                                <thead  class="bakgrdskyBlue">	
                                                        <th></th>
                                                        <th class="col-form-span-label" >ARE Number </th>
                                                        <th class="col-form-span-label">ARE Date </th>
                                                        <th class="col-form-span-label">ARE No. of Copy Received </th>
                                                         
                                                    </thead>
                                         <tr>
                                                <td class="col-form-span-label" >ARE 1</td>
                                                <td><input [(ngModel)]="ARE1" type="text"    class="form-control width80"   ></td>
                                                <td><my-date-picker   [options]="myDatePickerOptions" [(ngModel)]="ARE1dt" required></my-date-picker></td>
                                                <td><input [(ngModel)]="ARE1Nocptrecvd" type="text"    class="form-control width80" maxlength="20" ></td>
                                         </tr>
                                         <tr>
                                                <td class="col-form-span-label" >ARE 2</td>
                                                <td><input [(ngModel)]="ARE2" type="text"    class="form-control width80"    ></td>
                                                <td><my-date-picker   [options]="myDatePickerOptions" [(ngModel)]="ARE2dt" required></my-date-picker>	</td>
                                                <td><input [(ngModel)]="ARE2Nocptrecvd" type="text"    class="form-control width80"   ></td>
                                         </tr>
                                         <tr>
                                                <td class="col-form-span-label" >ARE 3</td>
                                                <td><input [(ngModel)]="ARE3" type="text"    class="form-control width80"    ></td>
                                                <td><my-date-picker   [options]="myDatePickerOptions" [(ngModel)]="ARE3dt" required></my-date-picker>	</td>
                                                <td><input [(ngModel)]="ARE3Nocptrecvd" type="text"    class="form-control width80"  ></td>
                                         </tr>
                                         <tr></tr>
                                        </table>

                                        </td>
                                    </tr>
                                </table>
                        		
                    </div>
                    <table class="table table-bordered table-sm-new">
                            <tr>
                                <td class="col-form-span-heading right-text" colspan="4">
                                    <button class="btn btn-sm btn-success" type="submit" id="btnAgtAdd" name="btnAgtAdd" (click)="updateRecddt()" ><span class="col-form-span-label"><i class="fa fa-dot-circle-o" ></i> Submit</span></button>
                                    <button class="btn btn-sm btn-danger" type="reset" id="btnAgtRest" name="btnAgtrest" (click)="ResetAll()"><span class="col-form-span-label"><i class="fa fa-ban"></i> Reset</span></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>