<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>MISCELLANEOUS IMPORT JOBNO - SEARCH</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <table class="table table-sm-new bgwhite">
                <tr class="trbg">
                    <td colspan="3">
                        <span class="col-form-span-label"><b>Miscellaneous Job</b></span>
                    </td>
                </tr>
                <tr>
                    <td class="width90">
                        <span class="col-form-span-label">Job No.
                            <span class="col-form-span-error">*</span>
                        </span>
                    </td>
                    <td class="width130">
                        <input type="text" [(ngModel)]="Input" class="form-control width120"
                            [maxlength]="15" [OnlyNumber]="true" />
                    </td>
                    <td>
                        <span class="col-form-span-error" *ngIf="Input.trim().length==1">Please enter job no</span>
                        <span class="col-form-span-error" *ngIf="Input.trim().length>1&&Input.trim().length<=14">Please enter valid job no</span>
                    </td>
                </tr>
                <tr class="trbg centerlabel">
                    <td colspan="3">
                        <button type="button" name="submitButton" class="btn btn-sm btn-info" (click)="search();" [disabled]="Input.trim().length!=15">
                            <span class="col-form-span-label">
                                <i class="fa fa-search"></i>&nbsp;Search</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>