.Rpt_Label_content {
  font-size: 8pt;
  color: black;
  font-family: Verdana,Arial;
}
.Rpt_Label {
  font-weight: bold;
  font-size: 8pt;
  color: black;
  font-family: Verdana,Arial;
}
.Rpt_CodeDate {
  font-weight: bold;
  font-size: 9pt;
  color: black;
  font-family: Verdana,Arial;
}
