<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-8 mb-12" >				
						<!-- <app-mbl-print></app-mbl-print>	 -->
						<button name="btnPrint"   (click)="finalMblPrint()">Print</button> <br>
      <div id="divFcr" #print>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:05px;left:20px;color:black;z-index:1;white-space: pre;">{{SHIPPER}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:05px;left:650px;color:black;z-index:1;white-space: pre;">{{ MBLNO}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:10px;left:500px;color:black;z-index:1;white-space: pre;"> {{EXPNO}} </p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:80px;left:20px;color:black;z-index:0;white-space: pre;">{{ CONSIGNEE}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:170px;left:20px;color:black;z-index:0;white-space: pre;">{{NOTIFY}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:270px;left:30px;color:black;z-index:0;white-space: pre;"> {{CARRIAGE}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:270px;left:260px;color:black;z-index:0;white-space: pre;"> {{RECPTPLCE}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:300px;left:30px;color:black;z-index:0;white-space: pre;">{{VESSEL}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:300px;left:260px;color:black;z-index:0;white-space: pre;">{{POL}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:270px;left:400px;color:black;z-index:0;white-space: pre;">{{FRTPAIDAT}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:270px;left:600px;color:black;z-index:0;white-space: pre;">{{ NUMOFBL}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:300px;left:400px;color:black;z-index:0;white-space: pre;">{{POD}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:300px;left:600px;color:black;z-index:0;white-space: pre;">{{ PODEL}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:360px;left:20px;color:black;z-index:0;white-space: pre;"> {{MARKSANDNOS}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:360px;left:140px;color:black;z-index:0;white-space: pre;"> {{NOOFPKGS}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:360px;left:270px;color:black;z-index:0;white-space: pre;">{{ITCDESC}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:360px;left:570px;color:black;z-index:0;white-space: pre;">{{GRWT}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:360px;left:715px;color:black;z-index:0;white-space: pre;">{{VOL}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:700px;left:20px;color:black;z-index:0;white-space: pre;">{{MISC}}</p>
          <p style="FONT-SIZE: 11px;font-family: Verdana;position:absolute;top:930px;left:580px;color:black;z-index:0;white-space: pre;">{{PLACEDATE}}</p>
      </div>		 
				</div>                 
			</div>		
			 
		</div>
	</div>
</div>
