<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">		
						
							<table class="table table-bordered table-striped table-sm-new bgwhite">
							<tr>
								<td colspan="5">
									<input type="text" name="bookingno" style="FONT-SIZE: 12px;font-family: Courier New;margin-left: 688px;" size="12" maxlength="10" [(ngModel)]="BLDt"    >
									<input type="text" name="fcrno" style="FONT-SIZE: 12px;font-family: Courier New;" size="12" maxlength="15" [(ngModel)]="MBLNO"    readonly >
								</td>
							</tr>							
							<tr>
								<td colspan="3"> Shipper<br>
									<textarea name="shipper" style="FONT-SIZE: 12px;font-family: Courier New;"  rows="4" cols="40" [(ngModel)]="SHIPPER" > </textarea> 
								</td>
								<td  colspan="2" rowspan="2" >
									  <img src="assets/img/Export/mbl_cma.jpg" height="190px" >   
								</td>
							</tr>
							<tr>
								<td colspan="3"> Consignee<br>
									<textarea name="consignee" style="FONT-SIZE: 12px;font-family: Courier New; " rows="4" cols="40" [(ngModel)]="CONSIGNEE"> </textarea> 
								</td>
							</tr>
							<tr>
								<td colspan="3"> Notify Party carrier not to be responsible  for failure to notify<br>
									<textarea name="notify" style="FONT-SIZE: 12px;font-family: Courier New;" rows="4" cols="40" [(ngModel)]="NOTIFY" > </textarea> 
								</td>
								<td colspan="2"> 
									<textarea name="expno" style="FONT-SIZE: 12px;font-family: Courier New;" rows="2" cols="20" [(ngModel)]="EXPNO" > </textarea> 									
								</td>
							</tr>
							<tr>
								<td colspan="2"> Pre Carriage By <br>
									<input type="text" name="carriage" style="FONT-SIZE: 12px;font-family: Courier New; " size="10" id="carriage" [(ngModel)]="CARRIAGE"  maxlength="15">
								</td>
								<td colspan="1">  Place of Receipt<br>
									<input type="text" name="receipt" style="FONT-SIZE: 12px;font-family: Courier New; " size="10" maxlength="15"  [(ngModel)]="RECPTPLCE" >
								</td>
								<td > Freight to be paid at<br>
									<input type="text"  name="applyto" style="FONT-SIZE: 12px;font-family: Courier New;" rows="5" cols="40"  [(ngModel)]="APPLYTO" >  
								</td>
								<td> No of original BS/L<br>
								<input type="text" name="noofbl" style="FONT-SIZE: 12px;font-family: Courier New;" rows="5" cols="40"  [(ngModel)]="NUMOFBL">
								</td>
							</tr>
							<tr>
								<td  colspan="2">  Ocean Vessel<br>
									<input type="text" name="vessel" style="FONT-SIZE: 12px;font-family: Courier New;" size="10" maxlength="25" [(ngModel)]="VESSEL"   >
								</td>
								<td colspan="1">  Port Of Loading<br>
									<input type="text" name="pol" style="FONT-SIZE: 12px;font-family: Courier New;" size="10" maxlength="15" [(ngModel)]="POL"  >
								</td>								
							 
								<td>  Port Of Discharge<br>
									<input type="text" name="discharge" style="FONT-SIZE: 12px;font-family: Courier New;" size="10" maxlength="15" [(ngModel)]="POD" >
								</td>
								<td  > Final Place Of Delivery<br>
									<input type="text" name="delivery" style="FONT-SIZE: 12px;font-family: Courier New;" size="10" maxlength="15" [(ngModel)]="PODEL"  >    
								</td>								
							</tr>
							<tr>
								<td colspan="5">
										<table class="table table-bordered table-striped table-sm-new bgwhite">
										<tr>											
											<td>Marks & Nos<br>Containers and Seal. 
											</td>
											<td>No and Kind packages
											</td>
											<td>Description pkgs and Goods Stayed by shipper <br>shippers stow load and count
											</td>
											<td>Grows Weight  Cargo
											</td>
											 
											<td>Maeaurment
											</td>
										</tr>
										<tr>
											<td>
												<textarea name="marks" style="FONT-SIZE: 12px;font-family: Courier New;" rows="16" cols="14" wrap="OFF" id="marks" [(ngModel)]="MARKSANDNOS" maxlength="1000" > </textarea>
											</td>
											<td> 
												<textarea name="pkgs" style="FONT-SIZE: 12px;font-family: Courier New;" rows="16" cols="9" wrap="OFF" [(ngModel)]="NOOFPKGS" > </textarea> 
											</td>
											<td> 
												<textarea name="desc" style="FONT-SIZE: 12px;font-family: Courier New;" rows="16" cols="40" wrap="OFF"[(ngModel)]="ITCDESC" maxlength="1500"  > </textarea>
											</td>
											<td> 
												<textarea name="grwt" style="FONT-SIZE: 12px;font-family: Courier New;" rows="16" cols="9" wrap="OFF" [(ngModel)]="GRWT"  >  </textarea>  
											</td>
											<td> 												
												<textarea name="cbm" style="FONT-SIZE: 12px;font-family: Courier New;" rows="16" cols="9" wrap="OFF" [(ngModel)]="VOL"  > </textarea>  
											</td>
										</tr>
										<tr>
											<td colspan="5">other
											</td>
											<!-- <td > 
											</td>
											<td colspan="2" >   </td>	 -->										
										</tr>										
										<tr>
											<td colspan="5"> 
												  <textarea name="freight" style="FONT-SIZE: 12px;font-family: Courier New;" rows="10" cols="28" wrap="OFF" [(ngModel)]="MISC" ></textarea>
											</td>
												 <!--  <td  >
										 	<textarea name="prepaid" style="FONT-SIZE: 12px;font-family: Courier New;" rows="10" cols="10" wrap="OFF" [(ngModel)]="PP" ></textarea> 
											</td>
											<td colspan="2"> 
												  <textarea name="collect" style="FONT-SIZE: 12px;font-family: Courier New;" rows="10" cols="10" wrap="OFF" [(ngModel)]="CC" ></textarea>  
											 </td> -->
										 	
										</tr>
										<tr>
											<td colspan="2">   
											</td>
											<td>  
												<!-- <input type="text" name="totpp" style="FONT-SIZE: 12px;font-family: Courier New;" size="12" maxlength="15" [(ngModel)]="TOTPP" > -->
											</td>
											<td></td>
											<td rowspan="3">  
												<input type="text" name="placedt" style="FONT-SIZE: 12px;font-family: Courier New;" size="28" maxlength="50"  [(ngModel)]="PLACEDATE"  >
												<br>
												Date & place Issued
											</td>											
											<tr>
												<tr>
													<td colspan="2">  
													</td>
													<td>  
													</td>
													<td>  
														<!-- <input type="text" name="totcc" style="FONT-SIZE: 12px;font-family: Courier New;" size="12" maxlength="15" [(ngModel)]="TOTCC"   > -->
													</td>
													<tr>
													</table>
												</td>
											</tr>
										</table>	
						
					</div>         
				</div>
			</div>         
		</div>
		<div class="card-footer rightlabel">
			
			<button class="btn btn-sm btn-success   " type="submit"   [disabled]="buttonStatus" (click)="printUpdate()" ><i class="fa fa-dot-circle-o" ></i> Update</button>
			<button class="btn btn-sm btn-danger   " type="reset"   [disabled]="buttonStatus" (click)="Print()"><i class="fa fa-print "></i> Print</button>
			
		</div>
	</div>
</div>
