<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>{{Header}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <table class="table table-sm-new bgwhite">
                <tr class="trbg">
                    <td colspan="2">
                        <span class="col-form-span-label"><b>VESSEL DETAILS</b></span>
                    </td>
                </tr>
                <tr>
                    <td class="width150">
                        <span class="col-form-span-label">Name
                            <span class="col-form-span-error">*</span>
                        </span>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="Name" class="form-control" [maxlength]="50" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="col-form-span-label">Voyage No.</span>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="VoyageNo" class="form-control" [maxlength]="50" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="col-form-span-label">IGM No.</span>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="IGMNo" class="form-control" [maxlength]="10" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="col-form-span-label">Arrival Port
                            <span class="col-form-span-error">*</span>
                        </span>
                    </td>
                    <td>
                        <select class="form-control" [(ngModel)]="ArrivalPort">
                            <option value="0">-- Select --</option>
                            <ng-template ngFor let-item [ngForOf]="ArrivalList">
                                <option value="{{item.DATAVALUEFIELD}}">{{item.DATATEXTFIELD}}</option>
                            </ng-template>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="col-form-span-label">Berth No.</span>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="BerthNo" class="form-control" [maxlength]="50" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="col-form-span-label">Expected Arrival Date
                            <span class="col-form-span-error">*</span>
                        </span>
                    </td>
                    <td>
                        <my-date-picker name="ExpectedArrivalDate" [options]="myDatePickerOptions" [(ngModel)]="ExpectedArrivalDate"></my-date-picker>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="col-form-span-label">Actual Arrival Date</span>
                    </td>
                    <td>
                        <my-date-picker name="ActualArrivalDate" [options]="myDatePickerOptions" [(ngModel)]="ActualArrivalDate"></my-date-picker>
                    </td>
                </tr>
                <tr class="trbg centerlabel">
                    <td colspan="3">
                        <button type="button" name="submitButton" class="btn btn-sm btn-primary" (click)="submit();">
                            <span class="col-form-span-label">
                                <i class="{{(Id=='0')? 'fa fa-save' : 'fa fa-refresh'}}"></i> {{ (Id=='0')? 'Save' :
                                'Update'}}</span>
                        </button>&nbsp;
                        <button type="button" name="cancelButton" class="btn btn-sm btn-danger" (click)="cancel();">
                            <span class="col-form-span-label">
                                <i class="fa fa-times-circle"></i> Cancel</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>