<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>Search</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="displayType=='SEARCH'">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <table class="table table-sm-new bgwhite">
                <tr class="trbg">
                    <td class="width150">
                        <span class="col-form-span-label">
                            <input type="radio" name="check" value="CODE" [(ngModel)]="Type" />&nbsp;Voucher No</span>
                    </td>
                    <td class="width150">
                        <input type="text" [(ngModel)]="VoucherNo" class="form-control width150" [maxlength]="15" [OnlyNumber]="true" [disabled]="Type!='CODE'"
                        />
                    </td>
                    <td>
                        <button type="button" name="printButton" class="btn btn-sm btn-primary" (click)="Print();" [disabled]="Type!='CODE'">
                            <span class="col-form-span-label">
                                <i class="fa fa-print"></i> Print</span>
                        </button>
                    </td>
                </tr>
                <tr class="trbg">
                    <td  class="width150">
                        <span class="col-form-span-label">
                            <input type="radio" name="check" value="JOBNO" [(ngModel)]="Type" />&nbsp;Job No</span>
                    </td>
                    <td colspan="3" >
                        <input type="text" [(ngModel)]="JobNo"   class="form-control" [maxlength]="15" class="form-control width150" [OnlyNumber]="true" [disabled]="Type!='JOBNO'"
                        />
                    </td>
                   
                </tr>
                <tr class="trbg">
                    <td class="width150">
                        <span class="col-form-span-label">
                            <input type="radio" name="check" value="INVOICENO" [(ngModel)]="Type" />&nbsp;Invoice No</span>
                    </td>
                    <td colspan="3"  >
                        <input type="text" [(ngModel)]="InvoiceNo" [OnlyNumber]="true" class="form-control" [maxlength]="15" class="form-control width150" [disabled]="Type!='INVOICENO'"
                        />
                    </td>
                   
                </tr>
                <tr class="trbg">
                    <td class="width150">
                        <span class="col-form-span-label">
                            <input type="radio" name="check" value="CLIENT" [(ngModel)]="Type" />&nbsp;Client</span>
                    </td>
                    <td colspan="2">
                       
                                 <!-- <select class="form-control width200"  [(ngModel)]="Account" [disabled]="Type!='CLIENT'">
                                    <option value="">Please select</option>
                                    <option *ngFor="let d of AccountList" value={{d.ACCTCODENAME}}>{{d.ACCTNAME}}</option> 
                                </select> -->
                                <ng-select   [items]="AccountList" bindLabel="ACCTNAME" 
                                bindValue="ACCTCODENAME"  [(ngModel)]="Account"  (ngModelChange)="GetAccountName($event)"
                                class="custom" placeholder="--Please Select--">
                                 </ng-select>
                       
                    </td>
                </tr>
              
                <tr class="trbg">
                    <td class="width150">
                        <span class="col-form-span-label">
                            <input type="radio" name="check" value="AMOUNT" [(ngModel)]="Type" />&nbsp;Amount</span>
                    </td>
                    <td colspan="3"  >
                        <input type="text" [(ngModel)]="Amount" [OnlyNumber]="true"  [maxlength]="15" class="form-control width150" [disabled]="Type!='AMOUNT'"
                        />
                    </td>
                   
                </tr>
                <tr class="trbg">
                    <td  class="width150">
                        <span class="col-form-span-label">
                            <input type="radio" name="check" value="DATE" [(ngModel)]="Type" />&nbsp; Date Wise</span>
                    </td>
                    <td colspan="3">
                        <span class="col-form-span-label">From</span>
                        <my-date-picker name="FromDate" [options]="myDatePickerOptions" [(ngModel)]="FromDate" [disabled]="Type!='DATE'"></my-date-picker>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="col-form-span-label">To</span>
                        <my-date-picker name="ToDate" [options]="myDatePickerOptions" [(ngModel)]="ToDate" [disabled]="Type!='DATE'"></my-date-picker>
                    </td>
                
                </tr>
                
                <tr class="trbg">
                    <td  class="width150">
                        <span class="col-form-span-label">
                            <input type="radio" name="check" value="PRINTAV" [(ngModel)]="Type" />&nbsp; Print Vouchers of a day</span>
                    </td>
                    <td colspan="3">
                      
                            <span class="col-form-span-label">Date</span>
                            <my-date-picker name="Day" [options]="myDatePickerOptions" [(ngModel)]="VoucherDay" [disabled]="Type!='PRINTAV'"></my-date-picker>
                       
                    </td>
                </tr>
                <tr class="trbg">
                    <td  class="width150">
                        <span class="col-form-span-label">
                            <input type="radio" name="check" value="DISPLAY" [(ngModel)]="Type" />&nbsp;Display</span>
                    </td>
                    <td colspan="3">
                      
                        <div class="leftlabel">
                            <span class="col-form-span-label">
                                <input type="radio" name="radioDisplay" value="0" [(ngModel)]="Display"  [disabled]="Type!='DISPLAY'"/>&nbsp;List</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="col-form-span-label">
                                <input type="radio" name="radioDisplay" value="1" [(ngModel)]="Display"  [disabled]="Type!='DISPLAY'"/>&nbsp;Details</span>
                        </div>
                    </td>
                </tr>
             
                <tr class="trbg centerlabel">
                    <td colspan="3">
                        <button type="button" name="submitButton" class="btn btn-sm btn-primary" (click)="search();">
                            <span class="col-form-span-label">
                                <i class="fa fa-search"></i> Search</span>
                                      
                        </button>
                        <button class="btn btn-sm btn-danger" type="reset">
                            <span class="col-form-span-label" (click)="ResetAll();"><i class="fa fa-ban"></i> Reset</span></button> 
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
   
    <div class="row" *ngIf="displayType=='LIST'">
        <div class="col-sm-12 xyscroll" style="height:300px;" >
            <table class="table table-sm-new table-bordered bgwhite">
                <thead>
                    <tr class="title-head formheading">
                        <th colspan="8">
                            {{searchHeaderText}}
                            <a href="javascript:void(0);" (click)="displayType='SEARCH';searchList=[]" style="float: right;text-decoration: underline;color: red;">back to search</a>
                        </th>
                    </tr>
                    <tr class="title-head formheading">
                        <th>Voucher No</th>
                        <th>Voucher Date</th>
                        <th>Amount</th>
                     
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of searchList">
                        <td>
                            <span class="col-form-span-label anchor-link" (click)="redirectToEdit(obj.JVCODE,obj.STATUS)" style="cursor:pointer;">{{obj.JVCODE}}</span>
                            <!-- <span class="col-form-span-label">
                                 <a href="javascript:void(0);" (click)="redirectToEdit(obj.pur_code)">{{obj.PUR_CODE}}</a> 
                            </span> -->
                        </td>
                        <td>
                            <span class="col-form-span-label">{{obj.JV_DATE}}</span>
                        </td>
                        <td>
                            <span class="col-form-span-label">{{obj.AMOUNT}}</span>
                        </td>
                      
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
</div>