<div class="printmain" >
  <div id="demo">
    <table bordercolor="black" height="764" cellspacing="0" cellpadding="2" width="100%" border="0">
      <tbody>
        <tr>
          <td valign="top">
          </td>
          <td valign="top">
            <table id="Table2" style="border-right: black 1px solid; border-top: black 1px solid;
                left: 0px; border-left: black 1px solid; border-bottom: black 1px solid;margin:0 auto" cellspacing="0"
              cellpadding="0" width="700" border="0">
              <tbody>
                <tr>
                  <td >
                <tr width="100%">
                  <td width="45%" class="centerlabel">
                    <span
                      style='font-size:22px;  ;font-weight: bold; font-family: "Euclid Fraktur", "Old English Text MT", fantasy, serif; color: black;'>
                      {{table3[0].cmp_name}}</span>

                  </td>
                </tr>

          </td>
        </tr>
        <tr>
          <td  style="height:10px">
    
          </td>
        </tr>
        <tr>
          <td style="border-bottom: black 1px solid">
            <table id="Table3" cellspacing="0" cellpadding="0" width="100%" border="0">
              <tbody>
                <tr>
                  <td width="45%">
                  <span class="Rpt_CodeDate" >
                    <b> &nbsp;{{table3[0].cmp_add1}} &nbsp;{{table3[0].cmp_add2}} 
                        &nbsp;{{table3[0].city_name}}&nbsp;{{table3[0].cmp_add3}} 
                        <!-- &nbsp;"E-mail : "  {{table3[0].cmp_email}} &nbsp; "Tel. No. : " {{table3[0].cmp_telno}} 
                        &nbsp; "Fax  No. : " {{table3[0].cmp_faxno}}<br> -->
                    </b></span>
                </td>
                  <!-- <td align="right">
                    <span class="Rpt_CodeDate" style="font-weight:bold;">
                      <img src="../../../assets/Untitled-1.png"></span>&nbsp;
                  </td> -->
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td  style="height:10px">
    
          </td>
        </tr>
        <!-- <tr>
          <td style="border-bottom: black 1px solid">

          </td>
        </tr> -->
       
        <tr>
          <td class="centerlabel">
            <span class="Rpt_CodeDate" >
                <b> {{strheader}} 
           </b></span>
          </td>
      </tr>
      <tr>
        <td class="centerlabel"> 
          <span class="Rpt_CodeDate" >
              <b> {{clientName}} 
         </b></span>
        </td>
    </tr>
    <tr>
      <td class="centerlabel">
        <span class="Rpt_CodeDate" >
            <b> {{clientAdd[0].Name}} &nbsp;{{clientAdd[0].Address1}} &nbsp;{{clientAdd[0].Address2}} <br>
              {{clientAdd[0].Address3}} &nbsp;{{clientAdd[0].Pincode}}
       </b></span>
      </td>
  </tr> 
  
  <tr>
    <td  style="height:10px">

    </td>
  </tr>
    <tr width="700">
      <td style="border-bottom: black 1px solid">

      </td>
    </tr>
    <tr>
      <td  style="height:100px">

      </td>
    </tr>
    <tr>
    
        <table align ="right" cellspacing="0" rules="all" border="1" style="width:200px;border-collapse:collapse;">
          
       
            <tr class="dgHeader" >
                <td style="white-space:nowrap;">Opening:</td>
                <td align="right" style="white-space:nowrap;" >{{OpDrBal}}</td>
                <td align="right" style="white-space:nowrap;" >{{OpCrBal}}</td>
           </tr>
            <tr>
              <td style="white-space:nowrap;">Current Total:</td>
              <td align="right" style="white-space:nowrap;" >{{currTotalDr}}</td>
              <td align="right" style="white-space:nowrap;" >{{currTotalcr}}</td>
              </tr>
              <tr>
                <td style="white-space:nowrap;">Closing:</td>
                <td align="right" style="white-space:nowrap;" >{{CLDrBal}}</td>
                <td align="right" style="white-space:nowrap;" >{{CLCrBal}}</td>
              </tr>
             <tr>
              <td style="white-space:nowrap;">Advance:</td>
              <td align="right" style="white-space:nowrap;" >{{AdvDrAmt}}</td>
              <td align="right" style="white-space:nowrap;" >{{AdvCrAmt}}</td>
             </tr>
        </table>
 
    </tr>
    <tr>
      <td  style="height:10px">

      </td>
    </tr>
    <tr>
      <td style="border-bottom: black 1px solid" valign="top" >
                  <table  cellspacing="1" cellpadding="1" width="100%" border="0">
                      <tbody><tr>
                          <td height="3">
                          </td>
                      </tr>
                  </tbody></table>
              <table cellspacing="0" rules="all" border="1" style="width:100%;border-collapse:collapse;">
          <tbody>
              <tr class="dgHeader" align="center">
              <td style="white-space:nowrap;"></td>
              <td style="white-space:nowrap;">Number</td>
              <td style="white-space:nowrap;">Date</td>
              <td style="white-space:nowrap;">Particulars</td>
              <td style="white-space:nowrap;">Debit</td>
              <td style="white-space:nowrap;">Credit</td>
          </tr>
          <tr class="dgItem" *ngFor="let data of outstandTable"> 
              <td style="white-space:nowrap;" >{{data.TRANSTYPE}}</td>
              <td style="white-space:nowrap;">{{data.TRANSCODE}}</td>
              <td style="white-space:nowrap;">{{data.TRANSDATE}}</td>
              <td  style="white-space:nowrap;">{{data.NARR}}{{data.EXP_SNAME}}{{data.SUP_SNAME}}{{data.ACCTNAME}}</td>
              <td align="right" style="white-space:nowrap;">{{data.DRAMT|number:'2.2-4'}}</td>
              <td align="right" style="white-space:nowrap;">{{data.CRAMT|number:'2.2-4'}}</td>
          </tr>
      
      </tbody></table>
<br>
      <!-- <table  cellspacing="1" cellpadding="1" width="100%" border="0">
          <tbody><tr>
              <td >
                  <span  class="Rpt_Label_content">{{table[0].NARRATION}}</span>
              </td>
          </tr>
      </tbody></table> -->
   
          </td>
  </tr>   
  <tr>
    <td  style="height:10px"></td>
  </tr>   
  <tr>
    <td > 
      <span class="Rpt_CodeDate" >
          <b> Advance Details 
     </b></span>
    </td>
</tr>
  <tr>
    <td style="border-bottom: black 1px solid" valign="top" >
                <table  cellspacing="1" cellpadding="1" width="100%" border="0">
                    <tbody><tr>
                        <td height="3">
                        </td>
                    </tr>
                </tbody></table>
            <table cellspacing="0" rules="all" border="1" style="width:100%;border-collapse:collapse;">
        <tbody>
            <tr class="dgHeader" align="center">
            <td style="white-space:nowrap;"></td>
            <td style="white-space:nowrap;">Number</td>
            <td style="white-space:nowrap;">Date</td>
            <td style="white-space:nowrap;">Particulars</td>
            <td style="white-space:nowrap;">Amount</td>
          
        </tr>
        <tr class="dgItem" *ngFor="let data of AdvanceTable"> 
            <td style="white-space:nowrap;" >{{data.transtype}}</td>
            <td style="white-space:nowrap;">{{data.Transcode}}</td>
            <td style="white-space:nowrap;">{{data.Transdate}}</td>
            <td  style="white-space:nowrap;">{{data.exp_sname}},{{data.sup_sname}},{{data.acctname}}</td>
            <td align="right" style="white-space:nowrap;">{{data.cramt|number:'2.2-4'}}</td>
            
        </tr>
    
    </tbody></table>
<br>
    <!-- <table  cellspacing="1" cellpadding="1" width="100%" border="0">
        <tbody><tr>
            <td >
                <span  class="Rpt_Label_content">{{table[0].NARRATION}}</span>
            </td>
        </tr>
    </tbody></table> -->
 
        </td>
</tr>   
        <tr>
          <td>
            <span class="Rpt_Label_content"
              style="display:inline-block;width:100%;border-top: black 1px solid">{{table3.CMPADDRESS1}}</span>
          </td>
        </tr>

      </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="row">
      <input type="button" value="Print" (click)="PrintElem()" />
    </div>
  </div>
</div>


