<div id="demo">
    <table cellspacing="0" cellpadding="0" width="700" border="0" style="border-right: 1px solid black; border-top: 1px solid black; border-left: 1px solid black;
            border-bottom: 1px solid;margin: 0 auto;">
        <tbody>
            <tr>
                <td>
              <tr width="700" >
                <td>
                    <!-- <span
                    style='font-size:28pt; font-weight: bold; font-family: "Euclid Fraktur", "Old English Text MT", fantasy, serif; color: black;'>
                    Manilal Patel Clearing Forwarding Pvt. Ltd.</span><br> -->
                  <!-- <span
                    style='font-size:24pt; font-weight: bold; font-family: "Euclid Fraktur","Old English Text MT", fantasy, serif; color: black;'>
                    {{table3[0].CMP_BOLDNAME| titlecase }}{{table3[0].CMP_FULLNAME| titlecase }}</span> -->
                    <span> 
                        <!-- <img src="../../../assets/img/HEADER_CLGBOM.jpg"></span> -->
                            <!-- <img src="assets/img/HEADER_CLGBOM.jpg" width="700">  </span>    -->
                           <img src={{CMP_IMAGE}} width="700">  </span>       
      
    
                </td>
              </tr>
        </td>
      </tr>
      <!-- <tr>
        <td style="border-bottom: black 1px solid">
          <table cellspacing="0" cellpadding="0" width="100%" border="0">
            <tbody>
              <tr>
                <td width="45%">
                  <span class="Rpt_CodeDate" style="font-weight:bold;">
                    <b> &nbsp;{{table3[0].CMP_ADD1}}<br> &nbsp;{{table3[0].CMP_ADD2}}<br>
                        &nbsp;{{table3[0].CMP_ADD3}}</b></span>
                </td>
                <td  width="33%">
                  <span class="Rpt_CodeDate" style="font-weight:bold;">
                     <b>TelNo.+91(22)27240275/3095<br>FaxNo.+91(22)27240280,<br>Email:accounts.bom@manilal.com<br>Website:www.manilal.com</b>
    
                     <b>TelNo.&nbsp;{{table3[0].CMP_TELNO}}<br>FaxNo.&nbsp;{{table3[0].CMP_FAXNO}}<br>
                        Email:&nbsp;{{table3[0].CMP_EMAIL}}<br>Website:&nbsp;</b> 
                  </span>
                </td>
                <td align="right">
                  <span class="Rpt_CodeDate" style="font-weight:bold;">
                    <img url="../../../assets/Untitled-1.png"></span>&nbsp;
                </td>
              </tr>
            </tbody>
          </table>
          <br>
        </td>
      </tr> -->
        <tr>
            <td style="border-bottom: 1px solid" >
                    <table cellspacing="0" cellpadding="0" width="100%" height="30" border="0">
                        <tbody><tr>
                            <td width="30%">                              
                                <span class="Rpt_CodeDate"  style="font-family:Verdana;font-weight:bold;cursor:hand;">NO.{{table[0].ENTRYNO}}</span>
                            </td>
                            <td align="center"  width="40%">
                                <span style="font-family:Verdana;font-size:12pt;font-weight:bold;">CASH BOOK - {{labeltext}}</span>
                            </td>
                            <td  width="30%">
                                <span  class="Rpt_CodeDate" style="font-family:Verdana;font-weight:bold;float:right;">DATE:{{table[0].ENTRYDT}}</span>&nbsp;
                            </td>
                        </tr>
                    </tbody></table>
                </td>
        </tr>
      <tr>
            <td style="border-bottom: 1px solid">
                    <table  cellspacing="0" cellpadding="0" width="100%" border="0">
                        <tbody><tr>
                            <td style="border-top-width: 1px; border-left-width: 1px; border-left-color: #000000;
                                border-bottom-width: 1px; border-bottom-color: #000000; border-top-color: #000000;
                                border-right-width: 1px; border-right-color: #000000" valign="top" align="left" width="100%"  height="30">
                                <table  cellspacing="1" cellpadding="1" width="100%" border="0">
                                    <tbody>
                                        <tr *ngIf=" PageType == 'BP' || PageType == 'CC'" >
                                            <td colspan="2">
                                                <table style="width:70%;">
                                                    <tr>
                                                        <td align="right" width="100">
                                                            <span class="Rpt_Label_content" style="font-weight:bold;">Cheque No :</span>
                                                        </td>
                                                        <td>
                                                            <span  class="Rpt_Label_content" style="display:inline-block;width:100%;">{{table[0].CHEQUENO}}</span>
                                                        </td>
                                                        <td align="right" width="100">
                                                            <span class="Rpt_Label_content" style="font-weight:bold;">Cheque Date :</span>
                                                        </td>
                                                        <td>
                                                            <span  class="Rpt_Label_content" style="display:inline-block;width:100%;">{{table[0].CHEQUEDT}}</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                       
                                        </tr>
                                     
                                        <tr>
                                        <td align="right" width="100">
                                            <span class="Rpt_Label_content" style="font-weight:bold;">Our Bank :</span>
                                        </td>
                                        <td>
                                            <span  class="Rpt_Label_content" style="display:inline-block;width:100%;">{{table[0].OURBANKNM}}</span>
                                        </td>
                                    </tr>
                        
                                </tbody></table>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
        </tr>
        <tr>
            <td style="border-bottom: black 1px solid" valign="top" height="550">
                        <table  cellspacing="1" cellpadding="1" width="100%" border="0">
                            <tbody><tr>
                                <td height="3">
                                </td>
                            </tr>
                        </tbody></table>
                    <table cellspacing="0" rules="all" border="1" style="width:100%;border-collapse:collapse;">
                <tbody>
                    <tr class="dgHeader" align="center">
                    <td style="white-space:nowrap;">Account</td>
                    <td style="white-space:nowrap;">Job No</td>
                    <td style="white-space:nowrap;">Bill No</td>
                    <td style="white-space:nowrap;">Deduction</td>
                    <td style="white-space:nowrap;">Amount</td>
                    <td style="white-space:nowrap;">Entry Type</td>
                </tr>
                <tr class="dgItem" *ngFor="let data of table1"> 
                    <td style="white-space:nowrap;" [innerHtml]="data.CLIENTNAME"></td>
                    <td style="white-space:nowrap;cursor:hand;">{{data.JOBNO}}</td>
                    <td style="white-space:nowrap;">{{data.BILLNO}}</td>
                    <td align="right" style="white-space:nowrap;">{{data.DEDUCTION|number:'2.2-4'}}</td>
                    <td align="right" style="white-space:nowrap;">{{data.AMOUNT|number:'2.2-4'}}</td>
                    <td style="white-space:nowrap;">{{data.ENTRYTYPENM}}</td>
                </tr>
            
            </tbody></table>
<br>
            <table  cellspacing="1" cellpadding="1" width="100%" border="0">
                <tbody><tr>
                    <td >
                        <span  class="Rpt_Label_content">{{table[0].NARRATION}}</span>
                    </td>
                </tr>
            </tbody></table>
         
                </td>
        </tr>

        <tr>
            <td style="border-bottom: black 1px solid" valign="top">
                    <table  cellspacing="1" cellpadding="1" width="100%" border="0">
                        <tbody><tr>
                            <td align="right">
                                <span  class="Rpt_Label_content" style="font-weight:bold;"> Total Amount :</span>
                            </td>
                            <td align="right" width="10%">
                                <span  class="Rpt_Label_content" style="font-family:Verdana;">{{table2[0].TOT_AMOUNT|number:'2.2-4'}}</span>
                            </td>
                        </tr>
                        <tr style="border-top: black 1px solid">
                            <td align="right">
                                <span  class="Rpt_Label_content" style="font-weight:bold;">Total Deduction : </span>
                            </td>
                            <td align="right" width="10%">
                                <span  class="Rpt_Label_content" style="font-family:Verdana;">{{table2[0].TOT_DEDUCTION|number:'2.2-4'}}</span>
                            </td>
                        </tr>
                        <tr style="border-top: black 1px solid">
                            <td align="right">
                                <span  class="Rpt_Label_content"  style="font-weight:bold;">Grand Total :</span>
                            </td>
                            <td align="right" width="10%">
                                <span class="Rpt_Label_content" style="font-family:Verdana;">{{table2[0].NETTOT|number:'2.2-4'}}</span>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
        </tr>
        <tr>
            <td style="border-bottom: black 1px solid" valign="top">
                    <span  class="Rpt_Label_content">INDIAN RUPEES : {{total_words}} </span>
                </td>
        </tr>
        <tr>
            <td valign="top" align="center" height="25">
                </td>
        </tr>
        <tr>
            <td style="border-bottom: black 1px solid" valign="top" align="center">
                    <table  cellspacing="1" cellpadding="1" width="100%" border="0">
                        <tbody><tr>
                            <td align="center">
                                <span style="font-family:Verdana;font-size:10pt;">{{table[0].USERNAME}}   </span>
                            </td>
                            <td align="center">
                                <span  style="font-family:Verdana;font-size:8pt;">____________</span>
                            </td>
                            <td align="center">
                                <span  style="font-family:Verdana;font-size:8pt;">____________</span>
                            </td>
                            <td align="center">
                                <span style="font-family:Verdana;font-size:8pt;">____________</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <span  class="Rpt_Label_content" style="font-family:Verdana;">Entered By</span>
                            </td>
                            <td align="center">
                                <span class="Rpt_Label_content" style="font-family:Verdana;">Checked By</span>
                            </td>
                            <td align="center">
                                <span  class="Rpt_Label_content" style="font-family:Verdana;">Audited By</span>
                            </td>
                            <td align="center">
                                <span class="Rpt_Label_content" style="font-family:Verdana;">Authorised By</span>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
        </tr> 
    </tbody>
    </table>
    </div>
    <div class="row" style="float: right;">
        <div class="col-12">
        <input type="button" value="Print" (click)="PrintElem()" />
      </div>
    </div>
