<div class="printmain" *ngIf="printmodal">
    <div id="demo">
      <table bordercolor="black" height="764" cellspacing="0" cellpadding="2" width="100%" border="0">
        <tbody>
          <tr>
            <td valign="top">
            </td>
            <td valign="top">
              <table id="Table2" style="border-right: black 1px solid; border-top: black 1px solid;
                  left: 0px; border-left: black 1px solid; border-bottom: black 1px solid;margin:0 auto" cellspacing="0"
                cellpadding="0" width="700" border="0">
                <tbody>
                  <tr>
                    <td>
                  <tr width="700">
                    <td>
                      <!-- <span
                        style='font-size:28px; font-weight: bold; font-family: "Euclid Fraktur", "Old English Text MT", fantasy, serif; color: black;'>
                        {{datattable5[0].CMP_NAME| titlecase }}</span> -->
                        <span> 
                          <!-- <img src="../../../assets/img/HEADER_CLGBOM.jpg"></span> -->
                              <!-- <img src="assets/img/HEADER_CLGBOM.jpg" width="700">  </span>    -->
                             <img src={{CMP_IMAGE}} width="700">  </span>      
                    </td>
                  </tr>
            </td>
          </tr>
          <!-- <tr>
            <td style="border-bottom: black 1px solid">
              <table id="Table3" cellspacing="0" cellpadding="0" width="100%" border="0">
                <tbody>
                  <tr>
                    <td width="45%">
                      <span class="Rpt_CodeDate" style="font-weight:bold;">
                        <b> &nbsp;{{datattable5[0].CMP_ADD1}}<br> &nbsp;{{datattable5[0].CMP_ADD2}}<br>
                            &nbsp;{{datattable5[0].CMP_ADD3}}</b></span>
                    </td>
                    <td  width="33%">
                      <span class="Rpt_CodeDate" style="font-weight:bold;">
                        <b>TelNo.&nbsp;{{datattable5[0].CMP_TELNO}}<br>FaxNo.&nbsp;{{datattable5[0].CMP_FAXNO}}<br>
                            Email:&nbsp;{{datattable5[0].CMP_EMAIL}} <br>Website:&nbsp;{{datattable5[0].cmp_email}}</b>
        
                         <b>TelNo.&nbsp;{{table3[0].CMP_TELNO}}<br>FaxNo.&nbsp;{{table3[0].CMP_FAXNO}}<br>
                            Email:&nbsp;{{table3[0].CMP_EMAIL}}<br>Website:&nbsp;</b> 
                      </span>
                    </td>
                    <td align="right">
                      <span class="Rpt_CodeDate" style="font-weight:bold;">
                        <img src="../../../assets/Untitled-1.png"></span>&nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr> -->
          <tr>
            <td style="border-bottom: black 1px solid">
  
            </td>
          </tr>
          <tr>
            <td style="border-bottom: black 1px solid">
              <table id="Table3" cellspacing="0" cellpadding="0" width="100%" border="0">
                <tbody>
                  <tr>
                    <td width="33%">
                      &nbsp;&nbsp;<span class="Rpt_CodeDate" style="font-weight:bold;">No.
                        {{CRT_NO}}</span>
                    </td>
                    <td align="center" width="33%">
                      <span style="font-family:Arial;font-size:16pt;font-weight:bold;">CREDIT NOTE</span>
                    </td>
                    <td align="right">
                      <span class="Rpt_CodeDate" style="font-weight:bold;">DATE :
                        {{CRT_DATE}}</span>&nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="border-bottom: black 1px solid">
              <table id="Table4" cellspacing="0" cellpadding="1" width="100%" border="0">
                <tbody>
                  <tr>
                    <td valign="top" width="1%">
                    </td>
                    <td style="border-right: black 1px solid" valign="top" width="49%">
                      <table id="tbl_exp_mst" class="Rpt_Label_content" cellspacing="0" cellpadding="2" width="100%"
                        border="0">
                      </table>
  
                      <span class="Rpt_Label" style="display:inline-block;width:100%;">{{EXP_NAME}}
                      </span><span class="Rpt_Label_content" style="display:inline-block;width:100%;">
                        {{EXP_ADD1}}<br>{{EXP_ADD2}}<br>{{EXP_ADD3}}
                        <br>{{EXP_CITY}} - {{EXP_PINCODE}}, <span class="col-form-span-label"
                          [innerHTML]="EXP_COUNTRY"></span>
                      </span>
  
  
                    </td>
                    <td>
                      <table id="Table6" cellspacing="0" cellpadding="2" width="100%" border="0">
                        <tbody>
                          <tr>
                            <td align="right" width="40%">
                              <span class="Rpt_Label"> OUR REF :</span>
                            </td>
                            <td width="60%">
                              <span class="Rpt_Label_content"
                                style="display:inline-block;width:100%;">{{INV_JOBNO1}}</span>
                            </td>
                          </tr>
                          <tr>
                            <td align="right" width="40%">
                              <span class="Rpt_Label"> VESSEL / AIRLINE :</span>
                            </td>
                            <td width="60%">
                              <span class="Rpt_Label_content"
                                style="display:inline-block;width:100%;">{{CRT_CARRIER}}</span>
                            </td>
                          </tr>
                          <tr>
                            <td align="right" width="40%" colspan="1" rowspan="1">
                              <span class="Rpt_Label"> H.B/L/H.A.W.B :</span>
                            </td>
                            <td width="60%">
                              <span class="Rpt_Label_content"
                                style="display:inline-block;width:100%;">{{CRT_HAWBNO}}</span>
                            </td>
                          </tr>
                          <tr>
                            <td align="right" width="40%">
                              <span class="Rpt_Label"> DATE :</span>
                            </td>
                            <td width="60%">
                              <span class="Rpt_Label_content"
                                style="display:inline-block;width:100%;">{{CRT_HAWBDT}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="border-bottom: black 1px solid">
              <table id="Table7" cellspacing="1" cellpadding="1" width="100%" border="0">
                <tbody>
                  <!-- <tr>
                    <td align="right" width="22%">
                      <span class="Rpt_Label">DOCUMENT THROUGH:</span>
                    </td>
                    <td width="30%">
                      <span class="Rpt_Label_content" style="display:inline-block;width:100%;">{{DOCTHROUGH1}}</span>
                    </td>
                    <td align="right" width="20%">
  
                    </td>
                    <td width="30%">
  
                    </td>
                  </tr> -->
                  <tr>
                    <td align="right" width="22%">
                      <span class="Rpt_Label">CONTENTS :</span>
                    </td>
                    <td width="30%">
                      <span class="Rpt_Label_content" style="display:inline-block;width:100%;"></span>
                    </td>
                    <td align="right" width="20%">
                      <span class="Rpt_Label">PIECES :</span>
                    </td>
                    <td width="30%">
                      <span class="Rpt_Label_content" style="display:inline-block;width:100%;">{{CRT_NOOFPCS}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td align="right" width="22%">
                      <span class="Rpt_Label">YOUR REFERENCE :</span>
                    </td>
                    <td width="30%">
                      <span class="Rpt_Label_content" style="display:inline-block;width:100%;">{{CRT_CLIENTREF}}</span>
                    </td>
                    <td align="right" width="20%">
                    
                    </td>
                    <td width="30%">
                      
                    </td>
                  </tr>
                  <tr>
                    <td align="right" width="22%">
  
                    </td>
                    <td width="30%">
  
                    </td>
                    <td align="right" width="20%">
  
                    </td>
                    <td width="30%">
  
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table id="Table5" cellspacing="0" cellpadding="0" width="100%" border="0">
                <tbody>
                  <tr>
                    <!-- <td valign="top" width="200">
                      <table id="tblEnclosure" cellspacing="0" cellpadding="0" width="200" border="0">
                        <tbody>
                          <tr>
                            <td style="border-bottom: 1px solid" align="center" width="150" height="40">
                              <span class="Rpt_Label_content"
                                style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">Enclosure</span>
                            </td>
                            <td style="border-left: 1px solid; border-bottom: 1px solid" align="center" width="50"
                              height="40">
                              <span class="Rpt_Label_content"
                                style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">Nos</span>
                            </td>
                          </tr>
                          <tr>
                            <td id="tdEnclosure" style="border-bottom: 1px solid" align="center" colspan="2">
                              <table cellspacing="0" cellpadding="0" width="200px" he="" border="0"
                                class="Rpt_Label_content">
                                <tbody>
                                  <tr *ngFor="let data of enclosuretable">
                                    <td width="1%"></td>
                                    <td>{{data.inv_desc}}</td>
                                    <td width="50px" style="BORDER-LEFT: 1px solid">{{data.inv_number}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                          </tr>
                        </tbody>
                      </table>
  
                    </td> -->
                    <td id="tdheight" style="border-left: 1px solid" valign="top" width="700" height="300">
                      <table id="tbl_Charges" style="font-size: 7pt; font-family: Verdana, Arial" height="100%"
                        cellspacing="0" cellpadding="0" width="700" border="0">
                        <tbody>
                          <tr>
                            <td style="width: 560px; border-bottom: 1px solid; height: 40px" align="center" height="40">
                              <span class="Rpt_Label_content"
                                style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">Charges
                                Particulars</span>
                            </td>
                            <td style="border-left: 1px solid; width: 70px; border-bottom: 1px solid; height: 40px"
                              align="center" height="40">
                              <span class="Rpt_Label_content"
                                style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">Taxable
                                INDIAN RUPEES</span>
                            </td>
                            <td style="border-left: 1px solid; width: 70px; border-bottom: 1px solid" align="center"
                              height="40">
                              <span class="Rpt_Label_content"
                                style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">Non
                                Taxable INDIAN RUPEES</span>
                            </td>
                          </tr>
                          <tr>
                            <td id="tdCharges" align="center" colspan="3">
                              <table cellspacing="0" cellpadding="0" width="100%" border="0" class="Rpt_Label_content">
                                <tbody>
                                  <tr *ngFor="let data2 of chargestable">
                                    <td width="1px"></td>
                                    <td width="560px" valign="top">{{data2.CHRG_DESC1}} </td>
                                    <td width="70px" style="BORDER-LEFT: 1px solid" align="right" valign="bottom" *ngIf="(inrtype=='0')" >
                                      {{data2.TAXABLE_AMT_INR|number:'2.2-4'}}&nbsp;</td>
                                      <td width="70px" style="BORDER-LEFT: 1px solid" align="right" valign="bottom" *ngIf="(inrtype=='1')" >
                                        {{data2.TAXABLEAMT |number:'2.2-4'}}&nbsp;</td>
                                        <td width="70px" style="BORDER-LEFT: 1px solid" align="right" valign="bottom" *ngIf="(inrtype=='0')" >
                                          {{data2.NON_TAXABLE_AMT_INR |number:'2.2-4'}}&nbsp;</td>
                                          <td width="70px" style="BORDER-LEFT: 1px solid" align="right" valign="bottom" *ngIf="(inrtype=='1')" >
                                            {{data2.NONTAXABLEAMT |number:'2.2-4'}}&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="width: 560px" align="center" height="100%">
                              &nbsp;
                            </td>
                            <td style="border-left: black 1px solid; width: 70px" align="center" height="100%">
                              &nbsp;
                            </td>
                            <td style="border-left: black 1px solid" align="center" width="70" height="100%">
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
  
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table id="Table9" cellspacing="0" cellpadding="0" width="700" border="0">
                <tbody>
                  <tr>
                    <td style="border-top: 1px solid;height:32px" valign="top" width="560" colspan="2">
                      <!-- <table id="tbl_jobno" class="labelnormal" style="color: black" cellspacing="0"
                              cellpadding="1" width="90%" border="0">
                              <tbody>
                                <tr>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table> -->
  
                      <span class="Rpt_Label_content"
                      [innerHTML]="NARRATION1"></span>
  
                      <!-- <span
                        style="display:inline-block;color:Black;font-family:Arial;font-size:14px;font-weight:bold;width:90%;padding:0px;margin:0px"><br>
                        PAY BY DATE: {{PAYBLEBYDT1}}</span> -->
                    </td>
                    <td style="border-left: black 1px solid; height: 32px" align="right" width="70" height="32">
                      &nbsp;
                    </td>
                    <td style="border-left: black 1px solid; height: 32px" align="right" width="69" height="32">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td style="border-top: black 1px solid; border-bottom: black 3px solid" width="560" colspan="2"
                      height="25">
                      &nbsp;
                    </td>
                    <td style="border-top: black 1px solid; border-left: black 1px solid; border-bottom: black 3px solid"
                      align="right" width="70" height="25">
                      <span class="Rpt_Label_content" style="display:inline-block;width:100%;"  *ngIf="(inrtype=='1')" >{{datatable6[0].TAXAMT|number:'2.2-4'}}</span>
                      <span class="Rpt_Label_content" style="display:inline-block;width:100%;"  *ngIf="(inrtype=='0')" >{{datatable6[0].TAXAMT_INR|number:'2.2-4'}}</span>
  
                     
              
                    </td>
                    <td style="border-top: black 1px solid; border-left: black 1px solid; border-bottom: black 3px solid"
                      align="right" width="69" height="25">
                      <span class="Rpt_Label_content" style="display:inline-block;width:100%;"  *ngIf="(inrtype=='1')" >{{datatable6[0].NONTAXABLEAMT|number:'2.2-4'}}</span>
                      <span class="Rpt_Label_content" style="display:inline-block;width:100%;"  *ngIf="(inrtype=='0')" >{{datatable6[0].NONTAXABLEAMT_INR|number:'2.2-4'}}</span>
  
                    </td>
                  </tr>
                  <tr *ngFor="let data of gsttable">
                    <td id="tdTaxableAmt" style="border-bottom: black 1px solid" nowrap="nowrap" colspan="2">
                      <table cellspacing="0" cellpadding="0" width="100%" border="0" class="Rpt_Label_content">
                        <tbody>
                          <tr>
                            <td width="1px"></td>
                            <td valign="top" [innerHTML]="data.DESC1"></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
  
                    <td id="tdTotalTaxableAmt" style="border-left: black 1px solid; border-bottom: black 1px solid"
                      align="right" width="70">
                      <table cellspacing="0" cellpadding="0" width="100%" border="0" class="Rpt_Label_content">
                        <tbody>
                          <tr>
                            <td width="1px"></td>
                             
                            <td width="559px"  align="right" valign="top"   *ngIf="(inrtype=='1')">
                              {{data.TAXABLEAMT|number:'2.2-4'}}</td>
                              <td width="559px"  align="right" valign="top"   *ngIf="(inrtype=='0')">
                                {{data.TAXABLEAMTINR|number:'2.2-4'}}</td>  
                         
                          </tr>
                        </tbody>
                      </table>
                    </td>
  
                    <td id="tdRight" style="border-left: black 1px solid; border-bottom: black 1px solid" align="right"
                      width="69">
                      <table cellspacing="0" cellpadding="0" width="100%" border="0" class="Rpt_Label_content">
                        <tbody>
                          <tr>
                            <td width="1px"></td>
                            <td width="359px"  align="right" valign="top"   *ngIf="(inrtype=='1')"></td>
                              <!-- {{data.TOTCRT_AMOUNT|number:'2.2-4'}}</td> -->
                              <td width="359px"  align="right" valign="top"   *ngIf="(inrtype=='0')"></td>
                                <!-- {{data.TOTCRT_INRAMT|number:'2.2-4'}}</td>  -->
                       
                          </tr>
                        </tbody>
                      </table>
                    </td>
  
                  </tr>
                  <tr  style="border-top: black 3px solid">
                    <td style="border-bottom: black 1px solid" align="left" width="630" colspan="3">
                      <span class="Rpt_Label_content">Amount Rounded off</span>
                    </td>
                    <td style="border-left: black 1px solid; border-bottom: black 1px solid" align="right" width="69">
                      <span class="Rpt_Label_content"  >{{dattable10[0].ROUNDVALUE}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td style="border-bottom: black 1px solid" width="630" colspan="3">
                      <span class="Rpt_Label_content">{{sum_words}} </span>
                    </td>
                    <td style="border-left: black 1px solid; border-bottom: black 1px solid" align="right" width="69">
                      <span class="Rpt_Label_content"  style="display:inline-block;width:100%;"  *ngIf="(inrtype=='1')">{{datatable4[0].TOTAMT |number:'2.2-4'}}</span>
                      <span class="Rpt_Label_content"  style="display:inline-block;width:100%;"  *ngIf="(inrtype=='0')">{{datatable4[0].TOTINRAMT |number:'2.2-4'}}</span>

                    </td>
                  </tr>
                  <!-- <tr>
                    <td style="border-bottom: black 1px solid" align="left" width="630" colspan="3">
                      <span class="Rpt_Label_content">Less: Advance</span>
                    </td>
                    <td style="border-left: black 1px solid; border-bottom: black 1px solid" align="right" width="69">
                      <span class="Rpt_Label_content">{{INV_ADVANCE1|number:'2.2-4'}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td style="border-bottom: black 1px solid" align="left" width="630" colspan="3">
                      <span class="Rpt_Label_content">Balance due to us</span>
                    </td>
                    <td style="border-left: black 1px solid; border-bottom: black 1px solid" align="right" width="69">
                      <span class="Rpt_Label_content">{{this.balance|number:'2.2-4'}}</span></td>
                  </tr> -->
                  <tr>
                    <td style="border-bottom: black 1px solid" width="630" colspan="3">
                      <span class="Rpt_Label_content"></span>
                    </td>
                    <td style="border-left: black 1px solid; border-bottom: black 1px solid" align="right" width="69">
                      <span class="Rpt_Label_content"></span>
                    </td>
                  </tr>
                  <tr>
                    <td style="border-bottom: black 1px solid" width="630" colspan="3">
                      <span class="Rpt_Label_content"></span>
                    </td>
                    <td style="border-left: black 1px solid; border-bottom: black 1px solid" align="right" width="69">
                      <span class="Rpt_Label_content"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="height: 165px" align="right">
              <table id="Table11" cellspacing="1" cellpadding="0" width="100%" border="0">
                <tbody>
                  <tr>
                    <td valign="top">
                      <table id="tbl_Despatch" class="Rpt_Label_content" style="font-size: 7pt" cellspacing="0"
                        cellpadding="1" width="90%" border="0">
                        <tr *ngFor="let data of dispatchtable">
                          <td style="border-bottom: black 1px solid" width="45%">
                            <span class="Rpt_Label_content">{{data.inv_desc}}</span>
                          </td>
                          <td style="border-bottom: black 1px solid" width="45%">
                            <span class="Rpt_Label_content">{{data.inv_number}} </span>
                          </td>
                        </tr>
  
                      </table>
                    </td>
                    <td valign="top" align="center" width="35%">
                      <table id="Table1" cellspacing="1" cellpadding="1" width="100%" border="0">
                        <tbody>
                          <tr>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <td>
  
                            </td>
                          </tr>
                          <!-- <tr>
                            <td height="25">
                            </td>
                          </tr> -->
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top">
                      <table id="tbl_Despatch" class="Rpt_Label_content" style="font-size: 7pt" cellspacing="0"
                        cellpadding="1" width="90%" border="0">
                      </table>
  
                      <!-- <span id="lblStaxNotify" class="Rpt_Label_content"
                        style="display:inline-block;width:100%;border: 1px solid #808080;"></span> -->
                    </td>
                    <td valign="top" align="center" width="35%">
                      <table id="Table1" cellspacing="1" cellpadding="1" width="100%" border="0">
                        <tbody>
                          <tr>
                            <td>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <span id="lblFor" class="Rpt_Label_content" style="display:inline-block;width:100%;">For
                                {{datattable5[0].CMP_NAME}}
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td height="25">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table id="Table13" cellspacing="1" cellpadding="0" width="100%" border="0">
                <tbody>
                  <tr>
                    <td width="33%" colspan="2">
                      <span class="Rpt_Label_content" style="display:inline-block;width:456px;">
                        {{datattable5[0].SERVICETAX_REGD}}</span><span class="Rpt_Label_content" style="display:inline-block;width:90%;">Our ESIC
                        Regd No. {{datattable5[0].ESIC_REGD}}</span>
                    </td>
                    <td valign="top" align="center" width="40%">
                      <span class="Rpt_Label_content">Authorised
                        Signatory</span>
                    </td>
                  </tr>
                  <!-- <tr>
                     <td width="33%" colspan="2">
                      <span class="Rpt_Label_content" style="display:inline-block;width:90%;">Income Tax No.
                        {{datattable5[0].INCOMETAXNO}}</span><span class="Rpt_Label_content" style="display:inline-block;width:90%;">CIN
                        No.
                        {{CINNO_REG1}}</span>
                    </td>
  
                    <td valign="top" colspan="4" align="center" width="77%">
                      <span class="Rpt_Label_content">Authorised
                        Signatory</span>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </td>
          </tr>
          <!-- <tr>
            <td>
              <span class="Rpt_Label_content"
                style="display:inline-block;width:100%;border-top: black 1px solid">For {{CMP_NAME}}</span>
            </td>
          </tr>
   -->
        </tbody>
      </table>
      </td>
      </tr>
      </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <div class="row">
        <input type="button" value="Print" (click)="PrintElem()" />
      </div>
    </div>
  </div>
  
  <div class="modal" [style.display]="showModal ? 'block' : 'none'">
    <table style="width: 250px; height: 88px; text-align: center" cellspacing="1" cellpadding="1" width="250"
      align="center" border="1">
      <tr>
        <td style="font-weight: bold; font-size: x-small; color: white; font-family: Verdana" bgcolor="#62bada">
          Please select Currency &amp; Click OK to Print
        </td>
      </tr>
      <tr>
        <td>
          <input type="radio" class="col-form-span-label" name="exampleRadios" value='0' [(ngModel)]="exampleRadios1">&nbsp; INR Invoice
          <input type="radio" class="col-form-span-label"  name="exampleRadios" value='1' [(ngModel)]="exampleRadios1">&nbsp; NON INR
          Invoice
  
          <button class="btn btn-success mt-1" type="submit" (click)="currencyType(exampleRadios1)"> <span
              class="col-form-span-label">OK</span></button>
        </td>
      </tr>
    </table>
  </div>
