<div class="modal-header" style="background-color: #62bada;height: 30px;font-family: Verdana;
font-size: 15px;">
    <strong>CREDIT NOTE DETAIL VIEW</strong>
</div>
<div class="modal-body">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-sm-new bgwhite" style=" width: 750px;margin: 0px auto;">                                 
        <tr>
            <td class="col-form-span-heading " colspan="4">
              General Details
            </td>
        </tr>
        <tr>
          <td colspan="4">
            <table class="table table-bordered table-sm-new bgwhite" style="width:100%;">
              <tr>
                <td><span class="col-form-span-label"><b>CreditNote No </b> </span></td>
                <td> <span class="col-form-span-label">{{CRT_NO}}</span> </td>
                <td><span class="col-form-span-label"><b>CreditNote Date </b> </span></td>
                <td><span class="col-form-span-label">{{CRT_DATE}}</span> </td>
                <td><span class="col-form-span-label"><b>Supply Type</b> </span></td>
                <td><span class="col-form-span-label">{{SUPPLYTYPE}}</span> </td>
              </tr>

            </table>
          </td>

        </tr>
        <tr>
            <td class="col-form-span-heading  " colspan="4">  Job Details   </td>
        </tr>
      <tr>
         <td class="col-form-span p-1" colspan="4">   </td>
    </tr>
    <tr>
    <td colspan="4">
    <table class="table table-bordered table-sm-new bgwhite ">   
      <thead>
        <tr class="col-form-span-heading">
          <th class="col-form-span-label" colspan="2">Job No</th>
          <th class="col-form-span-label">Packages</th>
          <th class="col-form-span-label">Prop.Weight</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of datatabl_1">
          <td class="col-form-span-label" colspan="2">{{data.crt_jobno}}</td>
          <td class="col-form-span-label">{{data.crt_pkgs}}</td>
          <td class="col-form-span-label">{{data.crt_grwt}}</td>
        </tr>
        </tbody>
        </table>
        </td>
    </tr>
    <tr>
      <td class="col-form-span-heading  " colspan="4">   Main Details </td>
    </tr>
    <tr>
        <td><span class="col-form-span-label" ><b>Client Name	 </b> </span></td>         
        <td colspan="3"> <span class="col-form-span-label" >{{CLIENTNAME}}</span> </td>    
    </tr>
    <tr>
        <td><span class="col-form-span-label" ><b>Bill To Address</b> </span></td>         
        <td colspan="3"> <span class="col-form-span-label"  [innerHTML]="BILLTO_CRTADDR"></span> </td>   
    </tr>
    <tr>
          <td  colspan="4">  <hr style="border:2px solid #c2cfd6;padding: 0px;margin:0px;"></td>
    </tr>
    <tr>
        <td><span class="col-form-span-label"><b>Document Through	 </b> </span></td>         
        <td colspan="3"> <span class="col-form-span-label" >{{CLIENTNAME}}</span> </td>   
    </tr>
    <tr>
        <td><span class="col-form-span-label"><b>Bill Type</b> </span></td>         
        <td> <span class="col-form-span-label" >{{CRT_BILLTYPE}}</span> </td>  
        <td><span class="col-form-span-label"><b>Advanced Received </b> </span></td>         
        <td><span class="col-form-span-label" >{{CRT_ADVANCE}}</span>  </td>   
    </tr>
    <tr>
        <td><span class="col-form-span-label"><b>Number Of Packages</b> </span></td>         
        <td> <span class="col-form-span-label" >{{CRT_PKGS}}</span> </td>  
        <td><span class="col-form-span-label"><b>	Volume </b> </span></td>         
        <td><span class="col-form-span-label" >{{CRT_VOL}}</span>  </td>   
    </tr>
    <tr>
        <td><span class="col-form-span-label"><b>Number Of Pieces</b> </span></td>         
        <td> <span class="col-form-span-label" >{{CRT_NOOFPCS}}</span> </td>  
        <td><span class="col-form-span-label"><b>Weight Kilo </b> </span></td>         
        <td><span class="col-form-span-label" >{{CRT_WT}}</span>  </td>   
    </tr>
    <tr>
        <td><span class="col-form-span-label"><b>Client Reference </b> </span></td>         
        <td> <span class="col-form-span-label" >{{CRT_CLIENTREF}}</span> </td>  
        <td><span class="col-form-span-label"><b>Carrier</b> </span></td>         
        <td><span class="col-form-span-label" >{{CRT_CARRIER}}</span>  </td>   
    </tr>
    <tr>
        <td><span class="col-form-span-label"><b>Goods </b> </span></td>         
        <td> <span class="col-form-span-label" >{{CRT_GOODS}}</span> </td>  
        <td><span class="col-form-span-label"><b>Service Tax Rate </b> </span></td>         
        <td><span class="col-form-span-label" >{{CRT_TAX}}</span>  </td>   
    </tr>
    <tr>
        <td><span class="col-form-span-label"><b>HOUSE (A.W.B./B/L) </b> </span></td>         
        <td> <span class="col-form-span-label" >{{CRT_HAWBNO}}</span> </td>  
        <td><span class="col-form-span-label"><b>Date	 </b> </span></td>         
        <td><span class="col-form-span-label" >{{CRT_HAWBDT}}</span>  </td>   
    </tr>
    <tr>
        <td><span class="col-form-span-label" colspan="4"><b>Pay By Date </b> </span></td>         
        <td colspan="3"> <span class="col-form-span-label" >{{PAYBLEBYDT}}</span> </td>    
    </tr>
    <tr>
        <td class="col-form-span-heading  " colspan="4">   Narration  Details </td>
    </tr>
    <tr>
        <td><span class="col-form-span-label" colspan="4"><b>Narration </b> </span></td>         
        <td colspan="3"> <span class="col-form-span-label"  [innerHTML]="NARRATION"></span> </td>    
    </tr>
    <tr>
        <td class="col-form-span-heading  " colspan="4">  Currency Details  </td>
    </tr>
    <tr>
        <td><span class="col-form-span-label" colspan="4"><b>CRToice Currency	 </b> </span></td>         
        <td colspan="3"> <span class="col-form-span-label" >{{CUR_NAME}}</span> </td>    
    </tr>
    <tr>
        <td><span class="col-form-span-label" colspan="4"><b>Exchange Rate  </b> </span></td>         
        <td colspan="3"> <span class="col-form-span-label" ></span> </td>    
    </tr>
    <tr>
        <td><span class="col-form-span-label" colspan="4"><b>Rupees </b> </span></td> 
        <td>{{CRT_CURRATE}}</td>        
        <td> <span class="col-form-span-label" >{{CUR_NAME}}</span> </td>  
        <td></td>  
    </tr>
    <tr>
        <td class="col-form-span-heading  " colspan="4">  Charges  Details </td>
    </tr>
    <tr>
    <td class="col-form-span p-1" colspan="4">  </td>
    </tr>
    <tr>
        <td colspan="4">
            <table class="table table-bordered table-sm-new bgwhite ">   
              <thead>
              <tr class="col-form-span-heading ">
                <th class="col-form-span-label">Charg Code</th>
                <th class="col-form-span-label">Account Name</th>
                <th class="col-form-span-label">Description</th>
                <th class="col-form-span-label">Description</th>
                <th class="col-form-span-label">Qty</th>
                <th class="col-form-span-label">Rate</th>
                <th class="col-form-span-label">Cur.Type</th>
                <th class="col-form-span-label">Ex.RAte</th>
                <th class="col-form-span-label">Tax</th>
                <th class="col-form-span-label">Amount</th>
                <th class="col-form-span-label">	Taxable Amount</th>
              </tr>
              </thead> 
              <tbody>
              <tr *ngFor="let data of datatabl_2">
                <td class="col-form-span-label" >{{data.CRT_CHRGCODE}}</td>
                <td class="col-form-span-label" > <span [innerHTML]="data.ACCTNAME"></span> </td>
                <td class="col-form-span-label">{{data.CHRG_DESC}}</td>
                <td class="col-form-span-label">{{data.CRT_DESC}}</td>
                <td class="col-form-span-label">{{data.CRT_QTY}}</td>
                <td class="col-form-span-label">{{data.CRT_RATE}}</td>
                <td class="col-form-span-label">{{data.CRT_CURRENCY}}</td>
                <td class="col-form-span-label">{{data.CRT_EXRATE}}</td>
                <td class="col-form-span-label">{{data.CRT_TAXABLE}}</td>
                <td class="col-form-span-label">{{data.CRT_AMOUNT}}</td>
                <td class="col-form-span-label">{{data.TAXABLEAMT}}</td>
              </tr>
              <tr *ngFor="let data of datatabl_6">
                <td  colspan="7"> </td>
                <td></td>
                <td></td>
                <td class="col-form-span-label" style="font-weight: bold;">{{data.NONTAXABLEAMT}}</td>
                <td  class="col-form-span-label" style="font-weight: bold;"> {{data.TAXAMT}}</td>
              </tr>
              <tr *ngFor="let data of datatabl_8">
                <td class="col-form-span-label" colspan="10"> <span [innerHTML]="data.DESC1"></span> </td>
                
                <td class="col-form-span-label"    > <span [innerHTML]="data.INV_INRAMT"></span> </td>
              </tr>
              <tr *ngFor="let data of datatabl_10">
                <td class="col-form-span-label" colspan="10"> <span [innerHTML]="data.DESC1"></span> </td>
                 
                <td class="col-form-span-label"  > <span [innerHTML]="data.ROUNDAMOUNT"></span> </td>
              </tr>

              <tr  *ngFor="let data of datatabl_6">
             
                <td class="col-form-span-label" colspan="10" style="font-weight: bold;">Total Credit Note Amount	 </td>
       
                <td class="col-form-span-label"  style="font-weight: bold;">{{data.TOTALAMT}}</td>
              </tr>
              </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td class="col-form-span-heading  " colspan="4"> Credit Invoice Details</td>
    </tr>
    <tr>
      <td colspan="4">        
          <table class="table table-bordered table-sm-new bgwhite ">   
            <thead>
            <tr class="col-form-span-heading">
              <th class="col-form-span-label">Invoice No.</th>
              <th class="col-form-span-label">Amount</th>
              <th class="col-form-span-label">Adjust Agnst O/Bal</th>              
            </tr>
            </thead> 
            <tbody>
              <tr *ngFor="let data of datatabl_3">
                <td class="col-form-span-label" >{{data.CRT_INVNO}}</td>
                <td class="col-form-span-label" > <span [innerHTML]="data.CRT_AMOUNT"></span> </td>
                <td class="col-form-span-label">{{data.CRT_ADJUST}}</td>                
              </tr>
             </tbody>
          </table>     
    </tr>
  </table>
  </div>
  </div>
    </div>
    </div>
<div class="modal-footer" style="background-color: #62bada;height: 30px;">
</div>