<div id="purchaseprint">

<table width="100%" border="1" cellspacing="3" cellpadding="3" width="700"  style="border-right: 1px solid black; border-top: 1px solid black; border-left: 1px solid black;
border-bottom: 1px solid;margin: 0 auto;">
    <tbody><tr>
        <td height="92">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td width="23%" height="84">
                        <div align="center">
                            <img alt="" url="../../../assets/Untitled-1.png" width="134" height="84"></div>
                    </td>
                    <td width="77%">
                        <table width="95%" border="0" align="center" cellpadding="1" cellspacing="0">
                            <tbody><tr>
                                <td colspan="2">
                                    <font size="6" face="Arial"><strong>
                                        <span id="lblcmpName">{{compnytable.CMP_NAME}}</span></strong></font>
                                </td>
                            </tr>
                            <tr>
                                <td width="48%">
                                    <font size="2" face="Arial">
                                        <span [innerHtml]="compnytable.ADDRESS"></span></font>
                                </td>
                                <td width="52%">
                                    <font size="2" face="Arial">TEL :
                                        <span >{{compnytable.CMP_TELNO}}</span><br>
                                        FAX :
                                        <span id="lblCmpFaxNo">{{compnytable.CMP_FAXNO}}</span><br>
                                        E-MAIL :
                                        <span id="lblCmpEmail">{{compnytable.CMP_EMAIL}}</span><br>
                                        <b>EORI:</b>
                                        <span id="lblEORI" style="font-weight:bold;">{{compnytable.EORI_NUMBER}}</span>
                                    </font>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
    <tr style="border-top: black 1px solid">
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td width="30%">
                        <font size="4" face="Arial">&nbsp;&nbsp;NO.
                            <span id="lblEntryNo">{{table0.ENTRYNO}}</span></font>
                    </td>
                    <td width="42%">
                        <div align="center">
                            <font size="6" face="Arial">PURCHASE</font></div>
                    </td>
                    <td width="28%">
                        <div align="right">
                            <font size="4" face="Arial">&nbsp;<span>{{table0.ENTRYDATE}}</span>&nbsp;&nbsp;</font></div>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
    <tr  style="border-top: black 1px solid">
        <td>
            <table width="100%" border="0" cellspacing="1" cellpadding="3">
                <tbody><tr>
                    <td width="20%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>SUPPLIER &nbsp;</strong>
                        </font>
                    </td>
                    <td width="0%">
                        <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">:</font></strong>
                    </td>
                    <td width="40%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            <span id="lblSupplier">{{table0.SUP_NAME}}</span>
                        </font>
                    </td>
                     <td width="10%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>Supplier Inv.Date &nbsp;</strong></font>
                    </td>
                    <td width="0%">
                        <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">:</font></strong>
                    </td>
                    <td width="30%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            <span id="supinvdt">{{table0.SUPINVDT}}</span>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>SUPPLIER BILL NO.
                            &nbsp;</strong></font>
                    </td>
                    <td width="0%">
                        <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">:</font></strong>
                    </td>
                    <td width="30%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            <span id="lblBillNo">{{table0.BILLNO}}</span>
                        </font>
                    </td>
                    <td width="20%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>To Be Paid On. &nbsp;</strong></font>
                    </td>
                    <td width="0%">
                        <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">:</font></strong>
                    </td>
                    <td width="80%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            <span id="lblPaiddt">{{table0.PAIDDT}}</span>
                        </font>
                    </td>
                </tr>
            </tbody></table>
            <div id="DIVINR" style="left: 224px; width: 272px; position: absolute; top: 168px;
                height: 50px" ms_positioning="FlowLayout">
                
            </div>
        </td>
    </tr>
    <tr  style="border-top: black 1px solid">
        <td>
            <div id="dvPrintDtls"><table width="100%" border="1" cellspacing="1" cellpadding="5" align="center"><tbody><tr align="center"><td width="35%" height="9"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                        ACCOUNT
                    </font></strong></td><td width="16%"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                        MAWB/MBL
                    </font></strong></td><td width="20%"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                        CONSOLE / JOB#
                    </font></strong></td><td width="15%"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                        PAYMENT EURO
                    </font></strong></td><td width="14%"><strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                        RECEIVABLE EURO
                    </font></strong></td><td height="27"><strong><font face="Verdana, Arial, Helvetica, sans-serif" size="2">SHORT NARRATION</font></strong></td></tr>
                     <tr *ngFor="let data of accounttable"> -->
                        <td height="27"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{data.ACCTNAME}}&nbsp;</font></td>
                        <td align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{data.MAWBMBL}}&nbsp;</font></td>
                        <td align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{data.JOBNO}}&nbsp;</font></td>
                        <td align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{data.INVOICEEURO}}&nbsp;</font></td>
                        <td align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{data.DEDUCTIONEURO}}&nbsp;</font></td>
                        <td align="left" colspan="4"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{data.NARRATION}}&nbsp;</font></td>
                    </tr>              
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="1" cellpadding="1">
                <tbody>
                    <tr>
                    <td>
                        <br>
                        <br>
                        <table width="88%" height="26" border="0" align="center" cellpadding="2" cellspacing="2">
                            <tbody><tr>
                                <td>
                                    <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">CHEQUE NO.</font></strong>
                                </td>
                                <td>
                                    <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">__________</font></strong>
                                </td>
                                <td>
                                    <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">DATE</font></strong>
                                </td>
                                <td>
                                    <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">__________</font></strong>
                                </td>
                                <td>
                                    <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">AMOUNT</font></strong>
                                </td>
                                <td>
                                    <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">__________</font></strong>
                                </td>
                                <td>
                                    <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">BANK</font></strong>
                                </td>
                                <td>
                                    <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">___________</font></strong>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <br>
                        <table width="81%" height="26" border="0" align="center" cellpadding="2" cellspacing="2">
                            <tbody><tr>
                                <td>
                                    <div align="center">
                                       
                                            <span id="lblenterby" class="UnderLine">{{table0.USERNAME}}             </span>
                                       
                                    </div>
                                </td>
                                <td>
                                    <div align="center">
                                        <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">_____________</font></strong></div>
                                </td>
                                <td>
                                    <div align="center">
                                        <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">____________</font></strong></div>
                                </td>
                                <td>
                                    <div align="center">
                                        <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">___________</font></strong></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div align="center">
                                        <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">ENTERED BY</font></strong></div>
                                </td>
                                <td>
                                    <div align="center">
                                        <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">ACCOUNTANT</font></strong></div>
                                </td>
                                <td>
                                    <div align="center">
                                        <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">AUTHORISED</font></strong></div>
                                </td>
                                <td>
                                    <div align="center">
                                        <strong><font size="2" face="Verdana, Arial, Helvetica, sans-serif">AUDITED</font></strong></div>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody>
</table>
</div>
<div class="row" style="float: right;">
    <div class="col-12">
    <input type="button" class="btn btn-sm btn-primary" value="Print" (click)="PrintElem()" />
  </div>
</div>
