<div id="demo">
    <table cellspacing="0" cellpadding="0" width="700" border="0" style="border-right: 1px solid black; border-top: 1px solid black; border-left: 1px solid black;
            border-bottom: 1px solid;margin: 0 auto;">
        <tbody>
            <tr>
                <td>
              <tr width="700" >
                <td width="100%" align="center">
                    <!-- <span
                    style='font-size:28pt; font-weight: bold; font-family: "Euclid Fraktur", "Old English Text MT", fantasy, serif; color: black;'>
                    Manilal Patel Clearing Forwarding Pvt. Ltd.</span><br> -->
                  <!-- <span
                    style='font-size:28pt; font-weight: bold; font-family: "Euclid Fraktur","Old English Text MT", fantasy, serif; color: black;'>
                   {{table3[0].cmp_name| titlecase }}</span> -->
                   <span> 
                    <!-- <img src="../../../assets/img/HEADER_CLGBOM.jpg"></span> -->
                        <!-- <img src="assets/img/HEADER_CLGBOM.jpg" width="700">  </span>    -->
                       <img src={{CMP_IMAGE}} width="700">  </span>    
                </td>
              </tr>
        </td>
      </tr>
      <!-- <tr>
        <td style="border-bottom: black 1px solid">
          <table cellspacing="0" cellpadding="0" width="100%" border="0">
            <tbody>
             
              <tr>
                <td width="45%">
                  <span class="Rpt_CodeDate" style="font-weight:bold;">
                    <b> &nbsp;{{table3[0].cmp_add1}}<br> &nbsp;{{table3[0].cmp_add2}}<br>
                        &nbsp;{{table3[0].cmp_add3}}</b></span>
                </td>
                <td  width="33%">
                  <span class="Rpt_CodeDate" style="font-weight:bold;">
                    <b>TelNo.&nbsp;{{table3[0].cmp_telno}}<br>FaxNo.&nbsp;{{table3[0].cmp_faxno}}<br>
                        Email:&nbsp;{{table3[0].cmp_email}}</b>
    
                    <b>TelNo.&nbsp;{{table3[0].CMP_TELNO}}<br>FaxNo.&nbsp;{{table3[0].CMP_FAXNO}}<br>
                        Email:&nbsp;{{table3[0].CMP_EMAIL}}<br>Website:&nbsp;</b>
                  </span>
                </td>
                <td align="right">
                  <span class="Rpt_CodeDate" style="font-weight:bold;">
                    <img url="../../../assets/Untitled-1.png"></span>&nbsp; 
                </td>
              </tr>
            </tbody>
          </table>
          <br>
        </td>
      </tr> -->
        <tr>
            <td style="border-bottom: 1px solid" >
                    <table cellspacing="0" cellpadding="0" width="100%" height="30" border="0">
                        <tbody><tr>
                            <td width="30%">                              
                                <span class="Rpt_CodeDate"  style="font-family:Verdana;font-weight:bold;cursor:hand;">NO.{{table3[0].jvcode}}</span>
                            </td>
                            <td align="center"  width="40%">
                                <span style="font-family:Verdana;font-size:12pt;font-weight:bold;">{{header}}</span>
                            </td>
                            <td  width="30%">
                                <span  class="Rpt_CodeDate" style="font-family:Verdana;font-weight:bold;float:right;">DATE:{{table3[0].jv_date}}</span>&nbsp;
                            </td>
                        </tr>
                    </tbody></table>
                </td>
        </tr>
      <tr>
            <td style="border-bottom: 1px solid">
                    <table  cellspacing="0" cellpadding="0" width="100%" border="0">
                        <tbody><tr>
                            <td style="border-top-width: 1px; border-left-width: 1px; border-left-color: #000000;
                                border-bottom-width: 1px; border-bottom-color: #000000; border-top-color: #000000;
                                border-right-width: 1px; border-right-color: #000000" valign="top" align="left" width="100%"  height="30">
                                <table  cellspacing="1" cellpadding="1" width="100%" border="0">
                                    <tbody><tr>
                                        <td align="right" width="100">
                                            <span class="Rpt_Label_content" style="font-weight:bold;">Amount In Rs.:</span>
                                        </td>
                                        <!-- <td>
                                            <span  class="Rpt_Label_content" style="display:inline-block;width:100%;">{{table[0].OURBANKNM}}</span>
                                        </td> -->
                                    </tr>
                        
                                </tbody></table>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
        </tr>
        <tr>
            <td style="border-bottom: black 0px solid" valign="top" height="550">
                         <!-- <table  cellspacing="1" cellpadding="1" width="100%" border="0">
                            <tbody><tr>
                                <td height="3">
                                </td>
                            </tr>
                        </tbody></table>  -->
                    <table cellspacing="0" rules="all" border="1" style="width:100%;border-collapse:collapse;">
                <tbody>
                    <tr class="dgHeader" align="center">
                    <td style="white-space:nowrap;">Particulars</td>
                    <td style="white-space:nowrap;">Job No</td>
                    <td style="white-space:nowrap;">Invoice No</td>
                    <td style="white-space:nowrap;">Entry Type</td>
                    <td style="white-space:nowrap;">Debit</td>
                    <td style="white-space:nowrap;">Credit</td>
                </tr>
                <tr class="dgItem" *ngFor="let data of table1"> 
                    <!-- <td style="white-space:nowrap;" >{{data.ACCTNAME}} <br> (Being {{data.JV_NARR}} )</td> -->
                    <td><span style="font-family:Verdana;">{{data.ACCTNAME}}</span>
                    <br><span style="font-family:Verdana;font-style:italic;">(Being {{data.JV_NARR}} )</span></td>
                    <td style="white-space:nowrap;cursor:hand;">{{data.JV_JOBNO}}</td>
                    <td style="white-space:nowrap;">{{data.JV_INVOICENO}}</td>
                    <td style="white-space:nowrap;">{{data.ENTRYTYPENM}}</td>
                    <!-- <td align="right" style="white-space:nowrap;">{{data.JV_DEBIT}}</td> -->
                    <td align="right" > <span *ngIf="data.JV_DEBIT==0.00"> </span>
                        <span *ngIf="data.JV_DEBIT!=0.00">{{data.JV_DEBIT}}</span></td>
                        <td align="right" > <span *ngIf="data.JV_CREDIT==0.00"> </span>
                            <span *ngIf="data.JV_CREDIT!=0.00">{{data.JV_CREDIT}}</span></td>
                  <!-- <td align="right" style="white-space:nowrap;">{{data.JV_CREDIT}}</td> -->
               </tr>
                <tr class="dgItem">
                    <td align="center" colspan="4" style="font-family:Verdana;font-weight:bold;">TOTAL</td>
                    <td align="right"> <span  class="Rpt_Label_content" style="font-family:Verdana;font-weight:bold;">{{getTotalDebit()}}</span></td>
                    <td align="right"> <span  class="Rpt_Label_content" style="font-family:Verdana;font-weight:bold;">{{getTotalCredit()}}</span></td>
                </tr>
            </tbody></table>
<br>
            <table  cellspacing="1" cellpadding="1" width="100%" border="0">
                <tbody><tr>
                    <td width="25%" >
                        <span  class="Rpt_Label_content" style="font-family:Verdana;font-weight:bold;">Narration:</span>
                    </td>
                    <td align="left">
                        <span  class="Rpt_Label_content">{{table3[0].jv_desc}}</span>
                    </td>
                </tr>
            </tbody></table>
                        </td>
        </tr>
        
        <tr>
            <td valign="top" align="center" height="25">
                </td>
        </tr>
        <tr>
            <td style="border-bottom: black 1px solid" valign="top" align="center">
                    <table  cellspacing="1" cellpadding="1" width="100%" border="0">
                        <tbody><tr>
                            <td align="center">
                                <span style="font-family:Verdana;font-size:10pt;">{{table3[0].CMP_USERNAME}}   </span>
                            </td>
                            <td align="center">
                                <span  style="font-family:Verdana;font-size:8pt;">____________</span>
                            </td>
                            <td align="center">
                                <span  style="font-family:Verdana;font-size:8pt;">____________</span>
                            </td>
                            <td align="center">
                                <span style="font-family:Verdana;font-size:8pt;">{{table3[0].AUTHORISEDBY}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <span  class="Rpt_Label_content" style="font-family:Verdana;">Entered By</span>
                            </td>
                            <td align="center">
                                <span class="Rpt_Label_content" style="font-family:Verdana;">Checked By</span>
                            </td>
                            <td align="center">
                                <span  class="Rpt_Label_content" style="font-family:Verdana;">Audited By</span>
                            </td>
                            <td align="center">
                                <span class="Rpt_Label_content" style="font-family:Verdana;">Authorised By</span>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
        </tr> 
    </tbody>
    </table>
    </div>
    <div class="row" style="float: right;">
        <div class="col-12">
        <input type="button" value="Print" (click)="PrintElem()" />
      </div>
    </div>
