<div class="modal-header" style="background-color: #62bada;height: 20px;width: 750px;margin: 0px auto;font-family: Verdana;
    font-size: 15px;">
  <strong>JV DETAIL VIEW</strong>
</div>
<div class="modal-body">
  <div class="row no-gutters">
    <div class="col-2"></div>
    <div class="col-8">
        <table class="table table-bordered table-sm-new bgwhite" style=" width: 750px;margin: 0px auto;" >
            <tr>
              <td class="col-form-span-heading " colspan="4">
                General Details
              </td>
            </tr>
            <tr>
              <td><span class="col-form-span-label"><b>Voucher No </b> </span></td>
              <td> <span class="col-form-span-label">{{VoucherNo}}</span> </td>
              <td><span class="col-form-span-label"><b>Voucher Date </b> </span></td>
              <td><span class="col-form-span-label">{{VoucherDate}}</span> </td>
            </tr>
            <tr>
                <td><span class="col-form-span-label"><b>Narration </b> </span></td>
                <td colspan="3"> <span class="col-form-span-label">{{Narration}}</span> </td>
            </tr>
        
            <tr>
              <td class="col-form-span-heading " colspan="4">
                Account Details
              </td>
            </tr>
      <tr>
          <td><span class="col-form-span-label"><b> Total Debit</b> </span></td>
          <td > <span class="col-form-span-label"><b>{{TotDebit}}</b></span> </td>
          <td><span class="col-form-span-label"><b>Total Credit</b> </span></td>
          <td > <span class="col-form-span-label"><b>{{TotCredit}}</b></span> </td>
      </tr>
    
            <tr>
              <td colspan="4">
                <table class="table table-bordered table-sm-new bgwhite ">
                  <thead>
                    <tr class="col-form-span-heading ">
                      <th class="col-form-span-label">Account Name</th>
                      <th class="col-form-span-label">Debit</th>
                      <th class="col-form-span-label">Credit</th>
                      <th class="col-form-span-label">Item </th>
                      <th class="col-form-span-label">Entry Type</th>
                      <th class="col-form-span-label">Job No</th>
                      <th class="col-form-span-label">Bill No</th>
                      <th class="col-form-span-label">Department</th>
                      <th class="col-form-span-label">Narration</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of AccountNameList">
                  
                    <td><span class="col-form-span-label"  [innerHtml]="data.ACCOUNT_NAME"> </span></td>
                      <td class="col-form-span-label">{{data.DEBIT}}</td>
                      <td class="col-form-span-label">{{data.CREDIT}}</td>
                      <td class="col-form-span-label">{{data.ITEM}}</td>
                      <td class="col-form-span-label">{{data.ET}}</td>
                      <td class="col-form-span-label">{{data.JOBNO}}</td>
                      <td class="col-form-span-label">{{data.BILLNO}}</td>
                      <td class="col-form-span-label">{{data.DEPARTMENT}}</td>
                      <td class="col-form-span-label">{{data.NARRATION}}</td>
                       </tr>
               
                  </tbody>
                </table>
              </td>
            </tr>
          
       </table>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <div class="modal-footer" style="background-color: #62bada;height: 20px;width: 750px;margin: 0px auto;">
  </div>
     
    