<div class="printmain" *ngIf="printmodal">
  <div id="demo">
    <table bordercolor="black" height="764" cellspacing="0" cellpadding="2" width="100%" border="0">
      <tbody>
        <tr>
          <td valign="top">
          </td>
          <td valign="top">
            <table id="Table2" style="border-right: black 1px solid; border-top: black 1px solid;
                left: 0px; border-left: black 1px solid; border-bottom: black 1px solid;margin:0 auto" cellspacing="0"
              cellpadding="0" width="700" border="0">
              <tbody>
                <tr>
                  <td>
                <tr width="700">
                  <td>
                    <!-- <span
                      style='font-size:28px; font-weight: bold; font-family: "Euclid Fraktur", "Old English Text MT", fantasy, serif; color: black;'>
                      Manilal Patel Clearing Forwarding Private Limited</span> -->
                      <!-- <span
                style='font-size:24pt; font-weight: bold; font-family: "Euclid Fraktur","Old English Text MT", fantasy, serif; color: black;'>
                 {{table0[0].CMP_NAME| titlecase }}</span> -->
                 <span>
                  <!-- <img src="../../../assets/img/HEADER_CLGBOM.jpg"></span> -->
                      <!-- <img src="assets/img/HEADER_CLGBOM.jpg" width="700">  </span>    -->
                     <img src={{CMP_IMAGE}} width="700">  </span>

                  </td>
                </tr>
          </td>
        </tr>
        <!-- <tr>
          <td style="border-bottom: black 1px solid">
            <table id="Table3" cellspacing="0" cellpadding="0" width="100%" border="0">
              <tbody>
                <tr>
                  <td width="45%">
                    <span class="Rpt_CodeDate" style="font-weight:bold;">
                      <b> &nbsp;{{table0[0].CMP_ADD1}}<br> &nbsp;{{table0[0].CMP_ADD2}}<br>
                          &nbsp;{{table0[0].CMP_ADD3}}</b></span>
                  </td>
                  <td  width="33%">
                    <span class="Rpt_CodeDate" style="font-weight:bold;">
                     <b>TelNo.+91(22)27240275/3095<br>FaxNo.+91(22)27240280,<br>Email:accounts.bom@manilal.com<br>Website:www.manilal.com</b>

                      <b>TelNo.&nbsp;{{table0[0].CMP_TELNO}}<br>FaxNo.&nbsp;{{table0[0].CMP_FAXNO}}<br>
                          Email:&nbsp;{{table0[0].CMP_EMAIL}}<br>Website:&nbsp;</b>
                    </span>
                  </td>
                  <td align="right">
                    <span class="Rpt_CodeDate" style="font-weight:bold;">
                      <img src="../../../assets/Untitled-1.png"></span>&nbsp;
                     <img src=" ../img/Untitled-1.png"></span>&nbsp;

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr> -->
        <tr>
          <td style="border-bottom: black 1px solid">

          </td>
        </tr>
        <tr>
          <td style="border-bottom: black 1px solid">
            <table id="Table3" cellspacing="0" cellpadding="0" width="100%" border="0">
              <tbody>
                <tr>
                  <td width="33%">
                    &nbsp;&nbsp;<span class="Rpt_CodeDate" style="font-weight:bold;">No.
                      {{INV_NO1}}</span>
                  </td>
                  <td align="center" width="33%">
                    <span style="font-family:Arial;font-size:16pt;font-weight:bold;">Proforma Invoice</span>
                  </td>
                  <td align="right">
                    <span class="Rpt_CodeDate" style="font-weight:bold;">DATE :
                      {{INV_DATE1}}</span>&nbsp;
                  </td>


                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="border-bottom: black 1px solid">
            <table id="Table4" cellspacing="0" cellpadding="1" width="100%" border="0">
              <tbody>
                <tr>
                  <td valign="top" width="1%">
                  </td>
                  <td style="border-right: black 1px solid" valign="top" width="49%">
                    <table id="tbl_exp_mst" class="Rpt_Label_content" cellspacing="0" cellpadding="2" width="100%"
                      border="0">
                    </table>

                    <span class="Rpt_Label" style="display:inline-block;width:100%;">{{EXP_NAME1}}
                    </span><span class="Rpt_Label_content" style="display:inline-block;width:100%;">
                      {{EXP_INVADD11}}<br>{{EXP_INVADD2}}<br>{{EXP_INVADD3}}
                      <br>{{EXP_INVCITY}} - {{EXP_INVPINCODE}}, <span class="col-form-span-label"
                        [innerHTML]="CITY_COUNTRY1"></span>
                    </span>


                  </td>
                  <td>
                    <table id="Table6" cellspacing="0" cellpadding="2" width="100%" border="0">
                      <tbody>
                        <tr>
                          <td align="right" width="40%">
                            <span class="Rpt_Label"> OUR REF :</span>
                          </td>
                          <td width="60%">
                            <span class="Rpt_Label_content"
                              style="display:inline-block;width:100%;">{{INV_JOBNO1}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td align="right" width="40%">
                            <span class="Rpt_Label"> VESSEL / AIRLINE :</span>
                          </td>
                          <td width="60%">
                            <span class="Rpt_Label_content"
                              style="display:inline-block;width:100%;">{{INV_CARRIER1}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td align="right" width="40%" colspan="1" rowspan="1">
                            <span class="Rpt_Label"> H.B/L/H.A.W.B :</span>
                          </td>
                          <td width="60%">
                            <span class="Rpt_Label_content"
                              style="display:inline-block;width:100%;">{{INV_HAWBNO1}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td align="right" width="40%">
                            <span class="Rpt_Label"> DATE :</span>
                          </td>
                          <td width="60%">
                            <span class="Rpt_Label_content"
                              style="display:inline-block;width:100%;">{{INV_HAWBDT1}}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="border-bottom: black 1px solid">
            <table id="Table7" cellspacing="1" cellpadding="1" width="100%" border="0">
              <tbody>
                <tr>
                  <td align="right" width="22%">
                    <span class="Rpt_Label">DOCUMENT THROUGH:</span>
                  </td>
                  <td colspan="2">
                    <span class="Rpt_Label_content" style="display:inline-block;width:100%;">{{DOCTHROUGH1}}</span>
                  </td>
                  <!-- <td align="right" width="20%">

                  </td> -->
                  <td width="30%">

                  </td>
                </tr>
                <tr>
                  <td align="right" width="22%">
                    <span class="Rpt_Label">CONTENTS :</span>
                  </td>
                  <td width="30%">
                    <span class="Rpt_Label_content" style="display:inline-block;width:100%;">{{INV_GOODS1}}</span>
                  </td>
                  <td align="right" width="20%">
                    <span class="Rpt_Label">S/Bill No.:</span>
                  </td>
                  <td width="30%">
                    <span class="Rpt_Label_content" style="display:inline-block;width:100%;">{{BillNo}}</span>
                  </td>
                </tr>
                <tr>
                  <td align="right" width="22%">
                    <span class="Rpt_Label">YOUR REFERENCE :</span>
                  </td>
                  <td width="30%">
                    <span class="Rpt_Label_content" style="display:inline-block;width:100%;">{{INV_CLIENTREF1}}</span>
                  </td>
                  <td align="right" width="20%">
                    <span class="Rpt_Label">POL :</span>
                  </td>
                  <td width="30%">
                    <span class="Rpt_Label_content" style="display:inline-block;width:100%;">{{Pol}}</span>
                  </td>
                </tr>
                <tr>
                  <td align="right" width="22%">
                    <span class="Rpt_Label">NO.OF.PACKAGES :</span>
                  </td>
                  <td width="30%">
                    <span class="Rpt_Label_content" style="display:inline-block;width:100%;">{{INV_PKGS}}</span>
                  </td>
                  <td align="right" width="20%">
                    <span class="Rpt_Label">POD :</span>
                  </td>
                  <td width="30%">
                    <span class="Rpt_Label_content" style="display:inline-block;width:100%;">{{Pod}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table id="Table5" cellspacing="0" cellpadding="0" width="100%" border="0">
              <tbody>
                <tr>
                  <td valign="top" width="200">
                    <table id="tblEnclosure" cellspacing="0" cellpadding="0" width="200" border="0">
                      <tbody>
                        <tr>
                          <td style="border-bottom: 1px solid" align="center" width="150" height="40">
                            <span class="Rpt_Label_content"
                              style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">Enclosure</span>
                          </td>
                          <td style="border-left: 1px solid; border-bottom: 1px solid" align="center" width="50"
                            height="40">
                            <span class="Rpt_Label_content"
                              style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">Nos</span>
                          </td>
                        </tr>
                        <tr>
                          <td id="tdEnclosure" style="border-bottom: 1px solid" align="center" colspan="2">
                            <table cellspacing="0" cellpadding="0" width="200px" he="" border="0"
                              class="Rpt_Label_content">
                              <tbody>
                                <tr *ngFor="let data of enclosuretable">
                                  <td width="1%"></td>
                                  <td>{{data.inv_desc}}</td>
                                  <td width="50px" style="BORDER-LEFT: 1px solid">{{data.inv_number}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                  <td id="tdheight" style="border-left: 1px solid" valign="top" width="500" height="300">
                    <table id="tbl_Charges" style="font-size: 7pt; font-family: Verdana, Arial" height="100%"
                      cellspacing="0" cellpadding="0" width="500" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 360px; border-bottom: 1px solid; height: 40px" align="center" height="40">
                            <span class="Rpt_Label_content"
                              style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">Charges
                              Particulars</span>
                          </td>
                          <td style="border-left: 1px solid; width: 70px; border-bottom: 1px solid; height: 40px"
                            align="center" height="40">
                            <span class="Rpt_Label_content"
                              style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">Taxable
                              {{CURNAME}}</span>
                          </td>
                          <td style="border-left: 1px solid; width: 70px; border-bottom: 1px solid" align="center"
                            height="40">
                            <span class="Rpt_Label_content"
                              style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">Non
                              Taxable  {{CURNAME}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td id="tdCharges" align="center" colspan="3">
                            <table cellspacing="0" cellpadding="0" width="100%" border="0" class="Rpt_Label_content">
                              <tbody>
                                <tr *ngFor="let data2 of chargestable">
                                  <td width="1px"></td>
                                  <td width="360px" valign="top">{{data2.CHRG_DESC}} </td>
                                  <td width="70px" style="BORDER-LEFT: 1px solid" align="right" valign="bottom" *ngIf="(inrtype=='1')" >
                                    {{(data2.INV_AMOUNT_Y|number:'1.2-4').replaceAll(',', '')}}&nbsp;</td>
                                    <td width="70px" style="BORDER-LEFT: 1px solid" align="right" valign="bottom" *ngIf="(inrtype=='0')" >
                                      {{(data2.INV_INRAMT_Y |number:'1.2-4').replaceAll(',', '')}}&nbsp;</td>
                                      <td width="70px" style="BORDER-LEFT: 1px solid" align="right" valign="bottom" *ngIf="(inrtype=='1')" >
                                        {{(data2.INV_AMOUNT_N |number:'1.2-4').replaceAll(',', '')}}&nbsp;</td>
                                        <td width="70px" style="BORDER-LEFT: 1px solid" align="right" valign="bottom" *ngIf="(inrtype=='0')" >
                                          {{(data2.INV_INRAMT_N| number : '1.2-2').replaceAll(',', '') }}&nbsp;</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 360px" align="center" height="100%">
                            &nbsp;
                          </td>
                          <td style="border-left: black 1px solid; width: 70px" align="center" height="100%">
                            &nbsp;
                          </td>
                          <td style="border-left: black 1px solid" align="center" width="70" height="100%">
                            &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table id="Table9" cellspacing="0" cellpadding="0" width="700" border="0">
              <tbody>
                <tr>
                  <td style="border-top: 1px solid;height:32px" valign="top" width="560" colspan="2">
                    <!-- <table id="tbl_jobno" class="labelnormal" style="color: black" cellspacing="0"
                            cellpadding="1" width="90%" border="0">
                            <tbody>
                              <tr>
                                <td></td>
                              </tr>
                            </tbody>
                          </table> -->

                    <span class="Rpt_Label_content"
                    [innerHTML]="NARRATION1"></span>

                    <span
                      style="display:inline-block;color:Black;font-family:Arial;font-size:14px;font-weight:bold;width:90%;padding:0px;margin:0px"><br>
                      PAY BY DATE: {{PAYBLEBYDT1}}</span>
                  </td>
                  <td style="border-left: black 1px solid; height: 32px" align="right" width="70" height="32">
                    &nbsp;
                  </td>
                  <td style="border-left: black 1px solid; height: 32px" align="right" width="69" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td style="border-top: black 1px solid; border-bottom: black 3px solid" width="560" colspan="2"
                    height="25">
                    &nbsp;
                  </td>
                  <td style="border-top: black 1px solid; border-left: black 1px solid; border-bottom: black 3px solid"
                    align="right" width="70" height="25">
                    <span class="Rpt_Label_content" style="display:inline-block;width:100%;"  *ngIf="(inrtype=='1')" >{{(datattable5[0].TOT_INV_AMOUNT_Y| number : '1.2-2').replaceAll(',', '')}}</span>
                    <span class="Rpt_Label_content" style="display:inline-block;width:100%;"  *ngIf="(inrtype=='0')" >{{(datattable5[0].TOT_INV_INRAMT_Y| number : '1.2-2').replaceAll(',', '')}}</span>

                  </td>
                  <td style="border-top: black 1px solid; border-left: black 1px solid; border-bottom: black 3px solid"
                    align="right" width="69" height="25">
                    <span class="Rpt_Label_content" style="display:inline-block;width:100%;"  *ngIf="(inrtype=='1')" >{{(datattable5[0].TOT_INV_AMOUNT_N| number : '1.2-2').replaceAll(',', '')}}</span>
                    <span class="Rpt_Label_content" style="display:inline-block;width:100%;"  *ngIf="(inrtype=='0')" >{{(datattable5[0].TOT_INV_INRAMT_N| number : '1.2-2').replaceAll(',', '')}}</span>

                  </td>
                </tr>
                <tr *ngFor="let data of gsttable">
                  <td id="tdTaxableAmt" style="border-bottom: black 1px solid" nowrap="nowrap" colspan="2">
                    <table cellspacing="0" cellpadding="0" width="100%" border="0" class="Rpt_Label_content">
                      <tbody>
                        <tr>
                          <td width="1px"></td>
                          <td *ngIf="(inrtype=='0')"  valign="top">{{data.DESC1}}</td>
                          <td *ngIf="(inrtype=='1')"  valign="top">{{data.DESC_NONINR}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>

                  <td id="tdTotalTaxableAmt" style="border-left: black 1px solid; border-bottom: black 1px solid"
                    align="right" width="70">
                    <table cellspacing="0" cellpadding="0" width="100%" border="0" class="Rpt_Label_content">
                      <tbody>
                        <tr>
                          <td width="1px"></td>

                          <td width="359px"  align="right" valign="top"   *ngIf="(inrtype=='1')">
                            {{data.INV_AMOUNT|number:'2.2-4'}}</td>
                            <td width="359px"  align="right" valign="top"   *ngIf="(inrtype=='0')">
                              {{data.INV_INRAMT|number:'2.2-4'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>

                  <td id="tdRight" style="border-left: black 1px solid; border-bottom: black 1px solid" align="right"
                    width="69">
                    <table cellspacing="0" cellpadding="0" width="100%" border="0" class="Rpt_Label_content">
                      <tbody>
                        <tr>
                          <td width="1px"></td>


                          <td width="359px"  align="right" valign="top"   *ngIf="(inrtype=='1')">
                            {{data.TAXABLEAMT| number : '1.2-2'}}</td>
                            <td width="359px"  align="right" valign="top"   *ngIf="(inrtype=='0')">
                              {{data.TAXABLEAMTINR| number : '1.2-2'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>

                </tr>
                <tr  style="border-top: black 3px solid" *ngIf="(inrtype=='0')">
                  <td style="border-bottom: black 1px solid" align="left" width="630" colspan="3">
                    <span class="Rpt_Label_content">Amount Rounded off</span>
                  </td>
                  <td style="border-left: black 1px solid; border-bottom: black 1px solid" align="right" width="69">
                    <span class="Rpt_Label_content"  >{{dattable9[0].ROUNDVALUE|number:'1.2-4'}}</span>
                  </td>
                </tr>
                <tr>
                  <td style="border-bottom: black 1px solid" width="630" colspan="3">
                    <span *ngIf="inrtype=='0'" class="Rpt_Label_content">TOTAL RUPEES : {{sum_words}} </span>
                    <span *ngIf="inrtype=='1'" class="Rpt_Label_content">TOTAL {{CURNAME}} : {{sum_words}} </span>
                  </td>
                  <td style="border-left: black 1px solid; border-bottom: black 1px solid" align="right" width="69">
                    <span class="Rpt_Label_content"  style="display:inline-block;width:100%;" >{{(this.sum | number : '1.2-2').replaceAll(',', '')}}</span>
                    </td>
                </tr>
                <tr *ngIf="(inrtype=='0'&& INV_ADVANCE1 >0)">
                  <td style="border-bottom: black 1px solid" align="left" width="630" colspan="3">
                    <span class="Rpt_Label_content">Less: Advance</span>
                  </td>
                  <td style="border-left: black 1px solid; border-bottom: black 1px solid" align="right" width="69">
                    <span class="Rpt_Label_content">{{INV_ADVANCE1|number:'2.2-4'}}</span>
                  </td>
                </tr>
                <tr *ngIf="(inrtype=='0' && INV_ADVANCE1 >0)">
                  <td style="border-bottom: black 1px solid" align="left" width="630" colspan="3">
                    <span class="Rpt_Label_content">{{balanceduelbl}}</span>
                  </td>
                  <td style="border-left: black 1px solid; border-bottom: black 1px solid" align="right" width="69">
                    <span class="Rpt_Label_content">{{this.balance|number:'2.2-4'}}</span></td>
                </tr>


                <tr>
                  <td style="border-bottom: black 1px solid" width="630" colspan="3">
                    <span class="Rpt_Label_content"></span>
                  </td>
                  <td style="border-left: black 1px solid; border-bottom: black 1px solid" align="right" width="69">
                    <span class="Rpt_Label_content"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="height: 165px" align="right">
            <table id="Table11" cellspacing="1" cellpadding="0" width="100%" border="0">
              <tbody>
                <tr>
                  <td valign="top">
                    <table id="tbl_Despatch" class="Rpt_Label_content" style="font-size: 7pt" cellspacing="0"
                      cellpadding="1" width="90%" border="0">
                      <tr *ngFor="let data of dispatchtable">
                        <td style="border-bottom: black 1px solid" width="45%">
                          <span class="Rpt_Label_content">{{data.inv_desc}}</span>
                        </td>
                        <td style="border-bottom: black 1px solid" width="45%">
                          <span class="Rpt_Label_content">{{data.inv_number}} </span>
                        </td>
                      </tr>

                    </table>
                  </td>
                  <!-- <td valign="top" align="center" width="35%">
                    <table id="Table1" cellspacing="1" cellpadding="1" width="100%" border="0">
                      <tbody>
                        <tr>
                          <td>
                          </td>
                        </tr>
                        <tr>
                          <td>

                          </td>
                        </tr>
                        <tr>
                          <td height="25">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td> -->
                  <td valign="top" align="center" width="100%">
                    <table id="Table1" cellspacing="1" cellpadding="1" width="100%" border="0">

                        <tr>
                            <td style="border-bottom: black 0px solid" width="700px">
                                <table id="Tablebank" cellspacing="1" cellpadding="1" width="100%" border="0">

                                    <tr>
                                        <td colspan="4">
                                          <span id="Label4" class="Rpt_Labelbank">BANK DETAILS</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="tdleft" width="700px" >
                                            <table id="Tableleft" cellspacing="0" cellpadding="0" border="0" >
                                                <tr>
                                                    <td width="100px" align="left">
                                                        <span id="lblbeneficiary" class="Rpt_Labelbank">Beneficiary </span>
                                                    </td>
                                                    <td width="20px">
                                                      <span >:</span>
                                                    </td>
                                                    <td width="240px">
                                                       <span id="lblbeneficiarydata" DESIGNTIMEDRAGDROP="620"
                                                       Width="100%"class="Rpt_Label_contentbank">{{datatablebank[0].BENEFICIARY}}</span>
                                                    </td>
                                                    <td align="left" width="140px" >
                                                         <span id="lblswiftcode" class="Rpt_Labelbank">Swift Code </span>
                                                    </td>
                                                    <td width="20px">
                                                      <span >:</span>
                                                    </td>
                                                    <td width="240px">

                                                            <span id="lblswiftcodedata" class="Rpt_Label_contentbank" DESIGNTIMEDRAGDROP="620"
                                                            Width="100%">{{datatablebank[0].SWIFTCODE}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td  align="left">
                                                        <span id="lblbankact" class="Rpt_Labelbank">Bank A/C</span>
                                                    </td>
                                                    <td width="20px">
                                                      <span >:</span>
                                                    </td>
                                                    <td >

                                                            <span id="lblbankactdata" DESIGNTIMEDRAGDROP="620"
                                                            Width="100%"class="Rpt_Label_contentbank">{{datatablebank[0].BANKACT}}</span>
                                                    </td>
                                                    <td align="left"  >

                                                        <span id="lblcinno" class="Rpt_Labelbank">CIN NO </span>
                                                    </td>
                                                    <td width="20px">
                                                      <span >:</span>
                                                    </td>
                                                    <td >
                                                         <span id="lblcinnodata" DESIGNTIMEDRAGDROP="620"
                                                         Width="100%" class="Rpt_Label_contentbank">{{datatablebank[0].CINNO1}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left">

                                                        <span id="lblbankname" class="Rpt_Labelbank">Bank Name </span>
                                                    </td>
                                                    <td width="20px">
                                                      <span >:</span>
                                                    </td>
                                                    <td >
                                                        <span id="lblBankNameData" DESIGNTIMEDRAGDROP="620"
                                                        Width="100%" class="Rpt_Label_contentbank">{{datatablebank[0].BANKNAME}}</span>
                                                    </td>
                                                    <td align="left" >
                                                        <span id="lblpanno" class="Rpt_Labelbank">PAN No </span>
                                                    </td>
                                                    <td width="20px">
                                                      <span >:</span>
                                                    </td>
                                                    <td >
                                                        <span id="lblpannoData"  DESIGNTIMEDRAGDROP="620"
                                                        Width="100%" class="Rpt_Label_contentbank">{{datatablebank[0].PANNO}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td  align="left" rowspan="1">
                                                      <span id="lblbankbranch" class="Rpt_Labelbank">Bank Branch</span>

                                                    </td>
                                                    <td width="20px">
                                                      <span >:</span>
                                                    </td>
                                                    <td >

                                                        <span id="lblbankbranchData" DESIGNTIMEDRAGDROP="620"
                                                        Width="160px" class="Rpt_Label_contentbank">{{datatablebank[0].BRANCH}},{{datatablebank[0].BANKADDRESS}}</span>
                                                    </td>
                                                    <td align="left" width="140px">
                                                      <span id="lblneftcode" class="Rpt_Labelbank">RTGS/NEFT Code </span>

                                                    </td>
                                                    <td width="20px">
                                                      <span >:</span>
                                                    </td>
                                                    <td >
                                                       <span id="lblneftcodeData" DESIGNTIMEDRAGDROP="620"
                                                       Width="100%" class="Rpt_Label_contentbank">{{datatablebank[0].RTGSCODE}}</span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                  <td  align="left">
                                                    <span id="lbluom" class="Rpt_Labelbank">UAM No</span>

                                                  </td>
                                                  <td width="20px">
                                                    <span >:</span>
                                                  </td>
                                                  <td >

                                                      <span id="lbluomData" class="Rpt_Label_contentbank">{{datatablebank[0].MICRCODE}}</span>
                                                  </td>
                                                    <td align="left"  >
                                                      <span id="lblneftcode" class="Rpt_Labelbank">MICR Code </span>

                                                    </td>
                                                    <td width="20px">
                                                      <span >:</span>
                                                    </td>
                                                    <td >
                                                       <span id="lblMicrCodeData" DESIGNTIMEDRAGDROP="620"
                                                       Width="100%" class="Rpt_Label_contentbank">{{datatablebank[0].MICRCODE}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td  align="left">
                                                      <span id="lbluom" class="Rpt_Labelbank"></span>

                                                    </td>
                                                    <td width="20px">
                                                      <!-- <span >:</span> -->
                                                    </td>
                                                    <td >

                                                        <!-- <span id="lbluomData" class="Rpt_Label_contentbank">{{datatablebank[0].MICRCODE}}</span> -->
                                                    </td>
                                                    <td align="left"  rowspan="1">
                                                      <span id="lblIFSCCode" class="Rpt_Labelbank">IFSC Code </span>

                                                    </td>
                                                    <td width="20px">
                                                      <span >:</span>
                                                    </td>
                                                    <td >
                                                       <span id="lblIFSCCodeData" DESIGNTIMEDRAGDROP="620"
                                                       Width="50%" class="Rpt_Label_contentbank">{{datatablebank[0].IFSCCODE}}</span>
                                                    </td>
                                                </tr>

                                            </table>
                                        </td>
                                        <!-- <td id="Tableright" width="150px" align="right">

                                           
                                        </td> -->

                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>
                              <span id="lblirnno" class="Rpt_Label_content">IRN No.:</span>

                                <span id="lblirnnoData" class="Rpt_Label_content">{{datatable10[0].IRNNO}}</span>
                            </td>
                        </tr> -->


                        <tr>

                            <td width="100%" align="right">
                              <span id="lblFor" class="Rpt_Label_contentbank">For {{CMP_FULLNAME1}}</span>
                            </td>
                        </tr>

                    </table>
                </td>
                </tr>

              </tbody>
            </table>
            <table id="Table13" cellspacing="1" cellpadding="0" width="100%" border="0">
              <!-- <tr>
                  <td width="33%" colspan="2">
                    <span id="lblservicetaxreg" class="Rpt_Label_content">For {{cmpname}}</span>
                    <span id="lblFor" class="Rpt_Label_content">For {{cmpname}}</span>
                      <asp:Label ID="lblservicetaxreg" runat="server" CssClass="Rpt_Label_content" DESIGNTIMEDRAGDROP="498"
                          Width="456px"></asp:Label><asp:Label ID="lblesicreg" runat="server" CssClass="Rpt_Label_content"
                              DESIGNTIMEDRAGDROP="767" Width="90%"></asp:Label>
                  </td>
                  <td valign="top" align="center" width="40%"></td>
              </tr> -->




              <tr>
                  <td width="33%" colspan="2">
                    <span id="lblincometaxno" class="Rpt_Label_content"> {{INCOMETAXNO1}}</span>
                    <span id="lblcinno" class="Rpt_Label_content"> {{CINNO_REG1}}</span>
                      <!-- <asp:Label ID="lblIncomeTaxNo" runat="server"
                          CssClass="Rpt_Label_content" Width="90%"></asp:Label><asp:Label ID="lblCINNo" runat="server" CssClass="Rpt_Label_content" Width="90%"></asp:Label> -->
                  </td>
              </tr>
              <tr>
                  <td>
                    <span id="lblStaxNotify" class="Rpt_Label_content"> {{SAXNOTIFY}}</span>
                  </td>
                  <td width="100%" height="20" align="right" colspan="2">

                      <!-- <img id="IMGSIGN" src="assets/img/Signature-Image.jpg" width="134" runat="server"> -->
                  </td>
              </tr>
              <tr>
                  <td valign="top" align="right" width="100%">
                      <!-- <asp:Label ID="Label34" runat="server" CssClass="Rpt_Label_contentbank" DESIGNTIMEDRAGDROP="223">AUTHORISED SIGNATORY&nbsp&nbsp;</asp:Label> -->
                      <span id="Label34" class="Rpt_Label_contentbank">AUTHORISED SIGNATORY</span>
                  </td>

              </tr>

          </table>
          </td>
        </tr>
        <tr>
          <td colspan="3" valign="top" align="left">
              <table id="Table13" cellspacing="1" cellpadding="0" width="100%" border="1">
                  <tr>
                      <td>
                          <span id="lblirnno" class="Rpt_Label" align="left">Note :  </span>
                          <span class="Rpt_Label_content" > Figures can vary at the time of final bill.If any refund comes after final payment, please submit proper letter within 15 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; days of final Tax Invoice.</span>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
        <!-- <tr>
          <td>
            <span class="Rpt_Label_contentbank"
              style="display:inline-block;width:100%;border-top: black 1px solid">{{CMPADDRESS1}}</span>
          </td>
        </tr> -->

      </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="row">
      <input type="button" value="Print" (click)="PrintElem()" />
    </div>
  </div>
</div>

<div class="modal" [style.display]="showModal ? 'block' : 'none'">
  <table style="width: 250px; height: 88px; text-align: center" cellspacing="1" cellpadding="1" width="250"
    align="center" border="1">
    <tr>
      <td style="font-weight: bold; font-size: x-small; color: white; font-family: Verdana" bgcolor="#62bada">
        Please select Currency &amp; Click OK to Print
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" class="col-form-span-label" name="exampleRadios" value='0' [(ngModel)]="exampleRadios1">&nbsp; INR Invoice
        <input type="radio" class="col-form-span-label"  name="exampleRadios" value='1' [(ngModel)]="exampleRadios1">&nbsp; NON INR
        Invoice

        <button class="btn btn-success mt-1" type="submit" (click)="currencyType(exampleRadios1)"> <span
            class="col-form-span-label">OK</span></button>
      </td>
    </tr>
  </table>
</div>