<div class="animated fadeIn">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>BP REQUEST VIEW BILL LIST   </strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12 col-md-2 col-lg-2"> </div>
        <div class="col-12 col-md-8 col-lg-8">
            <table class="table table-bordered table-sm-new bgwhite">     
                <thead> 
                <tr class="col-form-span-heading">
                    <th class="col-form-span-label">TRANSTYPE</th>
                    <th class="col-form-span-label">TRANSCODE</th>
                    <th class="col-form-span-label">DRAMT </th>
                    <th class="col-form-span-label">CRAMT </th>                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of bill_list">
                    <td class="col-form-span-label">{{data.TRANSTYPE}}</td>
                    <td class="col-form-span-label">{{data.TRANSCODE}}</td>
                    <td class="col-form-span-label">{{data.DRAMT}}</td>
                    <td class="col-form-span-label">{{data.CRAMT}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-2 col-lg-2"> </div>
    </div>
</div>
