<div class="modal-header" style="background-color: #62bada;height: 30px;font-family: Verdana;
font-size: 15px;">
    <strong>VIEW REQUEST BANK PAYMENT</strong>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-sm-new bgwhite">
                    <tr>
                        <td class="col-form-span-heading" colspan="12">
                            General Details
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><span class="col-form-span-label" ><b>Entry No </b> </span></td>
                        <td colspan="3"> <span class="col-form-span-label" >{{table.ENTRYNO}}</span> </td>
                        <td colspan="3"><span class="col-form-span-label" ><b> Entry Date</b> </span></td>
                        <td colspan="3"><span class="col-form-span-label">{{table.ENTRYDT}}</span> </td>
                    </tr>
                     <tr>
                        <td class="col-form-span-heading " colspan="12">
                            Bank/Cash Details
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"><span class="col-form-span-label" ><b>Cheque Type</b> </span></td>
                        <td colspan="3"> <span class="col-form-span-label" >{{table.CHEQUETYPE}}</span> </td>
                        <td colspan="3"><span class="col-form-span-label"><b>Cheque No </b> </span></td>
                        <td colspan="3"><span class="col-form-span-label" >{{table.CHEQUENO}}</span> </td>
                    </tr>
                <tr>
                        <td colspan="3"><span class="col-form-span-label" ><b>Bank</b> </span></td>
                        <td colspan="3"> <span class="col-form-span-label" >{{table.BANK}}</span> </td>
                        <td colspan="3"><span class="col-form-span-label"><b>Our Bank</b> </span></td>
                        <td colspan="3"><span class="col-form-span-label" >{{table.BANKNAME}}</span> </td>
                    </tr>
                     <tr>
                        <td colspan="3"><span class="col-form-span-label" ><b>Chq.Pay By Dt. </b> </span></td>
                        <td colspan="9"> <span class="col-form-span-label">{{table.CHEQUEDT}}</span> </td>
                    </tr>
                    <tr>
                        <td colspan="3"><span class="col-form-span-label" ><b>Narration </b> </span></td>
                        <td colspan="9"> <span class="col-form-span-label">{{table.NARRATION}}</span> </td>
                    </tr>
                    <tr>
                        <td class="col-form-span-heading" colspan="12">
                            Details
                        </td>
                    </tr>
                    <tr>
                        <td class="col-form-span p-1" colspan="12">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-form-span-heading " colspan="3"> </td>
                        <td class="col-form-span-heading " colspan="2"> Tot Amount </td>
                        <td class="col-form-span-heading " colspan="1"> {{table2[0].TOTAMOUNT}} </td>
                        <td class="col-form-span-heading " colspan="2"> Tot Deduction </td>
                        <td class="col-form-span-heading " colspan="1"> {{table2[0].TOTDEDUCTION}} </td>
                        <td class="col-form-span-heading " colspan="2"> Net Amount </td>
                        <td class="col-form-span-heading " colspan="1"> {{table2[0].NETTOTAL}} </td>
                    </tr>
                    <tr>
                        <td  colspan="3"><span class="col-form-span-label"><b>Paynee Name </b> </span></td>
                        <td colspan="9"> <span class="col-form-span-label">{{table.PAYEENAME}}</span> </td>
                    </tr>
                    <tr>
                        <td class="col-form-span p-1" colspan="12">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12">
                            <table class="table table-bordered table-sm-new bgwhite ">
                                <thead>
                                    <tr class="col-form-span-heading">
                                        <th class="col-form-span-label">Account Name</th>
                                        <th class="col-form-span-label">Job</th>
                                        <th class="col-form-span-label">Job No</th>
                                        <th class="col-form-span-label">Bill No</th>
                                        <th class="col-form-span-label">Bill</th>
                                        <th class="col-form-span-label">Deduction</th>
                                        <th class="col-form-span-label">Amount</th>
                                        <th class="col-form-span-label">Narration</th>
                                        <th class="col-form-span-label">Entry Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of table1">
                                        <td class="col-form-span-label">{{data.CLIENT}}</td>
                                        <td class="col-form-span-label  anchor-link" (click)="AdvRecvClient(data.JOBNO)">{{data.JOBADV}}</td>
                                        <td class="col-form-span-label  anchor-link" (click)="Jobprofit(data.JOBNO)">{{data.JOBNO}}</td>
                                        <td class="col-form-span-label anchor-link" (click)="billprint(data.BILLNO)">{{data.BILLNO}}</td>
                                        <td class="col-form-span-label anchor-link" (click)="billlist(data.BILLNO)">{{data.BILLLIST}}</td>
                                        <td class="col-form-span-label">{{data.DEDUCTION}}</td>
                                        <td class="col-form-span-label">{{data.AMOUNT}}</td>
                                        <td class="col-form-span-label">{{data.NARRATION}}</td>
                                        <td class="col-form-span-label">{{data.ENTRYTYPE}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="background-color: #62bada;height: 30px;bottom:0;position: absolute;width: 100%;">
</div>