<table width="100%" border="0" align="center" cellpadding="2" cellspacing="2">
    <tr>
        <td>
            <div align="center">
                <strong>
                    <font size="5" face="verdana"><u>
                        </u></font>
                </strong></div>
        </td>
    </tr>
    <tr>
        <td>
            <div align="center">
                <strong>
                    <font size="3" face="vardana">
                    </font>
                </strong></div>
        </td>
    </tr>
</table>
<table width="100%" border="1" cellspacing="3" cellpadding="3">
    <tr>
        <td>
            <div align="center">
                <font size="5" face="Arial">
                    <strong>
                        {{(mainData?.MODE=='a')?'DOSSIER IMPORT AERIEN': 'DOSSIER IMPORT MARITIME'}}
                    </strong></font>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="1" cellspacing="1" cellpadding="3">
                <tr>
                    <td colspan="2">
                        <div align="center">
                            <strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">CONSOLE</font>
                            </strong></div>
                    </td>
                    <td width="15%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">NO DOSSIER</font>
                        </strong>
                    </td>
                    <td width="33%">
                        <font size="3" face="Verdana, Arial, Helvetica, sans-serif"><strong>
                                {{mainData?.CONSOLENO|| ''}}&nbsp;</strong></font>
                    </td>
                </tr>
                <ng-container *ngIf="mainData?.MODE=='a'">
                    <tr>
                        <td width="18%">
                            <strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    MAWB
                                </font>
                            </strong>
                        </td>
                        <td width="34%">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{mainData?.MAWBNO|| ''}}
                                &nbsp;</font>
                        </td>
                        <td>
                            <strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    AIRPORT DEP
                                </font>
                            </strong>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{mainData?.SENTFROM|| ''}}&nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    AIR LINE
                                </font>
                            </strong>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{mainData?.AIRLINE|| ''}}
                                &nbsp;</font>
                        </td>
                        <td>
                            <strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    AIRPORT ARR
                                </font>
                            </strong>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{mainData?.DESTINATION|| ''}}&nbsp;</font>
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="mainData?.MODE=='s'">
                    <tr>
                        <td width="18%">
                            <strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    N B/L
                                </font>
                            </strong>
                        </td>
                        <td width="34%">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">

                                &nbsp;</font>
                        </td>
                        <td>
                            <strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    POL
                                </font>
                            </strong>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{mainData?.SENTFROM|| ''}} &nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    SHIPPING LINE
                                </font>
                            </strong>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{mainData?.SHIPLINE|| ''}}
                                &nbsp;</font>
                        </td>
                        <td>
                            <strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    POD
                                </font>
                            </strong>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{mainData?.DESTINATION|| ''}} &nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">VESSEL</font>
                            </strong>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{mainData?.VESSEL|| ''}}</font>
                        </td>
                        <td>
                            <strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">CONTAINER # </font>
                            </strong>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{mainData?.CONTAINERNO|| ''}}</font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">MOTHER VESSEL</font>
                            </strong>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{mainData?.MOTHERVSL|| ''}}</font>
                        </td>
                        <td height="2" valign="top">
                            <b>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>
                                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">TRANSHIPMENT VESSEL</font>
                                    </strong>
                                </font>
                            </b>
                        </td>
                        <td height="2">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{mainData?.TRANSVSL|| ''}}
                            </font>
                        </td>
                    </tr>
                </ng-container>
                <tr>
                    <td>
                        <strong><b>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Freight</font>
                            </b></strong>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.FREIGHT|| ''}}&nbsp;</font>
                    </td>
                    <td height="2" valign="top">
                        <b>&nbsp;</b>
                    </td>
                    <td height="2">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><b>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Remark</font>
                            </b></strong>
                    </td>
                    <td colspan="3">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.REMARK|| ''}}&nbsp;</font>
                    </td>
                    
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div align="center">
                <font size="3" face="Arial"><strong>ARRIVEE</strong></font>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="1" cellspacing="1" cellpadding="3">
                <tr>
                    <td>
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">E.T.D.</font>
                        </strong>
                    </td>
                    <td width="24%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{(mainData?.MODE=='a')? mainData?.FLIGHTDAT : mainData?.ETD}}&nbsp;</font>
                    </td>
                    <td width="7%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">E.T.A.</font>
                        </strong>
                    </td>
                    <td width="12%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{(mainData?.MODE=='a')? mainData?.ETA : mainData?.ETA}}&nbsp;</font>
                    </td>
                    <td width="12%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Act.Arrival Date</font>
                        </strong>
                    </td>
                    <td colspan="3">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            &nbsp;</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">PKGS.</font>
                        </strong>
                    </td>
                    <td width="24%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.NOOFPKGS || ''}}&nbsp;</font>
                    </td>
                    <td width="7%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Grwt.</font>
                        </strong>
                    </td>
                    <td width="12%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.WEIGHT || ''}}&nbsp;</font>
                    </td>
                    <td>
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Volume</font>
                        </strong>
                    </td>
                    <td colspan="3">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.VOLUME || ''}}&nbsp;</font>
                    </td>
                </tr>
                <tr *ngIf="mainData?.MODE=='a'">
                    <td>
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">D/D</font>
                        </strong>
                    </td>
                    <td colspan="3">
                            <span class="col-form-span-label" [innerHTML]="mainData?.DOUANENO || ''"></span>
                        <!-- <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.DOUANENO || ''}}
                        </font> -->
                    </td>
                    <td>
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">M3</font>
                        </strong>
                    </td>
                    <td width="7%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.VOLUME || ''}}</font>
                    </td>
                    <td width="10%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Chbl.Wt.</font>
                        </strong>
                    </td>
                    <td width="7%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.CHBLWT}}</font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div align="center">
                <font size="3" face="Arial"><strong>CARGO MANIFEST</strong></font>
            </div>
        </td>
    </tr>
    <tr>
        <td height="59">
            <table width="100%" border="1" cellspacing="1" cellpadding="2">
                <tr>
                    <td width="8%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">JOB NO. </font>
                        </strong>
                    </td>
                    <td width="14%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{(mainData?.MODE=='a')?'HAWB NO.': 'HBL NO.'}}
                            </font>
                        </strong>
                    </td>
                    <td width="15%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">SHPR </font>
                        </strong>
                    </td>
                    <td width="15%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">CNEE</font>
                        </strong>
                    </td>
                    <td width="11%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">P/O</font>
                        </strong>
                    </td>
                    <td width="8%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">PCS </font>
                        </strong>
                    </td>
                    <td width="8%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">CTNS</font>
                        </strong>
                    </td>
                    <td width="8%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">GRWT</font>
                        </strong>
                    </td>
                    <td width="8%">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">VOL</font>
                        </strong>
                    </td>

                    <td width="8%" *ngIf="mainData?.MODE=='a'">
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">CHBL.WT</font>
                        </strong>
                    </td>
                </tr>
                <tr *ngFor="let obj of consoleList">
                    <td>
                         
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                <span class="col-form-span-label" [innerHtml]=  obj.JOBNO ></span>
                           &nbsp;</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{obj.HAWBNO}}&nbsp;{{(obj.FREIGHT =='')? ''  : '['+obj.FREIGHT+']'}}
                        </font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{obj.SHPR}}&nbsp;</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{obj.IMPR}}</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{obj.ORDERNO}}
                        </font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{obj.NOOFPCS}}</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{obj.NOOFPKG}}&nbsp;</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{obj.WEIGHT}}&nbsp;</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{obj.VOLUME}}
                        </font>
                    </td>
                    <td *ngIf="mainData?.MODE=='a'">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{obj.CHBLWT}}&nbsp;</font>
                    </td>
                </tr>
                <tr *ngIf="mainData?.MODE=='a'">
                    <td colspan="8">
                    </td>
                    <td>
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">TOTAL CHBLWT</font>
                        </strong>
                    </td>
                    <td>
                        <strong>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{mainData?.CHBLWT}}
                            </font>
                        </strong>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <ng-container *ngIf="mainData?.MODE=='s'">
        <tr>
            <td>
                <div align="center">
                    <font size="3" face="Arial"><strong>LIVRAISON</strong></font>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table width="66%" border="1" cellspacing="1" cellpadding="3">
                    <tr>
                        <td width="9%" rowspan="2">&nbsp;</td>
                        <td width="17%"><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    L.E</font>
                            </strong></td>
                        <td width="74%">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">CHEZ</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;</font>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </ng-container>
    <tr>
        <td>
            <div align="center">
                <font size="3" face="Arial"><strong>OBSERVATIONS</strong></font>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" height="180" border="1" cellpadding="3" cellspacing="1">
                <tr>
                    <td width="10%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Verification ETA 1</font>
                    </td>
                    <td width="20%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.V_ETA1 | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                    <td width="10%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">New ETA 1</font>
                    </td>
                    <td width="20%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.NEW_ETA1 | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                    <td width="10%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Orginal Doc. Handover</font>
                    </td>
                    <td width="20%">
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.ORG_DOC | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Verification ETA 2</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.V_ETA2 | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">New ETA 2</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.NEW_ETA2 | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">T1 Received</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.T1_RECVD | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Verification ETA3</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.V_ETA3 | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">New ETA 3</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.NEW_ETA3 | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">T1 Sent</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.T1_SENT | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Release Print</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.REL_PRINT | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Release Sent</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                              {{mainData?.REL_SENT | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Request RDV</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.REQ_RDV | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Confirm RDV</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.CONF_RDV | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Actual Delivery Dt.</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            </font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Cargo Arrival Notice</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.CAN_DT | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Pincode</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.PINCODE}}</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Order de Transport</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.ORD_DE_TRANS | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">DO/ Pincode sent to transporter</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.DO_PIN_TRANS | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Instruction Douane</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.DO_PIN_TRANS | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Copy des Document mail</font>
                    </td>
                    <td>
                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                            {{mainData?.COPY_DOC_MAIL | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                    </td>
                    <ng-container *ngIf="mainData?.MODE=='s'">
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Shipping Line invoice</font>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">  {{mainData?.SHPLINE_INVDT | date:'dd/MM/yyyy HH:mm:ss '}}
                            </font>
                        </td>
                    </ng-container>
                </tr>
                <ng-container *ngIf="mainData?.MODE=='s'">
                    <tr>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Payment of Shipping Line
                                invoice</font>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> {{mainData?.PAYMT_SHPLINE_INVDT | date:'dd/MM/yyyy HH:mm:ss '}}
                            </font>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="50%" height="21">
                                    <table width="50%" border="1" cellspacing="1" cellpadding="2">
                                        <tr>
                                            <td colspan="2">
                                                <strong>
                                                    <font size="2" face="Verdana, Arial, Helvetica, sans-serif">WEB</font>
                                                </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="38%">
                                                <strong>
                                                    <font size="2" face="Verdana, Arial, Helvetica, sans-serif">ARV</font>
                                                </strong>
                                            </td>
                                            <td width="62%">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>
                                                    <font size="2" face="Verdana, Arial, Helvetica, sans-serif">DLV</font>
                                                </strong>
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="50%" align="right">
                                    <div aligh="right">

                                        <table width="50%" border="1" align="right" cellpadding="2" cellspacing="1">
                                            <tr>
                                                <td colspan="2">
                                                    <div align="center">
                                                        <strong>
                                                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                                                {{(mainData?.MODE=='s')?'Exchange Rate': 'TAUX'}}
                                                            </font>
                                                        </strong></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="38%">
                                                    <div align="center">
                                                        <strong>
                                                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                                                {{(mainData?.MODE=='s')?'Buy': 'A'}}
                                                            </font>
                                                        </strong>
                                                    </div>
                                                </td>
                                                <td width="62%">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div align="center">
                                                        <strong>
                                                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                                                {{(mainData?.MODE=='s')?'Sell': 'V'}}
                                                            </font>
                                                        </strong>
                                                    </div>
                                                </td>
                                                <td>
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>