<table width="100%" border="0" align="center" cellpadding="2" cellspacing="2">
        <tr>
            <td>
                <div align="center"><strong>
                        <font size="5" face="verdana"><u>M P CARGO FRANCE</u></font>
                    </strong></div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="center"><strong>
                        <font size="3" face="vardana">LILLE LESQUIN</font>
                    </strong></div>
            </td>
        </tr>
    </table>
    <table width="100%" border="1" cellspacing="3" cellpadding="3">
        <tr>
            <td>
                <div align="center">
                    <font size="5" face="Arial"><strong>DOSSIER IMPORT&nbsp;{{(displayTblOne?.MODE=='a')? 'AERIEN' :
                            'MARITIME'}}
                        </strong></font>
                </div>
            </td>
        </tr>
        <tr>
            <td height="93">
                <table width="100%" border="1" cellspacing="1" cellpadding="3">
                    <tr>
                        <td width="15%"><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">INCOTERM</font>
                            </strong></td>
                        <td width="39%">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.INCOTERM}}&nbsp;</font>
                        </td>
                        <td width="14%"><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">N
                                    DOSSIER</font>
                            </strong></td>
                        <td width="32%">
                            <font size="3" face="Verdana, Arial, Helvetica, sans-serif"><strong>{{displayTblTwo?.JOBNO}}&nbsp;</strong></font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">SHIPPER</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.SHPR}}&nbsp;</font>
                        </td>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">AGENT</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.AGT_NAME}}&nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">CONSIGNEE</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.IMPR}}&nbsp;</font>
                        </td>
                        <td height="2" valign="top"><b>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Freight
                                </font>
                            </b></td>
                        <td height="2">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    <strong>{{displayTblTwo?.FREIGHT}} </strong></font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">CONSIGNEE REMARK</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.JOB_CONREMARK}}&nbsp;</font>
                        </td>
                        <td height="2" valign="top"><b>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">MP INTERNAL REMARK
                                </font>
                            </b></td>
                        <td height="2">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    <strong>{{displayTblTwo?.JOB_MPINTERNALREMARK}} </strong></font>
                        </td>
                    </tr>
                    <ng-container *ngIf="displayTblTwo?.ISDDX==1">
                        <tr>
                            <td><strong><b>
                                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Shipment Type </font>
                                    </b></strong></td>
                            <td>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">DDX&nbsp;</font>
                            </td>
                            <td><strong><b>
                                        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">DDX Dest. w/h</font>
                                    </b></strong></td>
                            <td>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.ADD_DDX}}&nbsp;</font>
                            </td>
                        </tr>
                    </ng-container>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div align="center">
                    <font size="3" face="Arial"><strong>ARRIVEE</strong></font>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="1" cellspacing="1" cellpadding="3">
                    <tr>
                        <td width="6%" rowspan="9">&nbsp;</td>
                        <td width="11%"><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{(displayTblOne?.MODE=='a')?
                                    'MAWB' : 'N B/L'}}</font>
                            </strong></td>
                        <td width="37%">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{(displayTblOne?.MODE=='a')?
                                displayTblTwo?.MAWBNO : displayTblTwo?.MBLNO}}&nbsp;</font>
                        </td>
                        <td width="14%"><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{(displayTblOne?.MODE=='a')?
                                    'HAWB' : 'N HBL'}}</font>
                            </strong></td>
                        <td width="32%">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.HAWBNO}}&nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">P.O.L.</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>{{displayTblTwo?.POL}}&nbsp;</strong></font>
                        </td>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">NB
                                    COLIS</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.NOOFPKG}}&nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">E.T.D.</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.ETD}}&nbsp;</font>
                        </td>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">POIDS</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.WEIGHT}}&nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">CIE</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.CIE}}&nbsp;</font>
                        </td>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">VOL</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.VOLUME}}&nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">E.T.A.</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.ETA}}&nbsp;</font>
                        </td>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">NATURE</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">P.O.D.</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>{{displayTblTwo?.POD}}&nbsp;</strong></font>
                        </td>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">REF</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    <span class="col-form-span-label " [innerHtml]="displayTblTwo?.ORDERNO" > </span>
                                
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{(displayTblOne?.MODE=='a')?
                                    'D/D' : 'FCL'}}</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    <span class="col-form-span-label " [innerHtml]="displayTblTwo?.CONTAINERNO" > </span> </font>
                        </td>
                        <td rowspan="2"><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">AUTRES</font>
                            </strong></td>
                        <td rowspan="2">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{(displayTblOne?.MODE=='a')?
                                    'VOL' : 'NAVIRE'}}</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.VOL}}</font>
                        </td>
                    </tr>
                    <ng-container *ngIf="displayTblOne?.MODE=='s'">
                        <tr>
                            <td><strong>
                                    <font size="2" face="Verdana, Arial, Helvetica, sans-serif">MOTHER
                                        VESSEL </font>
                                </strong></td>
                            <td>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.MOTH_VESSEL||''}}</font>&nbsp;
                            </td>
                            <td><strong>
                                    <font size="2" face="Verdana, Arial, Helvetica, sans-serif">TRANS.
                                        VESSEL </font>
                                </strong></td>
                            <td>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.TRANS_VESSEL||''}}</font>&nbsp;
                            </td>
                        </tr>
                    </ng-container>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div align="center">
                    <font size="3" face="Arial"><strong>LIVRAISON</strong></font>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table width="66%" border="1" cellspacing="1" cellpadding="3">
                    <tr>
                        <td width="9%" rowspan="2">&nbsp;</td>
                        <td width="17%"><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    L.E</font>
                            </strong></td>
                        <td width="74%">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;</font>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>
                                <font size="2" face="Verdana, Arial, Helvetica, sans-serif">CHEZ</font>
                            </strong></td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;</font>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div align="center">
                    <font size="3" face="Arial"><strong>OBSERVATIONS</strong></font>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" height="180" border="1" cellpadding="3" cellspacing="1">
                    <tr>
                        <td width="10%">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Instruction Douane</font>
                        </td>
                        <td width="20%">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    <span>{{displayTblTwo?.INSTR_DOUANE | date:'dd/MM/yyyy HH:mm:ss '}}</span></font>
                        </td>
                        <td width="10%">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">T1 Recved</font>
                        </td>
                        <td width="20%">
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    <span>{{displayTblTwo?.T1_RECVD | date:'dd/MM/yyyy HH:mm:ss '}}</span>
                            </font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">T1 Sent</font>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    <span>{{displayTblTwo?.T1_SENT | date:'dd/MM/yyyy HH:mm:ss '}}</span><br>
                            </font>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Order de Transport</font>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    <span>{{displayTblTwo?.ORD_DE_TRANS | date:'dd/MM/yyyy HH:mm:ss '}}</span></font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Request RDV</font>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                    <span>{{displayTblTwo?.REQ_RDV | date:'dd/MM/yyyy HH:mm:ss '}}</span></font>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Confirm RDV</font>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{displayTblTwo?.CONF_RDV | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Actual Delivery Dt.</font>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{displayTblTwo?.ATD}}</font>
                        </td>
    
                    </tr>
                    <tr>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Copy of documents by mail </font>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">
                                {{displayTblTwo?.COPY_DOC_MAIL | date:'dd/MM/yyyy HH:mm:ss '}}</font>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Shipping Line invoice</font>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.SHPLINE_INVDT | date:'dd/MM/yyyy HH:mm:ss '}}
                            </font>
                        </td>
    
                    </tr>
                    <tr>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Payment of Shipping Line
                                invoice</font>
                        </td>
                        <td>
                            <font size="2" face="Verdana, Arial, Helvetica, sans-serif">{{displayTblTwo?.PAYMT_SHPLINE_INVDT | date:'dd/MM/yyyy HH:mm:ss '}}
                            </font>
                        </td>
    
                    </tr>
                </table>
            </td>
        </tr>
    </table>