<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>{{Header}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <table class="table table-sm-new bgwhite">
                <tr class="trbg">
                    <td colspan="4">
                        <span class="col-form-span-label"><b>AIRLINE DETAILS</b></span>
                    </td>
                </tr>
                <tr>
                    <td class="width100">
                        <span class="col-form-span-label">Airline Code
                            <span class="col-form-span-error">*</span>
                        </span>
                    </td>
                    <td class="width50">
                        <input type="text" [(ngModel)]="AirlineCodeI" class="form-control " [maxlength]="3"
                            [OnlyNumber]="true" />
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="AirlineCodeII" class="form-control width70" [maxlength]="4"/>
                    </td>
                    <td>
                        <span class="col-form-span-error" *ngIf="ErrorType=='1'">Please Enter first input</span>
                        <span class="col-form-span-error" *ngIf="ErrorType=='1.1'">First input must be 3 characters in numeric</span>
                        <span class="col-form-span-error" *ngIf="ErrorType=='2'">Please Enter second input</span>
                        <span class="col-form-span-error" *ngIf="ErrorType=='2.1'">Second input must be 4 characters in numeric</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="col-form-span-label">Airline Name
                            <span class="col-form-span-error">*</span>
                        </span>
                    </td>
                    <td colspan="3">
                        <input type="text" [(ngModel)]="AirlineName" class="form-control" [maxlength]="100" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">
                        <span class="col-form-span-error" *ngIf="ErrorType=='3'">Please enter AirLine Name.</span>
                    </td>
                </tr>
                <tr class="trbg centerlabel">
                    <td colspan="4">
                        <button type="button" name="submitButton" class="btn btn-sm btn-primary" (click)="submit();">
                            <span class="col-form-span-label">
                                <i class="{{(Id=='0')? 'fa fa-save' : 'fa fa-refresh'}}"></i> {{ (Id=='0')? 'Save' :
                                'Update'}}</span>
                        </button>&nbsp;
                        <button type="button" name="cancelButton" class="btn btn-sm btn-danger" (click)="cancel();">
                            <span class="col-form-span-label">
                                <i class="fa fa-times-circle"></i> Cancel</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>