<app-print-document-annexure-search (result)="getSearchType($event)" *ngIf="viewType===999"></app-print-document-annexure-search>
<app-print-document-annexure-edit-menu [exptno]="exptno" (result)="getSearchType($event)" *ngIf="viewType===998"></app-print-document-annexure-edit-menu>
<app-print-document-annexure-edit [exptno]="exptno" (result)="getEditType($event)" *ngIf="viewType===1"></app-print-document-annexure-edit>
<app-print-document-annexure-item-detail [exptno]="exptno" (result)="getEditType($event)" *ngIf="viewType===2"></app-print-document-annexure-item-detail>
<app-print-document-annexure-drawback [exptno]="exptno" (result)="getEditType($event)" *ngIf="viewType===3"></app-print-document-annexure-drawback>
<app-print-document-annexure-deec-epcg [exptno]="exptno" (result)="getEditType($event)" *ngIf="viewType===4"></app-print-document-annexure-deec-epcg>
<app-print-document-annexure-dfrc [exptno]="exptno" (result)="getEditType($event)" *ngIf="viewType===5"></app-print-document-annexure-dfrc>