<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header formheading">
                <strong>30.	 DEEC/EPCG Licenses Particulars</strong>
                <button type="button" name="searchButton" [ngStyle]="{'float': 'right', 'margin-top': '0px'}" class="btn btn-sm btn-danger"
                    (click)="backToEdit();">
                    <span class="col-form-span-label">
                        <i class="fa fa-arrow-circle-left"></i>&nbsp;Back To Edit/Print Menu</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-sm-new bgwhite" align="center">
            <tr style="background-color:#dceaf7;text-align: center;">
                <td rowspan="2" width="7%">
                    <span class="col-form-span-label">
                        <b>Invoice Serial Number</b>
                    </span>
                </td>
                <td rowspan="2" width="10%">
                    <span class="col-form-span-label">
                        <b>Item Serial Number</b>
                    </span>
                </td>
                <td colspan="6">
                    <span class="col-form-span-label">
                        <b>DEEC/EPCG Licenses Particulars</b>
                    </span>
                </td>
            </tr>
            <tr style="background-color:#dceaf7;text-align: center;">
                <td width="17%">
                    <span class="col-form-span-label">
                        <b>Registration Number</b>
                    </span>
                </td>
                <td width="20%">
                    <span class="col-form-span-label">
                        <b>Serial Number in Part<br />(E)</b>
                    </span>
                </td>
                <td width="20%">
                    <span class="col-form-span-label">
                        <b>Serial Number in Part<br />(C)</b>
                    </span>
                </td>
                <td width="20%">
                    <span class="col-form-span-label">
                        <b>Quantity</b>
                    </span>
                </td>
                <td width="30%">
                    <span class="col-form-span-label">
                        <b>Accouting Unit</b>
                    </span>
                </td>
                <td width="30%">
                    <span class="col-form-span-label">
                        <b>Whether<br />Indigenous/Imported</b>
                    </span>
                </td>
            </tr>
            <tr class="formheading">
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>1</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>2</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>3</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>4</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>5</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>6</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>7</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>8</b>
                    </span>
                </td>
            </tr>
            <tr *ngFor="let obj of dtDeecEpcg; let i= index">
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.SRNO" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.ITEMNO" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.REGNO" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.SRNOE" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.SRNOC" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.QTY" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.UNIT" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.INDI" class="form-control">
                </td>
            </tr>
            <tr class="formheading">
                <td class="right-text" colspan="8">
                    <button type="button" class="btn btn-sm btn-warning" (click)="addRow()">
                        <span class="col-form-span-label">
                            <i class="fa fa-plus"></i>&nbsp;Add More Row</span>
                    </button>
                </td>
            </tr>
            <tr class="formheading">
                <td class="centerlabel" colspan="8">
                    <button type="button" class="btn btn-sm btn-success" (click)="saveDrawbackDetails()">
                        <span class="col-form-span-label">
                            <i class="fa fa-plus"></i>&nbsp;Save Item Details</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>