<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header formheading">
                <strong>29. Drawback Particulars</strong>
                <button type="button" name="searchButton" [ngStyle]="{'float': 'right', 'margin-top': '0px'}" class="btn btn-sm btn-danger"
                    (click)="backToEdit();">
                    <span class="col-form-span-label">
                        <i class="fa fa-arrow-circle-left"></i>&nbsp;Back To Edit/Print Menu</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-sm-new bgwhite" align="center">
            <tr style="background-color:#dceaf7;text-align: center;">
                <td rowspan="3">
                    <span class="col-form-span-label">
                        <b>Invoice Serial Number</b>
                    </span>
                </td>
                <td rowspan="3">
                    <span class="col-form-span-label">
                        <b>Item Serial Number</b>
                    </span>
                </td>
                <td colspan="4">
                    <span class="col-form-span-label">
                        <b>Duty Drawback Details</b>
                    </span>
                </td>
            </tr>
            <tr style="background-color:#dceaf7;text-align: center;">
                <td width="14%" rowspan="2">
                    <span class="col-form-span-label">
                        <b>DBK Serial Number</b>
                    </span>
                </td>
                <td width="9%" rowspan="2">
                    <span class="col-form-span-label">
                        <b>Quantity</b>
                    </span>
                </td>
                <td colspan="2">
                    <span class="col-form-span-label">
                        <b>Raw Material Details</b>
                    </span>
                </td>
            </tr>
            <tr style="background-color:#dceaf7;text-align: center;">
                <td>
                    <span class="col-form-span-label">
                        <b>Raw Material Serial Number</b>
                    </span>
                </td>
                <td>
                    <span class="col-form-span-label">
                        <b>Raw Material Quantity</b>
                    </span>
                </td>
            </tr>
            <tr class="formheading">
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>1</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>2</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>3</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>4</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>5</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>6</b>
                    </span>
                </td>
            </tr>
            <tr *ngFor="let obj of dtDrawback; let i= index">
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.INVSRNO" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.ITEMSRNO" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.DBKSRNO" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.QTY" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.RMSRNO" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.RSQTY" class="form-control">
                </td>
            </tr>
            <tr class="formheading">
                <td class="right-text" colspan="6">
                    <button type="button" class="btn btn-sm btn-warning" (click)="addRow()">
                        <span class="col-form-span-label">
                            <i class="fa fa-plus"></i>&nbsp;Add More Row</span>
                    </button>
                </td>
            </tr>
            <tr class="formheading">
                <td class="centerlabel" colspan="6">
                    <button type="button" class="btn btn-sm btn-success" (click)="saveDrawbackDetails()">
                        <span class="col-form-span-label">
                            <i class="fa fa-plus"></i>&nbsp;Save Item Details</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>