<div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>Annexure</strong>
                    <button type="button" name="searchButton" [ngStyle]="{'float': 'right', 'margin-top': '0px'}" class="btn btn-sm btn-danger"
                        (click)="backButton();">
                        <span class="col-form-span-label">
                            <i class="fa fa-arrow-circle-left"></i>&nbsp;Back To Search</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <table class="table table-bordered table-sm-new">
                <tbody class="bgwhite">
                    <tr class="title-head formheading">
                        <td colspan="2" [ngStyle]="{'text-align': 'right'}">
                            &nbsp;
                        </td>
                    </tr>
                    <tr *ngFor="let obj of EditMenuList; let i = index;">
                        <td>
                            <span class="col-form-span-label" *ngIf="obj.id==1||obj.id==8">
                                <b>{{obj.type}}</b>
                            </span>
                        </td>
                        <td>
                            <span class="col-form-span-label" [ngStyle]="{'text-decoration': 'underline','color': 'blue','cursor': 'pointer'}" (click)="redirectTo(obj.id, obj.type)">
                                {{obj.name}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
        </div>
    </div>