<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header formheading">
                <strong>28. Item Wise Details (To be provided for each invoice separately</strong>
                <button type="button" name="searchButton" [ngStyle]="{'float': 'right', 'margin-top': '0px'}" class="btn btn-sm btn-danger"
                    (click)="backToEdit();">
                    <span class="col-form-span-label">
                        <i class="fa fa-arrow-circle-left"></i>&nbsp;Back To Edit/Print Menu</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-sm-new bgwhite" align="center">
            <tr style="background-color:#dceaf7;text-align: center;">
                <td width="5%">
                    <span class="col-form-span-label">
                        <b>Item Sr.No.</b>
                    </span>
                </td>
                <td width="6%">
                    <span class="col-form-span-label">
                        <b>RITC Code</b>
                    </span>
                </td>
                <td width="15%">
                    <span class="col-form-span-label">
                        <b>Description
                            <br/>of Goods</b>
                    </span>
                </td>
                <td width="9%">
                    <span class="col-form-span-label">
                        <b>Accessories
                            <br/>if any</b>
                    </span>
                </td>
                <td width="6%">
                    <span class="col-form-span-label">
                        <b>Quantity</b>
                    </span>
                </td>
                <td width="8%">
                    <span class="col-form-span-label">
                        <b>Accounting
                            <br/>Unit</b>
                    </span>
                </td>
                <td width="6%">
                    <span class="col-form-span-label">
                        <b>Item Rate</b>
                    </span>
                </td>
                <td width="6%">
                    <span class="col-form-span-label">
                        <b>No.of
                            <br/>Units</b>
                    </span>
                </td>
                <td width="9%">
                    <span class="col-form-span-label">
                        <b>Accounting
                            <br/>Unit
                            <br/>For Rate</b>
                    </span>
                </td>
                <td width="6%">
                    <span class="col-form-span-label">
                        <b>Present Market Value</b>
                    </span>
                </td>
                <td width="6%">
                    <span class="col-form-span-label">
                        <b>Scheme Code</b>
                    </span>
                </td>
                <td width="7%">
                    <span class="col-form-span-label">
                        <b>Category if
                            <br/>NFEI Exports</b>
                    </span>
                </td>
                <td width="17%">
                    <span class="col-form-span-label">
                        <b>Whether
                            <br/>Third
                            <br/>Party
                            <br/>Export (Y/N)</b>
                    </span>
                </td>
            </tr>
            <tr class="formheading">
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>1</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>2</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>3</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>4</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>5</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>6</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>7</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>8</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>9</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>10</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>11</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>12</b>
                    </span>
                </td>
                <td class="centerlabel">
                    <span class="col-form-span-label">
                        <b>13</b>
                    </span>
                </td>
            </tr>
            <tr *ngFor="let obj of dtItemDetail; let i= index">
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.SRNO" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.RITCNO" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.IDESC" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.ACCRY" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.QTY" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.ACUNIT" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.ITEM" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.NOOFUNIT" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.UNITRATE" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.MKTVALUE" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.SCHEME" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.NFEI" class="form-control">
                </td>
                <td class="centerlabel">
                    <input type="text" [(ngModel)]="obj.THIRDPARTY" class="form-control">
                </td>
            </tr>
            <tr class="formheading">
                <td class="right-text" colspan="13">
                    <button type="button" class="btn btn-sm btn-warning" (click)="addRow()">
                        <span class="col-form-span-label">
                            <i class="fa fa-plus"></i>&nbsp;Add More Row</span>
                    </button>
                </td>
            </tr>
            <tr class="formheading">
                <td class="centerlabel" colspan="13">
                    <button type="button" class="btn btn-sm btn-success" (click)="saveItemDetails()">
                        <span class="col-form-span-label">
                            <i class="fa fa-plus"></i>&nbsp;Save Item Details</span>
                    </button>
                </td>
            </tr>
        </table>
        <br/>
        <br/>
        <br/>
        <span class="col-form-span-label">
            Note:
        </span><br/>
        <span class="col-form-span-label">
            Whether third part export : Need to be provided for Scheme Codes involving DBK and DEPB only. For the scheme
        </span><br/>
        <span class="col-form-span-label">
            code involving DEEC, EPCG etc system would determine the third party export automatically.
        </span>
    </div>
</div>