<div class="animated fadeIn">
    <div class="row">
        <!--<div class="col-sm-3">
        </div>
        <div class="col-sm-6">
        </div>
        <div class="col-sm-3">
        </div>-->
		<div class="selectormodule open">
			<ul>
				<li *ngFor="let obj of moduleData" [ngStyle]="obj.listyle">
					<label for="{{ 'c'+ obj.id}}"  [ngStyle]="obj.labelstyle" (click)="modules(obj.moduleid, obj.url)">
						<i class="{{obj.icon}}"></i><br />
						<b><u>{{obj.name}}</u></b>
					</label>
				</li>
			</ul>
			<button>MODULES</button>
		</div>
    </div>
</div>