<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>{{' update password'| uppercase}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <div class="card-header formheading">
                    <strong>{{' Please fill the following details to change Password.'}}</strong>
            </div>
            <table class="table table-bordered table-sm-new bgwhite">
                <tr>
                    <td>
                        <span class="col-form-span-label ">Current Password</span>
                    </td>
                    <td>                            
                        <input [(ngModel)]="crpwd" type="password"  maxlength="15" placeholder="Current Password" class="form-control width150"> 
                        <span class="col-form-span-label " style="color:red">{{'(For Temporary Password: Please enter the password which is received thru Email.)'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="col-form-span-label ">Change Password</span>
                    </td>
                    <td>
                        <input [(ngModel)]="chpwd" type="password"  maxlength="10" placeholder="New Password"  class="form-control width150" (keydown)="onKeydown($event.target.value)" required pattern="a-zA-Z0–9" >
                        <!-- <span class="col-form-span-label " style="color:red">{{'Password length should not be less than eight characters and should be a combination of alphabets and numbers.'}}</span> -->
                        <!-- <div class="col-sm-6"> -->
                            <span id="8char" class="col-form-span-label"> <i class="fa fa-check"  style="color:#FF0004;" ></i>&nbsp; 8 Characters Long</span>  &nbsp;  
                            <span id="ucase" class="col-form-span-label"> <i class="fa fa-check"  style="color:#FF0004;" ></i>&nbsp;  1 Uppercase Letter </span><br>
                        
                                <span id="lcase" class="col-form-span-label"> <i class="fa fa-check"  style="color:#FF0004;" ></i>&nbsp;1 Lowercase Letter</span>  &nbsp; 
                                <span id="1num" class="col-form-span-label"> <i class="fa fa-check"  style="color:#FF0004;" ></i>&nbsp;1 Number </span>
                            <!-- </div> -->
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="col-form-span-label ">Confirm New Password</span>
                    </td>
                    <td>
                        <input [(ngModel)]="nwpwd" type="password"  maxlength="10" placeholder="Repeat Password"     class="form-control width150">
                        <span id="1match" class="col-form-span-label"> <i class="fa fa-check"  style="color:#FF0004;" ></i>&nbsp;Password Match </span>
                    </td>
                </tr>
                <tr>
                        <td>
                            <span class="col-form-span-label ">Show Characters</span>
                        </td>
                        <td>
                            <input [(ngModel)]="chkchg" type="checkbox"   maxlength="10"  class="form-control width150">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="centerlabel">
                            <button class="btn btn-sm btn-success"  type="submit"  (click)="onSubmit()" ><span class="col-form-span-label"><i class="fa fa-dot-circle-o" ></i>&nbsp; Submit</span> </button>
                        </td>	
                    </tr>
            </table>
            <table class="table table-bordered table-sm-new bgwhite">
                <tr>
                    <td>
                        <span class="col-form-span-label " style="color:red"><b>Password Protection Tips</b>
                            <li> As a user, you should never share your password with ANYONE. It is used to track who had access and made changes to specific information. You are responsible for everything done on the system using your ID and password.</li>
                            <li> Do NOT share your password with a delegate to work on your behalf while you are on vacation.</li>
                            <li> Do NOT ever state your password verbally to someone who is helping you log in to an application.</li>
                            <li> Do NOT share your password with anyone over the telephone, email or any other form of communication.</li>
                        </span>
                    </td>
                </tr>

            </table>
        </div>
        <div class="col-sm-3">
        </div>
        </div>