<div class="animated fadeIn">
    <div class="row no-gutters">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <div class="row no-gutters">
                        <div class="col-sm-12">
                            <strong>{{Header|uppercase}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12 pl-2 pr-2" >
            <table class="table table-bordered table-sm-new bgwhite table-hover"  >
                <thead>             
                  <tr class="col-form-span-heading" style="white-space:nowrap;">
                    <th class="col-form-span-label">Frt.Inv No</th>
                    <th class="col-form-span-label">Frt.Inv Dt</th>
                    <th class="col-form-span-label">Profit Share No</th>
                    <th class="col-form-span-label">Profit Share Dt</th>
                    <th class="col-form-span-label">Frt.Pur No</th>
                    <th class="col-form-span-label">Profit Share Pur No</th>
                    <th class="col-form-span-label">Pur Dt</th>
                    <th class="col-form-span-label">Exch. Rate	</th>
                    <th class="col-form-span-label">Console No</th>
                    <th class="col-form-span-label">MAWB No</th>
                    <th class="col-form-span-label">MAWB Dt</th>
                    <th class="col-form-span-label">Created By</th>
                    <th class="col-form-span-label">Created On</th>
                  </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let data of tablehistry" >
                        <td class="col-form-span-label anchor-link" (click)="InvoicePrint(data.IND_INV_NO)"><span>{{data.IND_INV_NO}}</span></td>
                        <td class="col-form-span-label"><span>{{data.INV_DATE}}</span></td>
                        <td class="col-form-span-label anchor-link" (click)="CreditNotePrint(data.IND_CN_NO)"><span>{{data.IND_CN_NO}}</span></td>
                        <td class="col-form-span-label"><span>{{data.CN_DATE}}</span></td>
                        <td class="col-form-span-label anchor-link" (click)="PurchasePrint(data.CONS_PURCODE)"><span>{{data.CONS_PURCODE}}</span></td>
                        <td class="col-form-span-label anchor-link" (click)="PurchasePrint(data.CN_CONS_PURCODE)"><span>{{data.CN_CONS_PURCODE}}</span></td>
                        <td class="col-form-span-label" ><span>{{data.CONS_PURDT}}</span></td>
                        <td class="col-form-span-label" ><span>{{data.EXCH_RATE}}</span></td>
                        <td class="col-form-span-label"><span>{{data.CONSOLENO}}</span></td>
                        <td class="col-form-span-label" ><span>{{data.MAWBNO}}</span></td>
                        <td class="col-form-span-label" ><span>{{data.MAWBDT}}</span></td>
                        <td class="col-form-span-label"><span>{{data.FULLNAME}}</span></td>
                        <td class="col-form-span-label"  ><span>{{data.CREATEDON}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 
