<div class="animated fadeIn">
    <div class="row no-gutters">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <div class="row no-gutters">
                        <div class="col-sm-12">
                            <strong>{{Header|uppercase}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12 pl-2 pr-2" >
            <table class="table table-bordered table-sm-new bgwhite table-hover"  >
                <thead>             
                  <tr class="col-form-span-heading" >
                    <th class="col-form-span-label">View</th>
                    <th class="col-form-span-label">Invoice Date</th>
                    <th class="col-form-span-label">EURO 1=INR</th>
                    <th class="col-form-span-label">MAWB No.</th>
                    <th class="col-form-span-label">MAWB DT</th>
                    <th class="col-form-span-label">PLAN FLT DT</th>
                    <th class="col-form-span-label">MAWB FRT</th>
                    <th class="col-form-span-label">MAWB GW</th>
                    <th class="col-form-span-label">MAWB  CW</th>
                    <th class="col-form-span-label">MAWB RATE</th>
                    <th class="col-form-span-label">HAWB No.</th>
                    <th class="col-form-span-label">CW GW</th>
                    <th class="col-form-span-label">HAWB RATE</th>
                    <th class="col-form-span-label">Console No.</th>              
                  </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let data of tabledata0" >
                        <td class="col-form-span-label">
                            <button class="btn btn-sm btn-primary" type="submit" (click)="viewdetail(data.ID,data.MAWBNO)">
                                <span class="col-form-span-label"><i class="fa fa-search"></i> View</span>
                               </button> 
                        </td>
                        <td class="col-form-span-label"><span>{{data.INV_DATE}}</span></td>
                        <td class="col-form-span-label"><span>{{data.EXCH_RATE}}</span></td>
                        <td class="col-form-span-label"><span>{{data.MAWBNO}}</span></td>
                        <td class="col-form-span-label"><span>{{data.MAWBDT}}</span></td>
                        <td class="col-form-span-label"><span>{{data.PLAN_FLIGHTDT}}</span></td>
                        <td class="col-form-span-label" [innerHtml]="data.MAWB_FRT"></td>
                        <td class="col-form-span-label" [innerHtml]="data.MAWB_GW"></td>
                        <td class="col-form-span-label" [innerHtml]="data.MAWB_CW"></td>
                        <td class="col-form-span-label" [innerHtml]="data.MAWB_RATE"></td>
                        <td class="col-form-span-label" [innerHtml]="data.HAWBNO" ></td>
                        <td class="col-form-span-label" [innerHtml]="data.HAWB_CW_GW"></td>
                        <td class="col-form-span-label"    [innerHtml]="data.HAWB_RATE" ></td>
                        <td class="col-form-span-label"><span>{{data.CONSOLENO}}</span></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 
