<div class="printmain" style="background-color:white ;">
  <div id="demo">
    <table bordercolor="black" height="764" cellspacing="0" cellpadding="2" width="100%" border="0">
      <tbody>
        <tr>
          <td valign="top">

          </td>
          <td valign="top">
            <table id="Table2" style="border-right: black 1px solid; border-top: black 1px solid;
                  left: 0px; border-left: black 1px solid; border-bottom: black 1px solid;margin:0 auto"
                  cellspacing="0" cellpadding="0" width="700" border="0">
              <tbody>
                <tr style="background-color: aquamarine;">
                  <td>
                    <tr width="700">
                      <td>
                        <span>
                          <img src={{CMP_IMAGE}} width="700"> </span>
                      </td>
                    </tr>
                   </td>
                 </tr>
                 <tr>
                    <td style="border-bottom: black 1px solid">
                    </td>
                 </tr>
                 <tr>
                <td style="border-bottom: black 1px solid">
                  <table id="Table3" cellspacing="0" cellpadding="0" width="100%" border="0">
                    <tbody>
                      <tr>

                        <td style="border-bottom: black 1px solid" align="center" width="33%" colspan="4">
                          <span id="lblGSTNodata" class="Rpt_CodeDate" style="font-family:Arial;font-weight:bold;">GSTIN -
                            {{GSTNO}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td width="33%">&nbsp;&nbsp;<span id="lblInvoiceNo" class="Rpt_CodeDate" style="font-weight:bold;">No.
                            {{datatable1[0].QUT_CODE}}</span>
                        </td>
                        <td align="center" width="33%">
                          <span id="Label2" style="font-family:Arial;font-size:16pt;font-weight:bold;">QUOTATION</span>
                        </td>
                        <td align="right">
                          <span id="lblInvoiceDt" class="Rpt_CodeDate" style="font-weight:bold;">DATE :
                            {{datatable1[0].QUOTDT}}</span>&nbsp;
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                 </tr>
                 <tr>
                <td style="border-bottom: black 1px solid">
                  <table id="Table4" cellspacing="0" cellpadding="1" width="100%" border="0">
                    <tbody>
                      <!-- <tr>
                                    <td valign="top" width="1%" class="Rpt_CodeDate" style="font-weight:bold;" colspan="2">To The,</td>
                                  </tr> -->
                      <tr>
                        <td valign="top" width="1%"></td>
                        <td style="border-right: black 1px solid" valign="top" width="49%">
                          <table id="tbl_exp_mst" class="Rpt_Label_content" cellspacing="0" cellpadding="2" width="100%"
                            border="0">
                          </table>

                          <span id="lblExpName" class="Rpt_Label" style="display:inline-block;width:100%;">To The, <br><br>
                            {{datatable1[0].EXPNAME}}.</span>
                          <span id="lblExpAdd" class="Rpt_Label_content" style="display:inline-block;width:100%;"></span>
                        </td>
                        <td>
                          <table id="Table6" cellspacing="0" cellpadding="2" width="100%" border="0">
                            <tbody>

                              <tr>
                                <td align="right" width="40%">
                                  <span id="Label9" class="Rpt_Label"> POL - POD :</span>
                                </td>
                                <td width="60%">
                                  <span id="lbl_carrier" class="Rpt_Label_content"
                                    style="display:inline-block;width:100%;">{{datatable1[0].POL}} -
                                    {{datatable1[0].POD}}</span>
                                </td>
                              </tr>
                              <tr>
                                <td align="right" width="40%" colspan="1" rowspan="1">
                                  <span id="Label10" class="Rpt_Label"> Shipment Type :</span>
                                </td>
                                <td width="60%">
                                  <span id="lblHBLno" class="Rpt_Label_content"
                                    style="display:inline-block;width:100%;">{{datatable1[0].SHIPTYPE}}</span>
                                </td>
                              </tr>
                              <tr>
                                <td align="right" width="40%" colspan="1" rowspan="1">
                                  <span id="Label10" class="Rpt_Label"> Shipment Mode :</span>
                                </td>
                                <td width="60%">
                                  <span id="lblHBLno" class="Rpt_Label_content"
                                    style="display:inline-block;width:100%;">{{datatable1[0].SHIPMODE}}</span>
                                </td>
                              </tr>
                              <tr>
                                <td align="right" width="40%">
                                  <span id="Label11" class="Rpt_Label"> VALID DATE :</span>
                                </td>
                                <td width="60%">
                                 <b><span id="lblHBLDt" class="Rpt_Label_content" designtimedragdrop="3266"
                                    style="display:inline-block;width:100%;">{{datatable1[0].QUOTVALIDDT}}</span></b> 
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                 </tr>
                 <!-- <tr>
                <td style="border-bottom: black 1px solid">
                  <table id="Table7" cellspacing="1" cellpadding="1" width="100%" border="0">
                    <tbody>
                      <tr>
                        <td align="right" width="22%">

                        </td>
                        <td width="30%" colspan="3">

                        </td>
                      </tr>
                      <tr>
                        <td align="right" width="22%">
                          <span id="Label16" class="Rpt_Label" designtimedragdrop="3485"></span>
                        </td>
                        <td width="30%">
                          <span id="lblContents" class="Rpt_Label_content" style="display:inline-block;width:100%;"></span>
                        </td>

                        <td align="right" width="20%">
                          <span id="lbl" class="Rpt_Label"></span>
                        </td>

                        <td width="30%">
                          <span id="lblSBillNo" class="Rpt_Label_content" style="display:inline-block;width:100%;"></span>
                        </td>
                      </tr>
                      <tr>
                        <td align="right" width="22%">
                          <span id="Label17" class="Rpt_Label"></span>
                        </td>
                        <td width="30%">
                          <span id="lblUrRef" class="Rpt_Label_content" style="display:inline-block;width:100%;"></span>
                        </td>

                        <td align="right" width="20%">
                          <span id="Label20" class="Rpt_Label"></span>
                        </td>
                        <td width="30%">
                          <span id="lblpol" class="Rpt_Label_content" style="display:inline-block;width:100%;"> </span>
                        </td>
                      </tr>
                      <tr>
                        <td align="right" width="22%">
                          <span id="Label18" class="Rpt_Label"></span>
                        </td>
                        <td width="30%">
                          <span id="lblPkgs" class="Rpt_Label_content" style="display:inline-block;width:100%;"></span>
                        </td>

                        <td align="right" width="20%">
                          <span id="Label21" class="Rpt_Label"></span>
                        </td>
                        <td width="30%">
                          <span id="lblpod" class="Rpt_Label_content" designtimedragdrop="620"
                            style="display:inline-block;width:100%;"></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                 </tr> -->
                 <tr>
                  <td>
                    <table style="height:300px">
                      <tr style="border-bottom: 1px solid" >
                        <td colspan="4" valign="top" width="100%">
                          <table id="Table3" style="font-size: 7pt; font-family: Verdana, Arial"  cellspacing="0"
                            cellpadding="0" width="700" >
                            <tbody>
                              <tr>
                                <td>
                                  <table id="Table3" style="font-size: 7pt; font-family: Verdana, Arial" height="100%" cellspacing="0"
                                    cellpadding="0" width="100%" border="1">
                                    <tr style="height:20px">
                                      <td style="width: 20px; " align="center">
                                        <span class="Rpt_Label_content"
                                          style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">Sr.No.
                                        </span>
                                      </td>
                                      <td style=" width: 500px;  "
                                        align="center" >
                                        <span class="Rpt_Label_content"
                                          style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">Charges
                                        </span>
                                      </td>
                                      <!-- <td style="border-left: 1px solid; width: 150px; border-bottom: 1px solid; "
                                        align="center" >
                                        <span class="Rpt_Label_content"
                                          style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">HSN Code
                                        </span>
                                      </td> -->
                                      <td style=" width: 60px; " align="center"
                                        >
                                        <span class="Rpt_Label_content"
                                          style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">QUANTITY</span>
                                      </td>
                                      <td style=" width: 60px; " align="center"
                                        >
                                        <span class="Rpt_Label_content"
                                          style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">RATE</span>
                                      </td>
                                      <td style=" width: 70px; " align="center"
                                      >
                                      <span class="Rpt_Label_content"
                                        style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">CURRENCY
                                        </span>
                                    </td>
                                      <td style=" width: 70px; " align="center"
                                        >
                                        <span class="Rpt_Label_content"
                                          style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">EX
                                          RATE</span>
                                      </td>
                                    
                                      <td style=" width:100px; " align="center"
                                      >
                                        <span class="Rpt_Label_content"
                                          style="display:inline-block;color:Black;font-size:7pt;font-weight:bold;width:100%;">AMOUNT</span>
                                      </td>
                                    </tr>
                             
                              <!-- </tr> -->
                              <!-- <tr>
                                <td id="tdCharges" align="left" colspan="7">
                                  <table cellspacing="0" cellpadding="0" width="100%" border="0" class="Rpt_Label_content">
                                    <tbody> -->
                                      <tr *ngFor="let data of chargestable" >
                                        <td valign="top" style="width: 20px; " align="center">{{data.SrNo}} </td>
                                        <td valign="top" style="width: 500px; " align="left">{{data.CHRG_DESC}}</td>
                                        <!-- <td valign="top" style="width: 100px; border-left: 1px solid; " align="center">{{data.SACCODE}}</td> -->
                                       
                                        <td valign="top" style="width: 200px; " align="center">{{data.UNIT}}</td>
                                        <td valign="top"style="width: 50px;  " align="right">{{data.RATE}}</td>
                                        <td valign="top" style="width: 100px;  " align="center">{{data.CURRENCY}}</td>
                                        <td valign="top" style="width: 50px;  " align="right">{{data.EXRATE}}</td>
                                        <td valign="top" style="width: 100px; " align="right">{{data.AMOUNT}}</td>
                                      </tr>
                                    <!-- </tbody>
                                  </table>
                                </td>
                              </tr> -->
                                
                                  <tr valign="bottom">
                                    <td align="center" width="5" ></td>
                                    <td align="center" width="500" ></td>
                                    <td align="center" width="150" ></td>
                                    <td align="center" width="150" ></td>
                                    <td align="center" width="150" ></td>
                                    <td  align="center" width="150" >Total Amount</td>
                                    <td  align="right" width="150" >{{TOTAMOUNT}}</td>
                                  </tr>
                            <!-- </tbody> -->
                          </table>
                       
                          </td>
                          </tr>
                     
                            </tbody>
                          </table>
                        </td>
                         </tr>
                      
                    </table>
                  </td>
                 </tr>
              
                 <tr>
                  <table id="Table3" cellspacing="0" cellpadding="0" width="100%" border="0">
                    <tbody>
                      <tr>
                        <td align="left" width="22%">
                          <span id="Label18" class="Rpt_Label">&nbsp;CONDITIONS:</span>
                        </td>
                      </tr>
                      <tr>
                        <td width="100%" style="font-size: 12px;">
                          <B><p>&nbsp;{{NARRATION1}}
                            <!-- "Validity: One Month (Validity Date from DB)
                                                        Rates quoted above are for general cargo & subject to carrier's acceptance, space and availability
                                                      Surcharges (Fuel and IRC) are subject to change 
                                                      terms of payment : 30 days upon receipt of invoice 
                                                      storage free of charges while 3 days after arrival"	 -->
                          </p></B>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </tr>
                <tr>
                  <table>
                    <tbody id="Table3" cellspacing="0" cellpadding="0" width="100%" border="0">
                      <br>
                      <tr>
                        <td style="font-size: 12px;"><b>"THANK YOU FOR YOUR BUSINESS!"</b></td>
                      </tr>
                      <tr>
                        <td>
                          <p>Signature / Stamp:</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p>Place:</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p>Date:</p>
                        </td>
                      </tr>
                      <tr>
                        <td><img src="../../../assets/img/IATAimg.png" width="80" height="70"></td>
                        <td><img src="../../../assets/img/AEoimg.jpg" width="80" height="70" style="margin-left: 400px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
            
                    </tbody>
                  </table>
                </tr>
               </tbody>
             </table>
           </td>
         </tr>
      </tbody>
    </table>
   </div>
  <div class="modal-footer">
    <div class="row">
      <input type="button" value="Print" (click)="PrintElem()" />
    </div>
  </div>
</div>