// core overrides
$bgimage:                           url(http://manilal.com/erp/include/img/formbg2.jpg);
$bgyellow:                          #ffff00;
$bgred:								#ff0200;
$bglightgreen:                      #00FF99;
$hllblue:							#99cccc;