select{ 
	height: 18px;
}
.formheading {
	background: $bgimage;
	background-repeat: repeat-x;
}


.bgyellow {
	background-color: $bgyellow;
}

.bglightgreen {
	background-color: $bglightgreen;
}

.bghighlightblue{
	background-color: $hllblue;
}

.red {
	color: $bgred;
}

.bgred {
	background-color: $bgred;
}

.bgwhite {
	background-color: #f2f9ff;
}

.bglightmaroon {
	background-color: #dceaf775;
}

.bglightgray {
	background-color: #eef4fa;
}

.yscroll{
	overflow-y: scroll;
	white-space: nowrap;
}

.y300heightscroll{
	height:300px;
	overflow-y: scroll;
	white-space: nowrap;
}

.y350heightscroll{
	height:350px;
	overflow-y: scroll;
	white-space: nowrap;
}

.xscroll{
	overflow-x: scroll;
	white-space: nowrap;
}

.xyscroll{
	overflow: scroll;
	white-space: nowrap;
}

.title-head {
	height: 18px;
    font-family: verdana;
    font-weight: bold;
    color: #000;
    font-size: 11px;
    background-repeat: repeat-x;
    border-collapse: collapse;
}

.display-inline{
	display: -webkit-inline-box;
}

.link-label{
	cursor: pointer;
	text-decoration: none;
	color: #0000ff;
    font-weight: bold;
    font-family: Verdana;
    font-size: 11px;
    background-color: #FFFFFF;
    border-bottom: 0px solid #C7E3FE;
    border-left: 0px solid #C7E3FE;
    text-align: left;
}

.error-text{
	border: 1px dashed #00FF00;
    font-family: verdana;
    font-size: 10px;
    color: #FF0000;
    font-weight: bold;
    background-color: #FFFF99;
    width: 100%;
}

.align-top{
	vertical-align: top;
}

.normal-icon{
	height: 31px;
	width: 31px;
}

.centerlabel{
	text-align: center;
}

.right-text{
	text-align: right;
}

.width10
{
	 width: 10px;
}

.width20
{
	 width: 20px;
}

.width30
{
	 width: 30px;
}
.width40
{
	 width: 40px;
}
.width50
{
	 width: 50px;
}
.width60
{
	 width: 60px;
}
.width70
{
	 width: 70px;
}
.width75
{
	 width: 75px;
}
.width80
{
	 width: 80px;
}
.width90
{
	 width: 90px;
}
.width100
{
	 width: 100px;
}
.width120
{
	 width: 120px;
}
.width130
{
	 width: 130px;
}


.width150
{
	width: 150px;
}

.width160
{
	width: 160px;
}
.width180
{
	 width: 180px;
}
.width200
{
	width: 200px;
}
.width220
{
	width: 220px;
}
.width230
{
	width: 230px;
}
.width250
{
	width: 250px;
}
.width280
{
	width: 280px;
}
.width300
{
	width: 300px;
}
.width350
{
	width: 350px;
}
.width450
{
	width: 450px;
}
.width500
{
	width: 500px;
}

.width750
{
	width: 750px;
}
.width1100
{
	width: 1100px;
}

.tablebg{
	background-color: #f1f8ff;
}

.trbg{
    background-color: #dae8f387;
}

.trheader{
	background-color: #6999aa;
}
 
.modal-fix-body{
	height: 500px;
	overflow-y: scroll; 
}


.border-top{
    border-top: 1px solid #ffffff00;
}
.border-right{
    border-right: 1px solid #ffffff00;
}
.border-bottom{
    border-bottom: 1px solid #ffffff00;
}
.border-left{
    border-left: 1px solid #ffffff00;
}

.table-darkgreen-main{
    background-color: #003B46;
    color: white;
}
.table-darkgreen-main-sub{
    background-color: #07575B;
    color: white;
}
.table-darkgreen-main-sub-sub{
    background-color: #66A5AD;
    color: white;
}
.table-background-dark-golden{
background-color: #b59e3d;
}

.ngx-tab-style{
	background-color: #e8f4ff;
}

.tr-hover:hover {
    background-color: #dfe7ef;
}



.anchor-link{
	text-decoration: underline;
	cursor: pointer;
	color: blue;
	font-weight: bold;
}
.gselect {
    >div {
        >div.single {
            >div.toggle {
                color: white !important;
                background: none;
                &:hover {
                    background-color: #4389a9;
                }
            }
            >div.placeholder {
                color: white;
                font-size: 35px;
                font-family: MontserratRegular;
            }
            >div.clear {
                &:hover {
                    background-color: #4389a9;
                }
            }
        }
        border: none !important;
    }
}
select-dropdown {
    display: none;
}
.modal-fix-body1{
	height: 600px;
	width: 850px;
	overflow-y: scroll; 
}
 
.bakgrdliteBlue{
	background-color: #70b6d0;
} 
.headerwhite{
	color: white;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
	padding: 1px!important;
	font-family: verdana;
	font-size:10px
}
.ng-select .ng-select-container .ng-value-container .ng-input>input {
	font-size:10px !important;
	font-family: verdana !important;
	color: #0000ff;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
	font-size:10px !important;
	font-family: verdana !important;
	color: #0000ff;
	height: 20px !important;
}
.ng-select.custom {
	.ng-select-container {
	  .ng-value-container {
		color: #000080;
		font-size:10px !important;
		font-family: verdana !important; 
		height: 20px !important;
		.ng-placeholder {
		  color:#000080;
		  font-size:10px !important;
		  font-family: verdana !important;
		  
		}
	  }
	}
  }
  .ng-select.ng-select-single .ng-select-container {
    height: 20px !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: #f5faff;
    color: #333;
}
.ng-dropdown-panel{
	text-align: left;
}

/* This is what we are focused on */
.table-wrapper{
   overflow-y: scroll;
   flex-grow: 1;
 }
 
 .table-wrapper th{
	 position: sticky;
	 top: 0;
 }
 
 /* A bit more styling to make it look better */
 .table-wrapper{
   background: white;
 }
 .Rpt_Labelbank
{
	font-weight: bold;
	font-size: 7pt;
	color: black;
	font-family: Verdana,Arial;
}

.Rpt_Label_contentbank
{
	font-size: 7pt;
	color: black;
	font-family: Verdana,Arial;
}
.trheadercontainer{
	background-color: #26a6d4;
}
  .col-form-span-label-console {
		font-family: Verdana;
		font-size: 11px;
		background-color: #f3f8fe00;
		text-align: left;
		color:#fff
	  }
	  .trheader{
	background-color: #26a6d4;
}

 .card-header {
  position: sticky;
  top: 0;
  z-index: 1020; /* should be higher than other elements */
  background-color: #26a6d4 !important;
  color: white;
}


