<table class="table table-bordered table-sm-new">
	<tr class="trbg">
		<td colspan="4"><span class="col-form-span-label"><b>General Details</b></span></td>
	</tr>
	<tr style="background-color: #f1f1f1c7;">
		<td class="width150"><span class="col-form-span-label">Export No.</span></td>
		<td><span class="col-form-span-value"><b>{{viewDataTable?.exptno_view}}</b></span></td>
		<td class="width150"><span class="col-form-span-label">Doc recd date</span></td>
		<td><span class="col-form-span-value">{{viewDataTable?.DOC_RECD_DATE}}</span></td>
	</tr>
	<tr style="background-color: #f1f1f1c7;">
		<td class="width150"><span class="col-form-span-label">Shipper Name</span></td>
		<td colspan="3"><span class="col-form-span-value">{{viewDataTable?.SHIPPER_NAME}}</span></td>
	</tr>
	<tr style="background-color: #f1f1f1c7;">
		<td class="width150"><span class="col-form-span-label">Consignee</span></td>
		<td colspan="3"><span class="col-form-span-value">{{viewDataTable?.CONSIGNEE}}</span></td>
	</tr>
	<tr style="background-color: #f1f1f1c7;">
		<td class="width150"><span class="col-form-span-label">Invoice No.</span></td>
		<td><span class="col-form-span-value">{{viewDataTable?.INV_NO}}</span></td>
		<td class="width150"><span class="col-form-span-label">Invoice date</span></td>
		<td><span class="col-form-span-value">{{viewDataTable?.INV_DATE}}</span></td>
	</tr>
	<tr style="background-color: #f1f1f1c7;">
		<td class="width150"><span class="col-form-span-label">GRI No.</span></td>
		<td><span class="col-form-span-value">{{viewDataTable?.GRI_NO}}</span></td>
		<td class="width150"><span class="col-form-span-label">GRI date</span></td>
		<td><span class="col-form-span-value">{{viewDataTable?.GRI_DATE}}</span></td>
	</tr>
	<tr style="background-color: #f1f1f1c7;">
		<td class="width150"><span class="col-form-span-label">Total No. of Packages</span></td>
		<td><span class="col-form-span-value">{{viewDataTable?.TOTAL_NO_OF_PACKAGES}}</span></td>
		<td class="width150"><span class="col-form-span-label">Total No. of Pieces</span></td>
		<td><span class="col-form-span-value">{{viewDataTable?.TOTAL_NO_OF_PIECES}}</span></td>
	</tr>
	<tr class="trbg">
		<td colspan="4"><span class="col-form-span-label"><b>Vessel Details</b></span></td>
	</tr>
	<tr style="background-color: #f1f1f1c7;">
		<td class="width150"><span class="col-form-span-label">Vessel Name</span></td>
		<td colspan="3"><span class="col-form-span-value">{{viewDataTable1?.VESSEL_NAME}}</span></td>
	</tr>
	<tr style="background-color: #f1f1f1c7;">
		<td class="width150"><span class="col-form-span-label">ETD</span></td>
		<td><span class="col-form-span-value">{{viewDataTable1?.ETD}}</span></td>
		<td class="width150"><span class="col-form-span-label">Actual Departure</span></td>
		<td><span class="col-form-span-value">{{viewDataTable1?.ACTUAL_DEPARTURE}}</span></td>
	</tr>
	<tr style="background-color: #f1f1f1c7;">
		<td class="width150"><span class="col-form-span-label">Order No.</span></td>
		<td colspan="3"><span class="col-form-span-value">{{viewDataTable?.ORDERNO}}</span></td>
	</tr>
	<tr style="background-color: #f1f1f1c7;">
		<td class="width150"><span class="col-form-span-label">GR. WT.</span></td>
		<td><span class="col-form-span-value">{{viewDataTable?.GR_WT}}</span></td>
		<td class="width150"><span class="col-form-span-label">NET WT.</span></td>
		<td><span class="col-form-span-value">{{viewDataTable?.NET_WT}}</span></td>
	</tr>
	<tr style="background-color: #f1f1f1c7;">
		<td class="width150"><span class="col-form-span-label">Volume</span></td>
		<td colspan="3"><span class="col-form-span-value">{{viewDataTable?.VOLUME}}</span></td>
	</tr>
</table>