<div class="row">	
	<div class="col-sm-3">
	</div>
	<div class="col-sm-6">	 
		<table class="table table-bordered table-sm-new">	
			<tr>
				<td  colspan="2"  class="centerlabel" >
					<button class="btn btn-sm btn-success" type="submit" id="btndelete" name="btnSearch"     (click)="deletecarting()"> <span class="col-form-span-label "><i class="fa fa-search"></i> Delete</span></button>
					<button   class="btn btn-sm btn-danger   " type="reset"     (click)="trfVessel()"><span class="col-form-span-label "><i class="fa fa-print "></i> Tranfer Veseel</span></button>
				</td> 
			</tr>
			<tr>				 
				<td>
					<span class="col-form-span-label ">Vessel Name</span>
				</td>
				<td  >
					<select class="form-control width300"  [(ngModel)]="VslName" (change)="onAgentSelect($event.target.value)">
						<option value="">Please select</option>
						<option *ngFor="let d of vslnameList" value={{d.VSL_RTNO}}>{{d.VSL_NAME}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<span class="col-form-span-label ">Vessel Agent</span>
				</td>
				<td  >
					<select class="form-control width200"  [(ngModel)]="VslAgent"  >
						<option value="">Please select</option>
						<option *ngFor="let d of Agentlist" value={{d.agt_code}}>{{d.agt_name}}</option>
					</select>
				</td>
			</tr>
			<tr>				
				<td colspan="2" class="centerlabel" >
					<button class="btn btn-sm btn-success" type="submit"  name="btnAgtAdd"  (click)="onsearch()"> <span class="col-form-span-label "><i class="fa fa-search"></i> Submit </span></button>
				</td>
				
			</tr>
			 
			
		</table>
	</div>
	<div class="col-sm-3">            
	</div>
</div>
 