<div class="animated fadeIn">
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<app-shipment-progress-common-view [ExptNo]="ExptNo"></app-shipment-progress-common-view>
			<table class="table table-bordered table-sm-new">
				<tr class="trbg">
					<td colspan="8"><span class="col-form-span-label"><b>Prealert Detail </b></span></td>
				</tr>
				<tr>
					<td class="width150"><span class="col-form-span-label">Prealert Sent On </span></td>
					<td colspan="7">
						<my-date-picker name="mydatepicker" [options]="myDatePickerOptions" [(ngModel)]="SentOnDate"></my-date-picker>
					</td>
				</tr>
				<tr class="trbg centerlabel" *ngIf="ErrorMessage != ''">
					<td colspan="8">
						<span class="col-form-span-error">{{ErrorMessage}}</span>
					</td>
				</tr>
				<tr class="trbg centerlabel">
					<td colspan="8">
						<button type="button" name="submitButton" class="btn btn-sm btn-success" (click)="submit();" [disabled]="ErrorMessage != ''" #submitButton>
							<span class="col-form-span-label"><app-font-changer [fontIndex]="'14'"></app-font-changer> Submit</span>
						</button>
						<button type="button" name="abortButton" class="btn btn-sm btn-danger" (click)="abort();">
							<span class="col-form-span-label"><app-font-changer [fontIndex]="'7'"></app-font-changer> Abort</span>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>