<div class="animated fadeIn">
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<table class="table table-bordered table-sm-new">
				<tr class="trbg">
					<td colspan="8"><span class="col-form-span-label"><b>TRANSFER FROM SEA TO AIR - <u>{{ExptNo}}</u></b></span></td>
				</tr>
				<tr>
					<td class="width150"><span class="col-form-span-label">Company Name </span></td>
					<td colspan="7">
						<ng-select [items]="CompanyList"
								   bindLabel="CMP_NAME"
								   bindValue="CMP_CODE"
								   placeholder="-- Select --"
								   [(ngModel)]="Company"
								   class="form-control"
								   >
						</ng-select>
					</td>
				</tr>
				<tr class="trbg centerlabel" *ngIf="ErrorMessage != ''">
					<td colspan="8">
						<span class="col-form-span-error">{{ErrorMessage}}</span>
					</td>
				</tr>
				<tr class="trbg centerlabel">
					<td colspan="8">
						<button type="button" name="submitButton" class="btn btn-l btn-success" (click)="submit();" [disabled]="ErrorMessage != ''" #submitButton>
							<span class="col-form-span-label"><app-font-changer [fontIndex]="'14'"></app-font-changer> Submit</span>
						</button>
						<button type="button" name="abortButton" class="btn btn-l btn-danger" (click)="abort();">
							<span class="col-form-span-label"><app-font-changer [fontIndex]="'7'"></app-font-changer> Abort</span>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>