<div class="animated fadeIn">
	<app-export-prealert-prepare [searchList]="searchList" [searchListLength]="searchListLength" *ngIf="viewType == 'Prepare'" (result)="PrealertPrepare($event)"></app-export-prealert-prepare>
	<app-export-prealert-auto [searchList]="searchList" [searchListLength]="searchListLength" *ngIf="viewType == 'Auto'" (result)="AutoPrealert($event)"></app-export-prealert-auto>
	<app-export-prealert-sending-through *ngIf="viewType == 'Sending'" (result)="ExitPrealert($event)" ></app-export-prealert-sending-through>
</div>