<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header formheading centerlabel">
			   <strong><u>Prepare Pre-Alert</u></strong>
			</div>
		</div>
	</div>
</div>
<!-- <div class="row" *ngIf="searchListLength == 0">
	<div class="col-sm-12 centerlabel">
		<img src="assets/img/loading.gif" />
	</div>
</div> -->
<!-- <div class="row" *ngIf="searchListLength == -1">
	<div class="col-sm-12 centerlabel">
		<span class="col-form-span-label">No Record Found!</span>
	</div>
</div> -->
<div class="row">
		<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="row"  >
			<table class="table table-bordered table-striped table-sm-new bgwhite">
				<tr>
					<td><span class="col-form-span-label"><b>MAWBNO</b></span></td>
					
					<td> <input [(ngModel)]="MAWBNO" type="text"  maxlength="15" class="form-control width150"></td>
				</tr>
				<tr>
						<td><span class="col-form-span-label"><b>REMARK</b></span></td>
						
						<td> <input [(ngModel)]="REMARK" type="text"  maxlength="50" class="form-control width250"></td>
					</tr>
				<tr>
						<td colspan="2" class="centerlabel" >
								<button (click)="previewClick()" class="btn btn-sm btn-info"  >
										<span class="col-form-span-label"><i class="fa fa-search"></i>&nbsp;Preview</span>
								</button>
							 
				 </td>
					
				</tr>
				<!-- <thead>
					<tr class="title-head formheading">
						<th class="width150">View</th>
						<th></th>
						<th>MAWB No</th>
						<th>MAWB DT.</th>
						<th>ETD</th>
						<th>ETA</th>
						<th>HAWB No.</th>
						<th>HAWB DT.</th>
						<th>Ex-Jobno.</th>
						<th>No of Pkgs</th>
						<th>GRWT</th>
						<th>CBM</th>
						<th>Consignee</th>
						<th>Flight Details</th>
						<th>MAWB FRT</th>
						<th>Invoice Type</th>
						<th>MAWBDEST</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let obj of searchList">
						<td class="width150">
							<button (click)="previewClick(obj.MAWBNO, obj.REMARK)" class="btn btn-sm btn-info" *ngIf="obj.MAWBNO !='' ">
								<span class="col-form-span-label"><i class="fa fa-search"></i>&nbsp;Preview</span>
							</button>
						 
						</td>
						<td><textarea rows="2" class="form-control width150"  maxlength="240" [(ngModel)]="obj.REMARK"></textarea></td>
						<td><span class="col-form-span-label">{{obj.MAWBNO}}</span></td>
						<td><span class="col-form-span-label">{{obj.AEROBILLDT}}</span></td>
						<td><span class="col-form-span-label">{{obj.ETD}}</span></td>
						<td><span class="col-form-span-label">{{obj.ETA}}</span></td>
						<td><span class="col-form-span-label">{{obj.HOUSEBILLNO}}</span></td>
						<td><span class="col-form-span-label">{{obj.HOUSEBILLDT}}</span></td>
						<td><span class="col-form-span-label">{{obj.EXPTNO}}</span></td>
						<td><span class="col-form-span-label">{{obj.EXPT_NOOFPGS}}</span></td>
						<td><span class="col-form-span-label">{{obj.EXPT_GRWT}}</span></td>
						<td><span class="col-form-span-label">{{obj.EXPT_VOLUME}}</span></td>
						<td><span class="col-form-span-label">{{obj.CONS_NAME}}</span></td>
						<td><span class="col-form-span-label">{{obj.FLIGHTDET}}</span></td>
						<td><span class="col-form-span-label">{{obj.MAWBFRT}}</span></td>
						<td><span class="col-form-span-label">{{obj.EXPT_INVTYPE}}</span></td>
						<td><span class="col-form-span-label">{{obj.MAWBDEST}}</span></td>
					</tr>
				</tbody> -->
			</table>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>