<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header formheading">
                    <strong>Search</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <table class="table table-sm-new bgwhite">
                <tr class="trbg">
                    <td>
                        <span class="col-form-span-label">
                        Import Code
                    </span>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="inputValue" class="form-control" [maxlength]="15" [OnlyNumber]="true" />
                    </td>
                </tr>
                <tr class="trbg centerlabel">
                    <td colspan="3">
                        <button type="button" name="submitButton" class="btn btn-sm btn-primary" (click)="search();">
                            <span class="col-form-span-label">
                                <i class="fa fa-search"></i> Search</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>