<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">		
						
						<app-fcr-printview   [hbltype]="Type" *ngIf="Type=='F'">	</app-fcr-printview >
						<app-mto-printview  [hbltype]="Type" *ngIf="Type=='M'" >	</app-mto-printview >
						
					</div>  
					<div class="col-md-2"></div>  
				</div>
			</div>         
		</div>
		<div class="card-footer rightlabel">
			
			<!-- <button class="btn btn-sm btn-success" type="submit"   [disabled]="buttonStatus" (click)="printUpdate()"   ><i class="fa fa-dot-circle-o" ></i> Update</button>
			<button class="btn btn-m btn-success" type="submit" [disabled]="buttonStatus" (click)="Printdraft()" ><i class="fa fa-dot-circle-o"   ></i> Draftprint</button>			
			<button class="btn btn-sm btn-danger" type="reset"   [disabled]="buttonStatus" (click)="Print()"><i class="fa fa-print "></i> Print</button>
			&nbsp;&nbsp;<input type="checkbox"  [(ngModel)]="expressbill" (change)="checkValue($event)"   >
			<span class="col-form-span-label "><b>Express Bill </b></span> -->
			<table style="width:450px;" align="center" >
				<tr>
					<td>
						<button class="btn btn-sm btn-success" type="submit"   [disabled]="buttonStatus" (click)="printUpdate()"   ><i class="fa fa-dot-circle-o" ></i> Update</button>
					</td>
					<td>
						<button class="btn btn-m btn-success" type="submit" [disabled]="buttonStatus" (click)="Printdraft()" ><i class="fa fa-dot-circle-o"   ></i> Draftprint</button><td>
					</td>
					<td>
					<button class="btn btn-sm btn-danger" type="reset"   [disabled]="buttonStatus" (click)="Print()"><i class="fa fa-print "></i> Print</button>
					</td>
					<td>
						<input type="checkbox"  [(ngModel)]="expressbill" (change)="checkValue($event)"   >
					<span class="col-form-span-label "><b>Express Bill </b></span>
					</td>
					<td>
						<!-- <select class="form-control width125" [(ngModel)]="WaterMarkoption" style="border-radius: 7px;">
							<option value="">--Please select--</option>
							<option value="1">With Watermark</option>
							<option value="0">Without Watermark</option>
						</select> -->
						<input type="checkbox"  [(ngModel)]="WaterMarkoption" (change)="getwatermarkvalue($event)"   >
						<span class="col-form-span-label "><b>with watermark </b></span>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
